/*
────────────────────────────────────────────────────────────────────────────
   HomePage & Slides
──────────────────────────────────────────────────────────────────────────── */

/* Increase size of media buttons in slides
.pause-button i,
.volume-toggle i { font-size: 2rem !important }
 */

/* Make text bigger if window size allows
@media(min-width: 400px) and (min-height: 767px) {
    .slide .genre,
    .slide .info-container,
    .slide .plot-container { font-size: 120% }
} */

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {

}
/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {

    /* Disable Slides in TV layout because they don't work well with a remote */
    #slides-container               { display: none !important; }
    .homeSectionsContainer          { margin-top: 0em !important; }

    /* User Button focus animation when profile image is set */
    .headerUserButtonRound          { border-radius: 100em !important; }
    .headerUserButtonRound:focus    { box-shadow: var(--buttonglow); }
}

/* Layout Mobile ─────────────────────────────────────────────────────────── */
.layout-mobile {

}
