/* Add to Custom CSS in Dashboard > Branding */
@import url('https://buesche87.github.io/infinitv/infinitv.css');
@import url('https://buesche87.github.io/infinitv/infinitv-cast.css');
@import url('https://buesche87.github.io/infinitv/ultrachromic-episodes.css');
:root {

  /* Accent Color */
  --accent-h: 36;    /* Hue: Orange */
  --accent-s: 100%;  /* Saturation */
  --accent-l: 50%;   /* Brightness */
  --accent: 255,153,0; /* will deprecate in future updates */

  /* Background Image */
  /* > There are limitations when using jellyfin media player */
  /* > the chromium version shipped with qt-webengine5 is too old for some rules*/
  --bgImage: url("https://wallpapershome.com/images/pages/pic_h/12740.jpg");

  /* Darkness & Opacity */
  --bgdarkness: 0.6;    /* Background Darkness */
  --headeropacity: 0.7; /* Header Opacity */
  --draweropacity: 0.9; /* Drawer Opacity */
  --footeropacity: 0.8; /* Card Footer Opacity */

  /* Roundings */
  --rounding-media: 12px;
  --rounding-system: 4px;

  /* Card Shadow */
  --cardshadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
}