/* Add to Custom CSS in Dashboard > Branding */
@import url('https://buesche87.github.io/infinitv/infinitv.css');
@import url('https://buesche87.github.io/infinitv/infinitv-cast.css');
@import url('https://buesche87.github.io/infinitv/ultrachromic-episodes.css');

/* Accent Color */
:root {
  --accent-h: 36;    /* Hue: Orange */
  --accent-s: 100%;  /* Saturation */
  --accent-l: 50%;   /* Brightness */
}
:root {--accent: 255,153,0 ;} /* will deprecate in future updates */

/* Darkness & Opacity */
:root {--bgdarkness: 0.6 ;}
:root {--headeropacity: 0.7 ;}
:root {--draweropacity: 0.9 ;}
:root {--footeropacity: 0.8 ;}

/* Roundings */
:root {--rounding-media: 12px ;}
:root {--rounding-system: 4px ;}