
.layout-mobile .overflowBackdropCard, 
.layout-mobile .overflowSmallBackdropCard {
    width: 49vw;
}

@media(min-width: 25em) {
    .layout-mobile .overflowPortraitCard {
        width: 29.5vw;
    }
    .layout-mobile .overflowBackdropCard {
        width: 31.5vw;
    }
}

@media(min-width: 35em) {
    .layout-mobile .overflowSquareCard {
        width: 31.2vw;
    }

    .layout-mobile .overflowBackdropCard {
        width: 29.5vw;
    }

    .layout-mobile .overflowSmallBackdropCard {
        width: 30vw;
    }
}

@media(min-width: 43.75em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 22.1vw;
    }
}

@media(min-width: 48.125em) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 28.2vw;
    }
}

@media(orientation: landscape) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 30vw;
    }

    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 23.1vw;
    }
}

@media(orientation: landscape)and (min-width:48.125em) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 22.4vw;
    }
}

@media(orientation: landscape)and (min-width:50em) {
    .layout-mobile .overflowSmallBackdropCard {
        width:15.5vw;
    }
}

@media(min-width: 50em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 17.8vw;
    }
}

@media(min-width: 75em) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 22.4vw;
    }

    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 14.8vw;
    }
}

@media(min-width: 87.5em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 12.7vw;
    }
}

@media(min-width: 100em) {

    .layout-mobile .emby-scroller {
        padding-left: 2%;
    }

    
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 18.4vw;
    }

    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 10.8vw;
    }
}

@media(min-width: 120em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width:10.41vw;
    }
}

@media(min-width: 131.25em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width:9.3vw;
    }
}

@media(min-width: 156.25em) {
    .layout-mobile .emby-scroller {
        padding-left: 1%;
    }
    
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 15.6vw;
    }
}
