/*  
  ==================================
  Dynamic Cards
  ==================================

  infinitv - HTPC Theme for Jellyin

*/

/* Layout TV: Card spacing
--------------------------------------------------------------------------*/

.layout-tv .itemsContainer-tv > .backdropCard,
.layout-tv .itemsContainer-tv > .portraitCard {
    padding-bottom: 2vh;
    padding-right: .5vw;
}
.layout-tv .itemsContainer > .squareCard {
    padding-bottom: .5vh;
    padding-right: .25vw;
}
.layout-tv .itemsContainer-tv > .personCard {
    padding-right: .5vw;
    font-size: 90% !important;
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard {
    margin-bottom: 1em !important;
}

.layout-tv .itemsContainer-tv > .overflowBackdropCard {
    padding-right: .75em;
}

/* Layout Mobile: Card spacing
--------------------------------------------------------------------------*/

/*
.layout-mobile .overflowBackdropCard, 
.layout-mobile .overflowSmallBackdropCard {
    width: 49vw;
}
.layout-mobile .detailVerticalSection .overflowPortraitCard:not(.personCard) {
    margin-right: 0em !important;
    margin-left: 0em !important;
}
.layout-mobile .detailVerticalSection .similarContent .card {
    width: 34%;
}
.layout-mobile .detailVerticalSection .overflowPortraitCard:not(.personCard) > .cardBox {
    margin-right: .7em !important;
    margin-left: .7em !important;
} */


/* CardBoxes 
--------------------------------------------------------------------------*/

/* Cards: Narrow margins */
.cardBox-bottompadded {
    margin-bottom: 0.5em !important;
}

/* Person Cards: Center Content */
.itemsContainer-tv > .personCard > .cardBox {
    text-align: center;
    text-align: -webkit-center;
    margin-right: .5em !important;
    margin-left: .5em !important;
}




/*
===========================================================================
   Card Size 
===========================================================================
*/

/* Very wide Screens 
--------------------------------------------------------------------------*/

@media all and (min-width: 175em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 11.7vw !important;
    }
    
    .itemsContainer-tv > .portraitCard, 
    .itemsContainer-tv > .squareCard {
        width: 10.4vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 13.2vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 18.3vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 7.3vw !important;
    }
    
    .itemsContainer-tv > .personCard {
        width: 8.2vw !important;
    }
    .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.2vw - 1.75em) !important;
        height: calc(8.2vw) !important;
    }

    
    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 11.7vw !important;
    }
   
    /* Layout TV */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 13.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 11.9vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 7.3vw !important;
    }
    
    .layout-tv .itemsContainer-tv > .personCard {
        width: 8.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.2vw - 1.75em) !important;
        height: calc(8.2vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 11.7vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 7.15vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(7.15vw - 1.75em) !important;
        height: calc(7.15vw) !important;
    }
    
}
@media all and (min-width: 150em) and (max-width: 175em)  {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 11.7vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 13.2vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 18.3vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 7.3vw !important;
    }
    .itemsContainer-tv > .personCard {
        width: 9vw !important;
    }

    
    .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9vw - 1.75em) !important;
        height: calc(9vw) !important;
    }

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 11.7vw !important;
    }
    
    /* Layout TV */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 13.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 13.6vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 7.3vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard {
        width: 9vw !important;
    }

    
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9vw - 1.75em) !important;
        height: calc(9vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 13.4vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 7.7vw  !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(7.7vw - 1.75em) !important;
        height: calc(7.7vw) !important;
    }
    
}

/* Wide Screens 
--------------------------------------------------------------------------*/
@media all and (min-width: 135em) and (max-width: 150em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 13.4vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 13.2vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 18.3vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 7.3vw !important;
    }
    
    .itemsContainer-tv > .personCard {
        width: 8.9vw !important;
    }
    .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.9vw - 1.75em) !important;
        height: calc(8.9vw) !important;
    }

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 13.4vw !important;
    }
    
    /* Layout TV */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 13.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 15.8vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 7.3vw !important;
    }
    
    .layout-tv .itemsContainer-tv > .personCard {
        width: 8.9vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.9vw - 1.75em) !important;
        height: calc(8.9vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 15.6vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 8.4vw  !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.4vw - 1.75em) !important;
        height: calc(8.4vvw) !important;
    }
    
}

@media all and (min-width: 120em) and (max-width: 135em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 13.4vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 15.2vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 18.2vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 9.2vw !important;
    }
    
    .itemsContainer-tv > .personCard {
        width: 8.9vw  !important;
    }
   .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.9vw - 1.75em) !important;
        height: calc(8.9vw) !important;
    }

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 13.4vw !important;
    }
    
    /* Layout TV */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 15.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 19vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 9.2vw !important;
    }
    
    .layout-tv .itemsContainer-tv > .personCard {
        width: 8.9vw  !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.9vw - 1.75em) !important;
        height: calc(8.9vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 18.7vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 8.4vw  !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(8.4vw - 1.75em) !important;
        height: calc(8.4vw) !important;
    }
    
}

/* Normal Screens 
--------------------------------------------------------------------------*/

@media all and (min-width: 100em) and (max-width: 120em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 15.6vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 22.6vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 9.2vw !important;
    }
    
    .itemsContainer-tv > .personCard {
        width: 9.8vw  !important;
    }
    .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9.8vw - 1.75em) !important;
        height: calc(9.8vw) !important;
    }

    .layout.tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 15.6vw !important;
    }
    
    /* Layout TV */   
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 19vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 9.2vw !important;
    }
    
    .layout-tv .itemsContainer-tv > .personCard {
        width: 9.8vw  !important;
    }
    layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9.8vw - 1.75em) !important;
        height: calc(9.8vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 18.7vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 9.2vw  !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9.2vw - 1.75em) !important;
        height: calc(9.2vvw) !important;
    }
    
}
@media all and (min-width: 87.5em) and (max-width: 100em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 15.6vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 15.2vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 22.6vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 9.8vw !important;
    }
    .itemsContainer-tv > .personCard {
        width: 9.7vw !important;
    }
    .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9.7vw - 1.75em) !important;
        height: calc(9.7vw) !important;
    }

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 15.6vw !important;
    }
    
    /* Layout TV */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 15.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 23.6vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 9.8vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard {
        width: 9.7vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9.7vw - 1.75em) !important;
        height: calc(9.7vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 23.2vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 9.2vw  !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(9.2vw - 1.75em) !important;
        height: calc(9.2vvw) !important;
    }
    
    
}

/* Portrait Screens 
--------------------------------------------------------------------------*/

@media all and (min-width: 75em) and (max-width: 87.5em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 18.7vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 18.2vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 22.6vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 11.5vw !important;
    }
    .itemsContainer-tv > .personCard {
        width: 10.8vw !important;
    }
    .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(10.8vw - 1.75em) !important;
        height: calc(10.8vw) !important;
    }

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 18.7vw !important;
    }
    
    /* Layout TV */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 18.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 23.6vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 11.5vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard {
        width: 10.8vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(10.8vw - 1.75em) !important;
        height: calc(10.8vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 23.2vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 11.4vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(11.4vw - 1.75em) !important;
        height: calc(11.4vvw) !important;
    }
    
}
@media all and (min-width: 50em) and (max-width: 75em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 23.5vw !important;
    }
    
    .itemsContainer-tv > .overflowPortraitCard {
        width: 22.5vw !important;
    }
    .itemsContainer-tv > .overflowBackdropCard {
        width: 30vw !important;
    }
    .itemsContainer-tv > .overflowSquareCard {
        width: 14.8vw !important;
    }
    .itemsContainer-tv > .personCard {
        width: 17.4vw !important;
    }
    .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(17.4vw - 1.75em) !important;
        height: calc(17.4vw) !important;
    }

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 23.5vw !important;
    }
    
    /* Layout TV */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 22.5vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 31.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 14.8vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard {
        width: 17.4vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(17.4vw - 1.75em) !important;
        height: calc(17.4vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 30.8vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 18vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(17.8vw - 1.75em) !important;
        height: calc(17.8vvw) !important;
    }
    
}
@media (min-width: 43.75em) and (max-width: 50em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 31.2vw !important;
    }
    
    .itemsContainer > .overflowPortraitCard {
        width: 29.7vw !important;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 32vw !important;
    }
    .itemsContainer > .overflowSquareCard {
        width: 17.7vw !important;
    }
    .itemsContainer > .personCard {
        width: 17vw !important;
    }
    .itemsContainer > .personCard .cardScalable {
        width:  calc(17vw - 1.75em) !important;
        height: calc(17vw) !important;
    }


    
    /* Layout TV */

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 31.2vw !important;
    }
    
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 29.7vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 47.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 17.7vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard {
        width: 17vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(17vw - 1.75em) !important;
        height: calc(17vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 46vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 17.7vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(17.7vw - 1.75em) !important;
        height: calc(17.7vw) !important;
    }
    
}
@media all and (min-width: 25em) and (max-width: 43.75em) {

    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 31vw !important;
    }
    
    .itemsContainer > .overflowPortraitCard {
        width: 30vw;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 48vw;
    }
    .itemsContainer > .overflowSquareCard {
        width: 22vw; 
    }
    .itemsContainer > .personCard {
        width: 23.2vw;
    }
    .itemsContainer > .personCard .cardScalable {
        width:  calc(23.2vw - 1.75em);
        height: calc(23.2vw);
    }


    
    /* Layout TV */

    .layout-tv .itemsContainer > .portraitCard, 
    .layout-tv .itemsContainer > .squareCard {
        width: 31vw !important;
    }
    
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 43.3vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 47.2vw !important;
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 22.3vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard {
        width: 21vw !important;
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(21vw - 1.75em) !important;
        height: calc(21vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 46vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 21.9vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(21.9vw - 1.75em) !important;
        height: calc(21.9vw) !important;
    }
    
    
}
@media all and (max-width: 25em) {
    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 7.3vw !important;
    }

    
    .itemsContainer > .overflowPortraitCard {
        width: 30vw !important;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 46vw !important;
    }
    .itemsContainer > .overflowSquareCard {
        width: 22vw !important; 
    }
    .itemsContainer > .personCard {
        width: 23.2vw !important;
    }
    .itemsContainer > .personCard .cardScalable {
        width:  calc(23.2vw - 1.75em) !important;
        height: calc(23.2vw) !important;
    }


    /* Layout Mobile */
    .layout-mobile .itemsContainer > .card > .cardBox {
        margin-left: .6em;
        margin-right: .6em;
    }
    
    /* Layout TV */

    .layout-tv > .itemsContainer > .portraitCard, 
    .layout-tv > .itemsContainer > .squareCard {
        width: 7.3vw !important;
    }
    
    .layout-tv .itemsContainer-tv > .overflowPortraitCard {
        width: 22vw !important; 
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 22vw !important; 
    }
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 22vw !important; 
    }
    .layout-tv .itemsContainer-tv > .personCard {
        width: 22vw !important; 
    }
    .layout-tv .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(22vw - 1.75em) !important;
        height: calc(22vw) !important;
    }


    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowPortraitCard {
        width: 15.3vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .overflowBackdropCard {
        width: 19vw !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard {
        width: 9.2vw  !important;
    }
    .layout-tv .detailPageWrapperContainer .itemsContainer-tv > .personCard .cardScalable {
        width:  calc(22vw - 1.75em) !important;
        height: calc(22vw) !important;
    }
    
}

/*
===========================================================================
   Layout Mobile: Dynamic Card Sizes
===========================================================================
*/

@media(min-width: 25em) {
    .layout-mobile .overflowPortraitCard {
        width: 29.5vw;
    }
    .layout-mobile .overflowBackdropCard {
        width: 41.5vw;
    }
}

@media(min-width: 30em) {
    .layout-mobile .overflowBackdropCard {
        width: 32.5vw;
    }
}

@media(min-width: 35em) {
    .layout-mobile .overflowSquareCard {
        width: 31.2vw;
    }
    .layout-mobile .overflowBackdropCard {
        width: 29.5vw;
    }
    .layout-mobile .overflowSmallBackdropCard {
        width: 30vw;
    }
}

@media(min-width: 43.75em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 22.1vw;
    }
}

@media(min-width: 48.125em) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 28.2vw;
    }
}

@media(orientation: landscape) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 30vw;
    }
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 23.1vw;
    }
}

@media(orientation: landscape)and (min-width:48.125em) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 22.4vw;
    }
}

@media(orientation: landscape)and (min-width:50em) {
    .layout-mobile .overflowSmallBackdropCard {
        width:15.5vw;
    }
}

@media(min-width: 50em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 17.8vw;
    }
}

@media(min-width: 75em) {
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 22.4vw;
    }

    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 14.8vw;
    }
}

@media(min-width: 87.5em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 12.7vw;
    }
}

@media(min-width: 100em) {
    .layout-mobile .emby-scroller {
        padding-left: 2%;
    }
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 18.4vw;
    }
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width: 10.8vw;
    }
}

@media(min-width: 120em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width:10.41vw;
    }
}

@media(min-width: 131.25em) {
    .layout-mobile .overflowPortraitCard,
    .layout-mobile .overflowSquareCard {
        width:9.3vw;
    }
}

@media(min-width: 156.25em) {
    .layout-mobile .emby-scroller {
        padding-left: 1%;
    }
    .layout-mobile .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 15.6vw;
    }
}
