
/*
===========================================================================
   Sections: Media Pages
===========================================================================
*/

.layout-tv .detailSection:has(.trackSelections.hide ~ .nextUpSection.hide)
#listChildrenCollapsible {
    margin-top: 3em;
}

.layout-tv .detailSection:has(.listItem-largeImage)
#listChildrenCollapsible {
    margin-top: 0em !important;
}



/* Sections: Space between Sections (TV) */
.layout-tv .detailVerticalSection {
    margin-bottom: 0em !important;
}

.layout-tv #listChildrenCollapsible {
    margin-left: -29vw;
    margin-bottom: -2.5em !important;
}


/* Cast > More */
.clearLink,
.clearLink > .emby-button {
    margin: 0;
}

/*
===========================================================================
   Sections: Titles
===========================================================================
*/

/* Section Titles: Bold 
.detailPagePrimaryContainer .sectionTitle,
.detailPageSecondaryContainer .sectionTitle {
    font-weight: 600;
}*/

/* Section Titles: Layout TV
--------------------------------------------------------------------------*/

/* Container */
.layout-tv .sectionTitleContainer-cards,
.layout-tv div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 0 !important;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Titles */
.layout-tv .sectionTitle {
    padding-left: 2% !important;
}
.layout-tv .homePage .sectionTitleContainer-cards,
.layout-tv .homePage .sectionTitle {
    text-align: center;
    padding-left: 0 !important;
}

/* Section Titles: Layout Desktop
--------------------------------------------------------------------------*/

/* Container */
.layout-desktop .sectionTitleContainer-cards,
.layout-desktop div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Titles */
.layout-desktop .detailPagePrimaryContainer .sectionTitle {
    padding-left: 1.5% !important;
}
.layout-desktop .detailPageSecondaryContainer .sectionTitle {
    border-radius: 0;
}

/* Text & Icon */
.sectionTitleTextButton > .sectionTitle,
.sectionTitleTextButton > .material-icons {
    padding: 0;
    margin: 0;
}

/* Scroll Buttons */
.layout-desktop .verticalSection > .emby-scrollbuttons {
    padding-top: 5px;
    padding-bottom: 0em;
}

/* Section Titles: Layout Mobile
--------------------------------------------------------------------------*/

/* Container */
.layout-mobile .sectionTitleContainer-cards,
.layout-mobile :not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    text-align: center;
    padding: 4px 0 4px 0;
}
@media(max-width: 48.125em) {
    .layout-mobile .homePage .sectionTitleContainer-cards, 
    .layout-mobile .homePage :not(.sectionTitleContainer-cards) > .sectionTitle-cards {
        border-radius: 0 !important;
    }
}

/* Titles */
.layout-mobile .sectionTitleTextButton .sectionTitle-cards {
    text-align: center;
    padding: 0;
}

/* Text & Icon */
.layout-mobile .sectionTitle > .material-icons,
.layout-mobile .sectionTitleTextButton > .material-icons {
    padding: 0;
    margin: 0;
}

/*
===========================================================================
   Media Scroller
===========================================================================
*/

/* Default Alignment */
.emby-scroller {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.emby-scroller::-webkit-scrollbar {
    display: none;
}

/* Media Scroller: Layout TV
--------------------------------------------------------------------------*/

/* Alignment */
.layout-tv .emby-scroller {
    padding-left: 1.5em;
    padding-right: 0;
    margin-right: 1em;
}
.layout-tv #castCollapsible .emby-scroller,
.layout-tv #guestCastCollapsible .emby-scroller {
    padding-left: .75em;
}
.layout-tv .verticalSection-extrabottompadding .emby-scroller {
    padding-top: 2em;
}


.layout-tv .padded-top-focusscale {
    margin-top: 0.0em;
    padding-top: 1.5em;
}
.layout-tv .padded-bottom-focusscale {
    margin-bottom: -0.5em;
    padding-bottom: 1.5em;
}
.layout-tv .homePage .padded-bottom-focusscale {
    margin-top: -.5em;
}

.layout-tv .detailPagePrimaryContainer .itemsContainer {
    /* margin-top: -0.5em; */
    /* margin-bottom: -0.5em; */
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 0em;
    padding-left: 1em;
}

.layout-tv .detailPagePrimaryContainer .itemsContainer.vertical-wrap {
    padding-left: 2%;
}




.layout-tv .detailPagePrimaryContainer .itemsContainer:has(.listItem-largeImage) {
    padding-right: 0em;
    padding-left: 0em;
    margin-top: -2em;
}



.layout-tv .detailPageSecondaryContainer {
    padding-top: 2em;
}


.layout-tv .detailPageSecondaryContainer .itemsContainer {
    align-items: flex-start;
    margin-right: -.5em;
}


/* Layout Desktop
--------------------------------------------------------------------------*/

/* scroller: default alignment */
.layout-desktop .emby-scroller {
    padding-left: 0;
    padding-right: 0;
    margin-right: 1vw;
    margin-left: 1vw;
}
.layout-desktop .homePage .emby-scroller {
    margin-right: 2vw;
    margin-left: 2vw;
}

.layout-desktop .padded-top-focusscale {
    margin-top: -0.5em;
    padding-top: 1em;
}
.layout-desktop .padded-bottom-focusscale {
    margin-bottom: -0.5em;
    padding-bottom: 1em;
}
.layout-desktop .detailPagePrimaryContainer .itemsContainer {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: .5vw;
    padding-left: .5vw;
}

/* Layout Mobile
--------------------------------------------------------------------------*/

.layout-mobile .detailPagePrimaryContent,
.layout-mobile .detailPageContent {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
}

.layout-mobile .detailPagePrimaryContent .detailSectionContent,
.layout-mobile .detailPagePrimaryContent .itemDetailsGroup {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
}

/* scroller: default alignment */
.layout-mobile .emby-scroller {
    padding-left: 0;
    padding-right: 0;
    margin-right: 1vw;
    margin-left: 1vw;
}
.layout-mobile .padded-top-focusscale {
    margin-top: -0.5em;
    padding-top: .75em;
}
.layout-mobile .padded-bottom-focusscale {
    margin-bottom: -0.5em;
    padding-bottom: .75em;
}
.layout-mobile .detailPagePrimaryContainer .itemsContainer {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    padding-top: .75em;
    padding-bottom: .75em;
}

.layout-mobile #castContent,
.layout-mobile #guestCastContent {
    padding-left: 0em;
}

.layout-tv #listChildrenCollapsible:has(.listItem-largeImage) {
    margin-top: -3vh;
}
