/* Mobile: Header at Bottom */
.layout-mobile .skinHeader {
  top: auto;
  bottom: 0;
  flex-direction: column;
}
.layout-mobile .skinHeader.headroom--unpinned {
  transform: translateY(100%);
}
.layout-mobile .skinHeader.headroom--pinned {
  transform: translateY(0);
}
.layout-mobile .headerTop {
  order: 2;
}
.layout-mobile .sectionTabs {
  order: 1;
}

/* Main Drawer:  (Mobile) */
.layout-mobile .mainDrawer {
  margin-top: 0em;
  margin-bottom: 4em;
  align-items: flex-end;
}

.layout-mobile .emby-tab-button {
  padding: 1.25em 1.25em .5em 1.25em !important;
}

.layout-mobile .mainDrawer-scrollContainer {
  padding-bottom: 1vh;
}

.layout-mobile .itemBackdrop {
  margin-top: 0rem;
}

.layout-mobile .libraryPage:not(#indexPage) {
  padding-top: 0em !important;
}

.layout-mobile .alphaPicker {
  bottom: 8em;
}