/*
============================================================================
   Mobile Layout: Bottom alignment 
============================================================================
*/

/* Mobile: Header at Bottom */
.layout-mobile .skinHeader {
    top: auto;
    bottom: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 1) !important;
}
.layout-mobile .skinHeader.headroom--unpinned {
    transform: translateY(100%);
}
.layout-mobile .skinHeader.headroom--pinned {
    transform: translateY(0);
}
.layout-mobile .headerTop {
    order: 2;
}
.layout-mobile .sectionTabs {
    order: 1;
}


/* Header: Switch Button placement */
.layout-mobile .headerLeft {
    order: 2;
    justify-content: flex-end;
}
.layout-mobile .headerRight {
    order: 1;
}

/* Header & Footer Position */
@media (max-width: 100em) {
    .layout-mobile .headerTop {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        height: 2.9em;
    }

    .layout-mobile .headerLeft {
        margin-right: .5em;
    }
    .layout-mobile .headerRight {
        margin-left: .5em;
    }
    
    .layout-mobile #reactRoot:has(.headroom--pinned) ~ .appfooter {
        bottom: 5.8em;
    }
    
    .layout-mobile #reactRoot:has(.headroom--pinned>.sectionTabs.hide) ~ .appfooter {
        bottom: 3.8em;
    }

    .nowPlayingBarPositionContainer {
        margin-right: .8em;
        margin-left: .8em;
    }

    .nowPlayingBarInfoContainer {
        margin-left: .2em;
    }

    .layout-mobile .mainDrawer {
        margin-bottom: 3.4em;
    }

    /* Main Drawer: Hide HeaderTabs when open (Mobile) */
    .layout-mobile .mainDrawer.drawer-open + .skinHeader > .headerTabs {
        display: none;
    }

    /* Main Drawer: Hide HeaderTabs when open (Mobile) */
    .layout-mobile #reactRoot:has(.mainDrawer.drawer-open) ~ .appfooter {
        display: none !important;
    }
    
}

@media (min-width: 100em) {
    .layout-mobile .headerTop {
        padding-top: .8em;
        padding-bottom: .8em;
    }

    .layout-mobile .headerLeft {
        margin-right: .2em;
    }
    .layout-mobile .headerRight {
        margin-left: .2em;
    }
    
    .sectionTabs {
        margin-top: 0em;
        margin-bottom: -4em;
        padding-top: .5em;
    }

    .layout-mobile #reactRoot:has(.headroom--pinned) ~ .appfooter {
        bottom: 4.5em;
    }

    .nowPlayingBar {
        margin-bottom: .5em;
        margin-left: 33vw;
        margin-right: 33vw;
        border-radius: var(--rounding-media);
    }

    [dir=ltr] .nowPlayingBarRight {
        margin: 0 1em 0 auto;
    }

    .nowPlayingBarPositionContainer {
        margin-right: 1em;
        margin-left: 1em;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .nowPlayingBarInfoContainer {
        margin-left: .8em;
    }

    .layout-mobile .mainDrawer {
        margin-bottom: 4.6em;
    }
    
}



/* Header: Remove Logo */
.layout-mobile .pageTitle {
    display: none;
}

/* Main Drawer: Alignment */
.layout-mobile .mainDrawer {
    margin-top: 0em;
    align-items: flex-end;
}

/* Header Tabs: Alignment */
.layout-mobile .emby-tab-button {
    padding: 1.25em 1.25em .5em 1.25em !important;
}

/* Drawer: Move options to bottom */
.layout-mobile .mainDrawer-scrollContainer {
    padding-bottom: 1vh;
}

/* Toast: Center */
.layout-mobile .toastContainer {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    bottom: 4em;
}

/* Slides: Pause Button */
.layout-mobile .pause-button {
    top: 74vh;
    right: 4vw;
}

/* Library Pages: Move up */
.layout-mobile .libraryPage,
.layout-mobile #displayPreferencesPage,
.layout-mobile #homeScreenPreferencesPage,
.layout-mobile #languagePreferencesPage {
    padding-top: 1em !important;
}
.layout-mobile #itemDetailPage {
    padding-top: 0em !important;
}
.layout-mobile #userProfilePage,
.layout-mobile #myPreferencesMenuPage,
.layout-mobile #quickConnectPreferencesPage,
.layout-mobile #searchPage {
    padding-top: 2em !important;
}

/* Media Details: Move image up */
.layout-mobile .itemBackdrop {
    margin-top: 0rem;
}

/* Media Lists: Alphabet Picker */
.layout-mobile .alphaPicker {
    bottom: 10em;
}

/* Media Lists: Filter Bar */
.layout-mobile .pageTabContent > .focuscontainer-x {
    margin-top: 1em;
}

.layout-mobile .appfooter {
    background: #0000 !important;
}



.layout-mobile .nowPlayingInfoControls {
    padding-bottom: 2em;
}

.layout-mobile .selectionCommandsPanel {
    top: 0em;
}
