/*
============================================================================
   Mobile Layout: Bottom alignment 
============================================================================
*/

/* Mobile: Header at Bottom */
.layout-mobile .skinHeader {
    top: auto;
    bottom: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 1) !important;
}
.layout-mobile .skinHeader.headroom--unpinned {
    transform: translateY(100%);
}
.layout-mobile .skinHeader.headroom--pinned {
    transform: translateY(0);
}
.layout-mobile .headerTop {
    order: 2;
}
.layout-mobile .sectionTabs {
    order: 1;
}

/* Header: Switch Button placement */
.layout-mobile .headerLeft {
    order: 2;
    justify-content: flex-end;
    padding-right: 1em;
}
.layout-mobile .headerRight {
    order: 1;
    padding-left: 1em;
}

/* Header: Remove Logo */
.layout-mobile .pageTitle {
    display: none;
}

/* Main Drawer: Alignment */
.layout-mobile .mainDrawer {
    margin-top: 0em;
    margin-bottom: 4em;
    align-items: flex-end;
}

/* Header Tabs: Alignment */
.layout-mobile .emby-tab-button {
    padding: 1.25em 1.25em .5em 1.25em !important;
}

/* Drawer: Move options to bottom */
.layout-mobile .mainDrawer-scrollContainer {
    padding-bottom: 1vh;
}

/* Toast: Center */
.layout-mobile .toastContainer {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    bottom: 4em;
}

/* Slides: Pause Button */
.layout-mobile .pause-button {
    top: 47rem;
}

/* Library Pages: Move up */
.layout-mobile .libraryPage,
.layout-mobile #displayPreferencesPage,
.layout-mobile #homeScreenPreferencesPage,
.layout-mobile #languagePreferencesPage {
    padding-top: 1em !important;
}
.layout-mobile #itemDetailPage {
    padding-top: 0em !important;
}
.layout-mobile #userProfilePage,
.layout-mobile #myPreferencesMenuPage,
.layout-mobile #quickConnectPreferencesPage,
.layout-mobile #searchPage {
    padding-top: 2em !important;
}

/* Media Details: Move image up */
.layout-mobile .itemBackdrop {
    margin-top: 0rem;
}

/* Media Lists: Alphabet Picker */
.layout-mobile .alphaPicker {
    bottom: 10em;
}

/* Media Lists: Filter Bar */
.layout-mobile .pageTabContent > .focuscontainer-x {
    margin-top: 1em;
}

.layout-mobile .appfooter {
    top: 0;
    bottom: auto;
}
