/*
   ___  ________   ________ ___  ________   ___  _________  ___      ___   
  |\  \|\   ___  \|\  _____\\  \|\   ___  \|\  \|\___   ___\\  \    /  /|  
  \ \  \ \  \\ \  \ \  \__/\ \  \ \  \\ \  \ \  \|___ \  \_\ \  \  /  / /  
   \ \  \ \  \\ \  \ \   __\\ \  \ \  \\ \  \ \  \   \ \  \ \ \  \/  / /   
    \ \  \ \  \\ \  \ \  \_| \ \  \ \  \\ \  \ \  \   \ \  \ \ \    / /    
     \ \__\ \__\\ \__\ \__\   \ \__\ \__\\ \__\ \__\   \ \__\ \ \__/ /     
      \|__|\|__| \|__|\|__|    \|__|\|__| \|__|\|__|    \|__|  \|__|/      
                                                                           
                                                                           
                        The Big Screen Experience                          
                                                                           
*/

:root {

  /* Card Shadow */
  --cardshadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);

  /* Temp Div */
  --accentcolorman: hsl(36,100,50%);
  --accentcolor: hsla(var(--accent-h),var(--accent-s),var(--accent-l),1.0);
  --furz: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8);
  --accentold: rgba(255,153,0,1.0);
  --testcolor: hsla(36, 100%, 50%, 1.0);
}

/*  
============================================================================
  Background & Fonts
============================================================================
*/

/* Background Image on Login Page */
#loginPage {
  background: 
    linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)),
    url("https://wallpapershome.com/images/pages/pic_h/12740.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/* Darken Backdrop Background */
.backgroundContainer.withBackdrop {
  background: rgba(0, 0, 0, var(--bgdarkness));
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/*  
============================================================================
  System & Dialogs
============================================================================
*/

/* Overall Smaller Size */
.layout-tv {
  font-size: 110% !important;
}

/* Disable Slides (they don't work well with a remote) */
.layout-tv #slides-container {
  display: none !important;
}

/* Use freed Space */
.layout-tv .homeSectionsContainer {
  top: 0 !important ;
}

/* Dialogs: Rounding */
.dialog,
.formDialogHeader,
.formDialogFooter {
  border-radius: var(--rounding-system) !important;
}

/* Toasts: Background & Glow*/
.toast {
  box-shadow: 0px 0px 5px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border-radius: var(--rounding-system) !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

/*  
============================================================================
  Menu Drawer
============================================================================
*/

/* Main Drawer */
.mainDrawer {
  margin-top: 4.2em !important;
  box-shadow: none !important;
  background: rgba(0, 0, 0, var(--draweropacity)) !important;
}

/* Options */
.navMenuOptionText {
  margin-top: 0;
}
.navMenuOption:hover {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}
.navMenuOption-selected {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/*  
============================================================================
  Scrollbar
============================================================================
*/

* {
  scrollbar-width: thin;
  scrollbar-color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) rgba(0, 0, 0, var(--headeropacity)) !important;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, var(--headeropacity));
}

::-webkit-scrollbar-thumb {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* Hide */
#loginPage,
.layout-tv {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.layout-tv ::-webkit-scrollbar {
  display: none;
}

/*  
============================================================================
  Header & Section Tabs
============================================================================
*/

/* Don't scroll header in TV mode */
.layout-tv .skinHeader {
  position: fixed !important;
}

/* Size */
.skinHeader,
.headerTop {
  padding: .3em !important;
}

/* Transparency */
.skinHeader-withBackground {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Move Section Tabs into Header */
.layout-tv .headerTabs.sectionTabs,
.layout-desktop .headerTabs.sectionTabs {
  font-size: 105% !important;
  margin-top: -3.3em !important;
  width: 40vw;
  scrollbar-width: none;
  scroll-behavior: smooth !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  align-self: center;
  position: relative;
  transition: filter 0.2s;
}

/* Tab Buttons */
.emby-tab-button {
  padding: 1em 1.25em !important;
}
.emby-tab-button:hover,
.emby-tab-button:focus {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}
.emby-tab-button:focus {
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}
.emby-tab-button-active {
  color: #fff;
}

/* Text */
.pageTitle {
  font-weight: bold;
}
.currentTimeText {
  font-size: 105% !important;
  font-weight: bold;
}

/* User Icon Fix */
.headerUserButtonRound {
  border-radius: 50px !important;
}

/*  
============================================================================
  Buttons: Menu & OSD
============================================================================
*/

/* Buttons: Menu & OSD */
.paper-icon-button-light {
  /* border: solid 2px #0000 !important; */
  border-radius: var(--rounding-media);
}
.paper-icon-button-light:hover {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.2) !important;
}
.paper-icon-button-light:focus,
.paper-icon-button-light:active {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  /* border: solid 2px hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.6) !important; */
}
/*
.paper-icon-button-light:active {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
}
  */

/* Buttons: Not Header */
.paper-icon-button-light:not(.headerButton) {
  padding: .4em !important;
}

/* Header Buttons */
.headerButton:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* OSD Buttons */
.ltr > .paper-icon-button-light:focus {
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}


/*  
============================================================================
  Buttons: System & Other
============================================================================
*/

/* Lists: Subtitles */
.emby-button:not(.emby-tab-button) {
  border-radius: var(--rounding-system) !important;
  border: solid 2px #0000 !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
}
.emby-button:not(.emby-tab-button):hover,
.button-submit:hover {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border-color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
  background: #0000 !important;
}
.emby-button:not(.emby-tab-button):focus,
.button-submit:focus {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.8) !important;
  background: #0000 !important;
}

.listItem:hover {
  background: #0000 !important;
}



/*
.verticalSection > .emby-button.show-focus:focus,
.verticalSection > .emby-button.show-focus:hover,
.emby-collapse > .emby-button.show-focus:focus,
.emby-collapse > .emby-button.show-focus:hover {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
  -webkit-transform: none !important;
  transform: none !important;
  border-radius: var(--rounding-system);
}
*/

/* Buttons: Submit & List Items */
/*
.listItem-button,
.button-submit {
  border-radius: var(--rounding-system) !important;
  border: solid 2px #0000 !important;
}
.listItem-button:hover,
.button-submit:hover {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}
.listItem-button:focus,
.button-submit:focus {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border-color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
}
*/







/* Buttons: Submit & List Items */
/*
.listItem-button,
.button-submit {
  border-radius: var(--rounding-system) !important;
  border: solid 2px #0000 !important;
}
  */




/* Buttons: Login, Save & Co. */
.raised {
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: var(--rounding-system) !important;
}
.raised:hover {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.6) !important;
}
.raised:focus {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* Button Animations */
.button-flat:hover,
.button-flat:focus,
.cardOverlayButton:hover {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  background: #0000 !important;
}


/* Buttons: Home Library */
.homeLibraryButton {
  min-width: 12em;
  margin: 0.4em;
  width: auto !important;
}
@media all and (max-width: 26em){
  .homeLibraryButton {
    min-width: 45%;
    width: auto !important;
  }
}
.raised.homeLibraryButton {
  transition: filter 0.2s;
}
.raised.homeLibraryButton:hover,
.raised.homeLibraryButton:focus {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  background: rgba(255, 255, 255, 0.6) !important;
}

/* Link-Button */
.button-link {
  color: inherit !important;
}
.button-link:focus,
.button-link:hover {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
}


/*  
============================================================================
  Fields & Inputs
============================================================================
*/

/* Fields & Input */
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.checkboxOutline {
  background: rgba(0, 0, 0, 0.6) ; 
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--rounding-system) !important;
}
.emby-input:not(:disabled):hover,
.emby-textarea:not(:disabled):hover,
.emby-select-withcolor:not(:disabled):hover,
.checkboxOutline:not(:disabled):hover {
  border: 2px solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
  background: rgba(0, 0, 0, 0.4) !important;
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.checkboxOutline:focus {
  border: 2px solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
  background: rgba(0, 0, 0, 0.6) !important; 
}

.emby-select-withcolor:hover + .selectArrowContainer {
  color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.8);
}
.emby-select-withcolor:focus + .selectArrowContainer {
  color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.8);
}


/* Input: Fix Text alignment*/
.emby-input {
  padding: .5em .6em;
}

/* Textarea: Verticaly Resizable */
.emby-textarea {
  resize: vertical !important;
  font-family: monospace;
  font-size: 10pt;
  padding: .5em .6em;
}

/* Select: Without colors & Arrow */
.emby-select {
  border-radius: var(--rounding-system) !important;
}
.selectContainer .selectArrowContainer {
  top: 2em;
}

.trackSelectionFieldContainer .selectArrowContainer {
  top: .3em;
}
.selectArrow {
  margin-top: .1em !important;
}

/* Select: Option Colors */
.emby-select option {
  background: rgba(0, 0, 0, 0.8) !important;
}
.emby-select option:hover {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
}
.emby-select option:focus {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* Checkbox: Outline */
.emby-checkbox:hover + span + .checkboxOutline {
  border: 2px solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
}
.emby-checkbox:focus + span + .checkboxOutline {
  border: 2px solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  border: 2px solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* Labels: Animation */
.emby-select:hover + .selectLabel,
.inputLabel:hover,
.textareaLabel:hover {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
}
.selectLabel:focus,
.inputLabel:focus,
.textareaLabel:focus {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* Labels: Fields & Input */
.inputLabelFocused,
.textareaLabelFocused,
.selectLabelFocused {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* Labels: Select */
.selectLabel {
  align-self: center;
}

/* Labels: Checkbox */
.emby-checkbox:hover + .checkboxLabel {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
}

.emby-checkbox:focus + .checkboxLabel {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* Misc */
.Mui-selected {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}
.selectionCommandsPanel {
  background: rgba(0, 0, 0, 0.4) !important;
}

/* 
===========================================================================
  Login Page
===========================================================================
*/

/* Hide some elements */
#loginPage .btnForgotPassword,
#loginPage .loginDisclaimerContainer {
  display: none;
}

/* Login Card: Dimensions & Colors */
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.4) !important;
  width: 24em;
  border-radius: var(--rounding-media);
  padding-bottom: 2em !important;
}

/* Login Card: "please sign in" */
#loginPage .visualLoginForm {
  padding-top: 1em;
}
#loginPage .manualLoginForm {
  padding-top: 2em;
}

/* Login Card: User */
#loginPage .squareCard {
  width: 33%;
  margin: 1em !important;
}
#loginPage .cardImage {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

/* Manual Login Form */
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/* Buttons */
#loginPage .emby-button.block {
  margin: 0.5em 0;
}

/* 
===========================================================================
  Library Pages
===========================================================================
*/

/* Library Pages: Move up */
div#indexPage {
  padding-top: 4.5em !important;
}
div#moviesPage,
div#tvRecommendedPage {
  padding-top: 5em !important;
}

/* Media Pages */
.itemsContainer-tv.vertical-wrap {
  padding-top: 1% !important;
  padding-right: 3% !important; 
}

/* Media Scroller */
.itemsContainer-tv.scrollSlider {
  padding-top: 1vw !important;
  padding-left: .6em !important;
}

/* Section Titles */
#indexPage .sectionTitleContainer-cards {
  padding-top: .75em;
  padding-bottom: .5em;
  margin-top: 2vh;
  margin-bottom: .5vh;
  margin-left: 3em;
  margin-right: -.1em;
  border-radius: var(--rounding-system);
  background: hsl(0deg 0% 100% / 10%);
  /* color: hsl(0deg 0% 100% / 75%); */
  /* box-shadow: 0px 0px 5px 1px hsl(0deg 0% 100% / 10%) !important; */
}
#indexPage h2.sectionTitle.sectionTitle-cards {
  /* font-weight: 600; */
  margin-left: -1em;
}

/* Backdrop Card Spacing in Media Scroller */
.homeSectionsContainer .itemsContainer-tv > .overflowBackdropCard {
  margin-right: 1vw !important;
}

/* Alphabet Picker */
.alphaPickerButton-tv:focus,
.alphaPickerButton-tv:hover {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
}

/* 
===========================================================================
  Library Pages: Sorting & Filter
===========================================================================
*/

/* Background Bar */
.pageTabContent > .focuscontainer-x {
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 1em;
  padding: 0.5em;
}

/* Buttons */
.btnPreviousPage,
.btnNextPage,
.btnPlayAll,
.btnShuffle,
.btnSelectView,
.btnSort {
  margin-left: .4em;
  margin-right: .4em;
}

/* Library-Buttons */
.focuscontainer-x > .paper-icon-button-light:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* Item Count Button: Alignment */
.listPaging > span {
  margin-right: .5em;
}

/* Filter Button Menu */
.emby-collapse > .emby-button.show-focus > .emby-collapsible-title {
  margin-left: 0.5em;
}

/* Filter Indicator */
.filterIndicator {
  background: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  color: black;
}

/* 
===========================================================================
  Cards: Size & Alignment
===========================================================================
*/

/* OverflowPortraitCard (TV) */
.castCollapsible .itemsContainer-tv > .overflowPortraitCard, 
.guestCastCollapsible .itemsContainer-tv > .overflowSquareCard {
  width: 16% !important;
}

/* OverflowBackdropCard (TV) */
.itemsContainer-tv > .overflowBackdropCard {
  width: 29% !important;
}

/* Hover Play Button */
.cardPadder {
  background-color: #0000 !important;
  box-shadow: none !important;
}

/* More Space for Animations */
.portraitCard.show-focus.show-animation,
.backdropCard.show-focus.show-animation {
  padding-bottom: 1.5em !important;
  padding-right: 1vw !important;
}
.itemsContainer > .card > .cardBox {
  margin-left: 0.5em !important;
}

/* narrow margins */
.cardBox-bottompadded {
  margin-bottom: 0.5em !important;
  margin-right: 1.5vw !important;
}

/* 
===========================================================================
  Cards: Roundings
===========================================================================
*/

/* Roundings: Full */
.blurhash-canvas,
.cardBox,
.cardContent,
.cardOverlayContainer,
.cardContent-button, 
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,
.cardScalable,
.visualCardBox,
.cardBox:not(.visualCardBox) .cardPadder {
  border-radius: var(--rounding-media);
}

/* Roundings: Top, Flat Bottom */
.visualCardBox:has(.cardFooter) .blurhash-canvas,
.visualCardBox:has(.cardFooter) .cardImage,
.visualCardBox:has(.cardFooter) .coveredImage,
.visualCardBox:has(.cardFooter) .cardImageContainer,
.visualCardBox:has(.cardFooter) .cardOverlayContainer,
.visualCardBox:has(.cardFooter) .sessionNowPlayingInnerContent {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Card Footer */
.cardFooter:not(.visualCardBox-cardFooter) {
  border-bottom-left-radius: var(--rounding-media) !important;
  border-bottom-right-radius: var(--rounding-media) !important;
  background: rgba(0, 0, 0, var(--footeropacity)) !important;
}

/* 
===========================================================================
  Cards: Shadows
===========================================================================
*/

/* Box Shadow card with footer */
.libraryPage .cardBox:has(.cardFooter) {
  box-shadow: var(--cardshadow) !important;
}

/* Box Shadow image for card without footer */
.libraryPage .cardBox:not(:has(.cardFooter)) .cardImageContainer {
  box-shadow: var(--cardshadow) !important;
}

/* 
===========================================================================
  Cards: Text
===========================================================================
*/

/* Title */
.cardText-first {
  padding-top: .6em !important;
}

/* Secondary Text */
.cardText-secondary {
  font-size: 75% !important;
}

/* Recent & NextUp: Hide Series Title */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-first,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-first {
  display: none;
}

/* Recent & NextUp: Inflate Episode Name */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-secondary {
  font-size: 100% !important;
  padding-top: .6em !important;
  color: inherit;
}

/* Recent & NextUp: Hide Movie Year */
.ContinueWatching .overflowBackdropCard[data-type="Movie"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Movie"] .cardText-secondary {
  display: none;
}

/* 
===========================================================================
  Cards: Animations
===========================================================================
*/

/* Zoom on Focus (TV) */
.layout-tv .card.show-animation:focus .cardBox {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

/* Color on Focus (TV) */
.layout-tv .card.show-animation:focus .cardText-first,
.layout-tv .card.show-animation:focus .cardText-secondary {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

/* Glow: Cards (Desktop) */
.backdropCard:has(.cardFooter):hover .cardBox, 
.portraitCard:has(.cardFooter):hover .cardBox {
  box-shadow: 0px 0px 10px 1px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

/* Glow: Only Images on Cards in Homescreen (Desktop) */
.homeSectionsContainer .overflowBackdropCard:hover .cardContent,
.homeSectionsContainer .overflowPortraitCard:hover .cardContent {
  box-shadow: 0px 0px 10px 1px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

/* Glow: Media Scroller Cards (Desktop) */
.backdropCard:not(:has(.cardFooter)):hover .cardContent, 
.portraitCard:not(:has(.cardFooter)):hover .cardContent {
  box-shadow: 0px 0px 10px 1px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

/* 
===========================================================================
  Cards: Indicators
===========================================================================
*/

/* Alignment */
.cardIndicators,
.listItemIndicators,
.mediaSourceIndicator {
  right: 0.5em !important;
  top: 0.5em !important;
}

/* Count & Played */
.playedIndicator {
  color: rgb(0, 0, 0);
  background: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border-radius: var(--rounding-system) !important;
}
.countIndicator,
.mediaSourceIndicator {
  color: rgb(255, 255, 255);
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border-radius: var(--rounding-system) !important;
}
.playstatebutton-icon-played,
.ratingbutton-icon-withrating {
  color: hsla(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

/* Missing & Unaired */
.missingIndicator,
.unairedIndicator {
  color: #fff;
  background: #ae3030eb;
  padding: .3em .6em;
}

/* Multi Select Checkboxes */
.multiSelectCheckboxOutline {
  border-top-left-radius: var(--rounding-media) !important;
  border-top-right-radius: var(--rounding-system) !important;
  border-bottom-right-radius: var(--rounding-system) !important;
  border-bottom-left-radius: var(--rounding-system) !important;
}

/* 
===========================================================================
  Cards: Progressbar
===========================================================================
*/

/* Background */
.itemProgressBar {
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: var(--rounding-media) !important;
  height: .4em !important;
  margin: .5em .8em !important;
  backdrop-filter: blur(6px);
} 

/* Slider*/
.itemProgressBarForeground {
  background-color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.9)!important;
  border-radius: var(--rounding-media) !important;
}

/* 
===========================================================================
  Cards: Default Backgrounds
===========================================================================
*/

.defaultCardBackground1 {
  background: hsl(var(--accent-h), var(--accent-s), 17%);
}

.defaultCardBackground2 {
  background: hsl(var(--accent-h), var(--accent-s), 16%);
}

.defaultCardBackground3 {
  background: hsl(var(--accent-h), var(--accent-s), 15%);
}

.defaultCardBackground4 {
  background: hsl(var(--accent-h), var(--accent-s), 14%);
}

.defaultCardBackground5 {
  background: hsl(var(--accent-h), var(--accent-s), 13%);
}

/* 
===========================================================================
  Media Pages
===========================================================================
*/

/* Hide some Elements */
/* .layout-tv .detailLogo, */
.layout-tv .itemExternalLinks,
.layout-tv .detailsGroupItem.directorsGroup,
.layout-tv .detailsGroupItem.writersGroup,
.hide+.detailPageWrapperContainer .itemName,
.endsAt,
.itemTags {
  display: none !important;
}

/* Increase Season Title */
.selfBackdropPage h3.itemName.infoText.subtitle.focuscontainer-x {
  font-size: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.selfBackdropPage h1.parentName.focuscontainer-x {
  font-size: 150%;
  /* padding-bottom: .2em; */
}


/* Move page content */
.layout-tv .detailPagePrimaryContainer {
  display: block;
  padding-top: 5vh;
}

/* Cast Scroller */
#castCollapsible .itemsContainer-tv.scrollSlider {
  padding-top: 0em !important;
}



#childrenContent .card {
  padding-bottom: 1em;
}


/* 
===========================================================================
  Media Pages: Poster
===========================================================================
*/

/* Cover Style*/
.detailImageContainer .card {
  max-width: 26vw;
  left: 3% !important;
  border-radius: var(--rounding-media);
  box-shadow: var(--cardshadow) !important;
}

/* Cover Placement (TV) */
.layout-tv .detailImageContainer .card {
  top: 2vh !important;
}

/* 
===========================================================================
  Media Pages: Detail-Ribbon
===========================================================================
*/

/* Ribbon */
.detailRibbon {
  padding-right: 2% !important;
}

/* Ribbon (Desktop) */
.layout-desktop .detailRibbon {
  height: 9em !important;
  margin-top: -9em !important;
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Info Container */
.infoWrapper {
  padding-top: 0.5em;
  padding-bottom: 0.15em;
}

/* Media Infos */
.itemMiscInfo {
  font-size: 125%;
  margin-top: 0.25em;
  margin-bottom: 0.6em;
  /* color: #ffffff !important; */
}

/* Media Buttons */ 
.detailButton {
  font-size: 120% !important;
  border-radius: var(--rounding-media);
  margin-right: 1.5em !important;
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
}

/* Media Buttons: Animation */ 
.detailButton:hover {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border: solid 2px hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
  transform: scale(1.2) !important;
}
.detailButton:focus {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  box-shadow: 0px 0px 10px 1px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border: solid 2px hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
  background: rgba(0, 0, 0, 0.7) !important;
  transform: scale(1.2) !important;
}

/* Slides Buttons */
.detail-button,
.play-button,
.favorite-button {
  border-radius: var(--rounding-media);
  padding: .6em !important;
  margin-right: .6em !important;
  color: #ffffff !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* Slides Buttons */
.play-button {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/* 
===========================================================================
  Media Pages: Media Details
===========================================================================
*/

/* Container */
.layout-tv .detailPagePrimaryContent {
  padding-top: 0em;
  padding-bottom: 0em;
}
.layout-desktop .detailPagePrimaryContent {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Genres: Hide  */
p.itemGenres {
  display: none;
}

/* Tracks & Subtitles */
.trackSelections {
  max-width: 100%;
  width: 60%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.detailTrackSelect {
  background: #0000 !important;
  padding: .35em 1.9em .35em .35em !important;
}

/* 
===========================================================================
  Media Pages: Media Description
===========================================================================
*/

/* Container */
.detailPageSecondaryContainer {
  padding-top: 0em !important;
}

/* Description Text */
.overview.detail-clamp-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Director & Studio */
.itemDetailsGroup {
  margin-top: 0.5em;
  padding-bottom: 1em;
}

/* 
===========================================================================
  Media Pages: Section Scroller
===========================================================================
*/

/* Space between Sections */
.layout-tv .detailVerticalSection {
  margin-bottom: 1em !important;
}

/* Section Title: Placement */
/*
h2.sectionTitle.sectionTitle-cards.padded-right {
  margin-top: .2em !important;
  margin-bottom: .2em !important;
} */

/* Section Icons */
.sectionTitleTextButton > .material-icons {
  margin: 0;
}

/* Cards spacing */
.detailVerticalSection .itemsContainer-tv > .overflowBackdropCard {
  margin-right: .5vw !important;
}

/* Media sections - Mobile layout */
.layout-mobile:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
  padding-top:0em;
}

.layout-mobile .sectionTitleTextButton > .material-icons {
  padding-top: .2em;
}




/* Episodes in Season Overview */
.itemsContainer > .listItem {
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
  border-radius: var(--rounding-media);
  margin-bottom: 1em;
  padding: .25em .25em .25em .25em;
}

.itemsContainer > .listItem:hover {
  border: solid 2px hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.4) !important;
  background: rgba(0, 0, 0, 0.7) !important;
}
.itemsContainer > .listItem:focus {
  box-shadow: 0px 0px 10px 1px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  border: solid 2px hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8) !important;
  background: rgba(0, 0, 0, 0.7) !important;
}

.listItemImage {
  border-radius: var(--rounding-media);
}

/* 
===========================================================================
  Player OSD
===========================================================================
*/

/* OSD: Hide some Elements */
.btnFullscreen,
.btnPip {
  display: none;
}

/* OSD: Height Header */
.osdHeader {
  height: 3.3em !important;
  --webkit-backdrop-filter: none;
}

/* OSD Footer: Wide */
.videoOsdBottom {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
  padding-top: .5em;
  padding-bottom: 1em;
}

/* OSD Footer: Box-Layout */
@media all and (min-width: 1700px) {
  .videoOsdBottom {
    background: rgba(0, 0, 0, var(--headeropacity)) !important;
    padding-top: .5em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    margin-left: 24vw;
    margin-right: 24vw;
    border-radius: var(--rounding-media);
  } 
}

/* OSD Footer: Hide "Ends at Time" */
.videoOsdBottom .endsAtText {
  display: none;
}

/* OSD Footer: Lift Progressbar */
.buttons.focuscontainer-x {
  padding-top: 1em;
}

/* Fix the UI shifting around */
.nowPlayingBarCurrentTime {
  width: 6em;
}

/* Subtitle preview */
.subtitleappearance-preview {
  background: linear-gradient(140deg,hsl(var(--accent-h),var(--accent-s),var(--accent-l)),#111) !important;
}

/* 
===========================================================================
  Player OSD: Controls
===========================================================================
*/

/* Buttons: Zoom */
.ltr > .paper-icon-button-light:focus {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

/* style the controls */
.startTimeText,
.endTimeText {
  width: 3.4em;
  display: block;
  text-align: center;
}

.osdTitle {
  margin-left: 0.5em;
}

.osdPoster img {
  border-radius: var(--rounding-media); 
  border: none;
}

.osdTextContainer {
  margin: 0 !important;
  margin-top: 0.2em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

/* 
===========================================================================
  Player OSD: Progressbar & Volume
===========================================================================
*/

/* Play progress & volume */
.mdl-slider {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
} 

/* OSD: Vertical marker */
.taskProgressInner,
.sliderMarker.watched {
  background: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

.mdl-slider-background-lower {
  background: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
} 

.iconOsdProgressInner {
  background: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

.mdl-slider::-moz-range-thumb {
  background: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}
.mdl-slider::-webkit-slider-thumb {
  background: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

.mdl-slider::-webkit-scrollbar-corner  {
  background: #0000 !important;
}

.mdl-slider::-webkit-scrollbar-track-piece {
  background: #0000 !important;
}

/* 
===========================================================================
  Player OSD: Chapter Thumbnails
===========================================================================
*/

/* Shrink the mouseover chapter image when scrobbling, still media player */
.chapterThumb {
  height: 14vh;
  min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
  border-radius: var(--rounding-media) !important;
}
.chapterThumbText {
  font-size: 1em;
}
.sliderBubble {
  background: #0000;
}
.chapterThumbTextContainer {
  right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
  border-radius: var(--rounding-media) !important;
}
.chapterThumbContainer {
  box-shadow: 0 0 1.9vh #000;
  border-radius: var(--rounding-media) !important;
}
.sliderBubble {
  -webkit-transform: translate3d(-50%,-108%,0);
  transform: translate3d(-50%,-108%,0);
}

/* 
===========================================================================
  Player OSD: Skip-Button
===========================================================================
*/

/* Skip-Button */
.skip-button {
  /* border: solid 2px #fff !important; */
  /* border-radius: var(--rounding-media); */
  color: #fff;
  background: #0000 !important;
}

/* Skip-Button: Hover & Focus */
.skip-button:focus,
.skip-button:hover {
  /* border: solid 2px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important; */
  /* border-radius: var(--rounding-media); */
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  background: #0000 !important;
}

/* 
===========================================================================
  Player OSD: UpNext Dialog
===========================================================================
*/

/* Upnext Dialog */
.upNextContainer {
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-radius: var(--rounding-media) !important;
  box-shadow: 0px 0px 5px 0px hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

.upNextDialog-poster-img {
  border-radius: var(--rounding-media) !important;
}

/* Upnext: Countdown */
.upNextDialog-countdownText {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

/* 
===========================================================================
  User Settings
===========================================================================
*/

/* Improve some menu alignments */
.formDialogHeaderTitle {
  margin-left: 1em;
}
.formDialogContent {
  margin-bottom: 6.2em;
}
.dialogContentInner {
  padding: .5em 1em 1em;
}
.listItem-indexnumberleft {
  margin: 1em;
}

/* Menu Items */
.readOnlyContent .listItem-border .listItem,
.actionSheetScroller .listItem {
  padding-left: 1em;
  border-radius: var(--rounding-system) !important;
  border-color: #0000 !important;
  margin-top: 0.2em !important;
}

/* Menu Items: Additional content */
.listItemButton,
.listItemImageButton {
  border-radius: var(--rounding-system) !important;
}

/* Remove background on some icons */
.listItemIcon {
  background: #0000 !important;
  border-radius: var(--rounding-system) !important;
}

/* user settings button */
div[data-role="controlgroup"] a.ui-btn-active {
  background: rgba(0, 0, 0, 0.4) !important;
  color: white !important;
}

/* 
===========================================================================
  User Settings: Buttons
===========================================================================
*/

/* Radius Left */
div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding-media);
	border-top-left-radius: var(--rounding-media);
}

/* Radius Right */
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding-media);
	border-top-right-radius: var(--rounding-media);
}

/* user setting tab buttons */
div[data-role="controlgroup"] a[data-role="button"] {
  display: table-cell !important;
  margin: 0 !important;
}

/* Don't raise */
.button-submit,
.emby-select-focusscale:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/*  
============================================================================
  Loading spinner & Progress Ring
============================================================================
*/

/* Loading Spinner: Accent Color */
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
}

/* Theme process progress ring */
.progressring-spiner {
  border-color: hsl(var(--accent-h),var(--accent-s),var(--accent-l));
  border-width: .35em;
}

/* Theme process progress ring */
.progressring {
  margin: .4em;
}
.progressring-bg {
  display: none;
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs)
===========================================================================
*/

/* Background: Dark */
.paperList {
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--rounding-system) !important;
}

/* ?? */
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.5);
}

/* ?? */
/*
fieldset {
  border: 1px solid rgba(40, 40, 40, 0.8); 
  border-radius: 0.4em;
}
  */

/* Borders: Accent 50% */
.itemSelectionPanel {
  border: 0.01em solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.5) !important;
  border-radius: var(--rounding-media) !important;
}

.layout-mobile .listItemImageButton,
.detailTableBodyRow-shaded {
  background: #0000 !important;
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs): Buttons
===========================================================================
*/

/* Misc Button */
.fab {
  border-radius: var(--rounding-system) !important;
	transition: all 0.2s !important;
  background: rgba(0, 0, 0, 0.4) !important;
}


/* 
===========================================================================
  Misc & Unknown (aka TODOs): Mobile
===========================================================================
*/

/* Accommodate mobile and align buttons and indicators */
@media all and (min-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

/* Play button hovering (for low width windows) */
@media all and (max-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .cardOverlayButton {
    padding: 0.25em;
  }
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs): Menu Page
===========================================================================
*/

/* Fix footers/headers displaying on small pop-ups */
.formDialogFooter-clear,
.formDialogHeader-clear {
  background: #0000 !important;
  background-color: #0000 !important;
}

/*Theme slider marker style*/
.sliderMarker {
  width: 3px;
  border-radius: 2px;
}

/* Cards & Items */
.itemDetailImage,
.primaryImageWrapper > img {
  border-radius: var(--rounding-media) !important;
}

.nowPlayingPageImage {
  border: none;
  border-radius: var(--rounding-media) !important;
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs): Syncplay
===========================================================================
*/

.syncPlayIconCircle {
  color: hsl(var(--accent-h),var(--accent-s),var(--accent-l)) !important;
  text-shadow: none !important;
}

@-webkit-keyframes pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@keyframes pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@-webkit-keyframes infinite-pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@keyframes infinite-pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}


/* Mobile tweaks */
/*
.layout-mobile .adminDrawerLogo {
    border-bottom: none;
}
.layout-mobile .itemBackdrop {
    margin-top: 4rem;
}
.layout-mobile .detailImageContainer .card {
    position: absolute !important;
}
*/


/* Scrollbar */

/* Show - auto (thin) */
/*
#moviesPage, 
#moviesPage::-webkit-scrollbar,
#tvRecommendedPage, 
#tvRecommendedPage::-webkit-scrollbar,
#itemDetailPage,
#itemDetailPage::-webkit-scrollbar {
  overflow-y: auto !important;
  scrollbar-width: thin !important; 
}
*/

/* Hide */
/*
.libraryDocument,
.libraryDocument::-webkit-scrollbar, 
#indexPage, 
#indexPage::-webkit-scrollbar,
#loginPage,
#loginPage::-webkit-scrollbar {
  overflow-y: auto !important;
  scrollbar-width: none !important; 
}
*/
