/*                                                                         *

   ___  ________   ________ ___  ________   ___  _________  ___      ___
  |\  \|\   ___  \|\  _____\\  \|\   ___  \|\  \|\___   ___\\  \    /  /|
  \ \  \ \  \\ \  \ \  \__/\ \  \ \  \\ \  \ \  \|___ \  \_\ \  \  /  / /
   \ \  \ \  \\ \  \ \   __\\ \  \ \  \\ \  \ \  \   \ \  \ \ \  \/  / /
    \ \  \ \  \\ \  \ \  \_| \ \  \ \  \\ \  \ \  \   \ \  \ \ \    / /
     \ \__\ \__\\ \__\ \__\   \ \__\ \__\\ \__\ \__\   \ \__\ \ \__/ /
      \|__|\|__| \|__|\|__|    \|__|\|__| \|__|\|__|    \|__|  \|__|/


                        The Big Screen Experience

*                                                                          */

/* == Dev / Test File == */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {

    /* Accent predefinition */
    --accent100: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
    --accent80: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.8);
    --accent60: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.6);
    --accent40: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.4);
    --accent20: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.2);

    /* Card Shadow */
    --cardshadow: 4px 4px 10px 3px rgb(0 0 0 / 40%);

    /* Card Smoothening */
    --insettop: inset -1px 3px 14px 0px rgb(255 255 255 / 10%);
    --insetbottom: inset -3px -3px 14px 0px rgb(0 0 0 / 40%);

    /* Glow */
    --cardglow: 0px 0px 10px 3px var(--accent80) !important;
    --buttonglow: 0px 0px 10px 1px var(--accent100) !important;

    /* Text Shadow */
    --textshadow: 2px 2px 4px black;

    /* Border */
    --buttonborder: solid 2px hsl(0deg 0% 100% / 20%) !important;

    /* TODO: Header accent color (keep it dark) */
    --haccent-h: 310;
    --headeraccent: hsla(var(--haccent-h), 100%, 20%, var(--headeropacity));
}

/*
============================================================================
   Background Image & Font
============================================================================
*/

/* Background Image: If Backdrops disabled */
.backgroundContainer:not(.withBackdrop):not(.backgroundContainer-transparent),
.backgroundContainer.withBackdrop:has(~ .mainAnimatedPages .homePage:not(.hide)) {
    background:
        linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)),
        var(--bgImage) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

/* Darken Background with Backdrops enables */
.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, var(--bgdarkness)) !important;
}

/*
============================================================================
   Colors
============================================================================
*/

/* Colors: Text
--------------------------------------------------------------------------*/

/* Colors: accent 80 % */
#loginPage .cardImage,
.Mui-selected,
.navMenuOption-selected {
    color: var(--accent80) !important;
}

.actionSheetMenuItem:hover,
.button-link:hover,
.detailButton:focus,
.emby-collapsible-button:hover,
.emby-textarea:hover + .textareaLabel,
.emby-checkbox:hover + .checkboxLabel,
.listTextButton-autohide:hover,
.mdl-radio__button:hover + .mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio__button:hover + .mdl-radio__circles .mdl-radio__outer-circle,
.mdl-radio__button:hover + .mdl-radio__circles + .mdl-radio__label,
.mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__outer-circle,
.mdl-radio__button:focus + .mdl-radio__circles + .mdl-radio__label,
.navMenuOption:hover,
.overview-expand:hover {
    color: var(--accent80) !important;
}

/* Colors: accent 100 % */
.actionSheetContent .listItemIcon.check,
.upNextDialog-countdownText,
.inputLabelFocused,
.mdl-radio__button[checked] + .mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio__button[checked] + .mdl-radio__circles .mdl-radio__outer-circle,
.mdl-slider,
.playedIndicator,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.selectLabelFocused,
.syncPlayIconCircle,
.textareaLabelFocused,
.upNextDialog-countdownText {
    color: var(--accent100) !important;
}

.actionSheetMenuItem:focus,
.button-link:focus,
.button-submit:hover,
.button-submit:focus,
.cardOverlayButton:hover,
.clearLink > .emby-button:hover,
.clearLink > .emby-button:focus,
.detail-button:hover,
.detailButton:hover,
.emby-button.block:hover,
.emby-button.block:focus,
.emby-checkbox:focus + .checkboxLabel,
.emby-collapsible-button:focus,
.emby-tab-button:hover,
.emby-tab-button:focus,
.favorite-button:hover
.layout-tv .card.show-animation:focus .cardText-first,
.layout-tv .card.show-animation:focus .cardText-secondary,
.listItem-border:hover,
.listItem-border:focus,
.listItem-button:focus .listItemBodyText:not(.secondary),
.listTextButton-autohide:focus,
.overview-expand:focus,
.paper-icon-button-light:not(.alphaPickerButton):not(:disabled):hover,
.paper-icon-button-light:not(.alphaPickerButton):focus,
.paper-icon-button-light:not(.alphaPickerButton):active,
.play-button:hover,
.raised:focus,
.raised:hover,
.skip-button:hover,
.skip-button:focus,
.textActionButton:hover,
.upNextDialog-button:hover,
.upNextDialog-button:focus {
    color: var(--accent100) !important;
}

.mdl-slider::-moz-range-thumb {
    color: var(--accent100) !important;
}
.mdl-slider::-webkit-slider-thumb {
    color: var(--accent100) !important;
}

/* Colors: Borders
--------------------------------------------------------------------------*/

/* border color: accent 40% */ 
.actionSheetMenuItem:hover,
.button-submit:hover,
.detail-button:hover,
.detailButton:hover,
.emby-button.block:hover,
.emby-collapsible-button:hover,
.favorite-button:hover,
.listTextButton-autohide:hover,
.play-button:hover,
.raised:hover,
.upNextDialog-button:hover {
    border-color: var(--accent40) !important;
}

/* border color: accent 60% */ 
.listItem-border:hover {
    border-color: var(--accent60) !important;
}

/* border color: accent 80% */ 
.favorite-button.favorited {
    border-color: var(--accent80) !important;
}

.button-submit:focus,
.detail-button:focus,
.emby-button.block:focus,
.favorite-button:focus,
.play-button:focus,
.raised:focus,
.upNextDialog-button:focus {
    border-color: var(--accent80) !important;
}

/* border color: accent 100% */ 
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4,
.progressring-spiner {
    border-color: var(--accent100) !important;
}

/* border color: transparent */ 
.clearLink > .emby-button:hover,
.clearLink > .emby-button:focus,
.detailButton:focus,
.listItem-border {
    border-color: #0000 !important;
}

/* border color: grey */ 
.emby-button.block,
.button-submit,
.raised {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/*
============================================================================
   Backgrounds
============================================================================
*/

/* Backgrounds: Transparency
--------------------------------------------------------------------------*/

/* Backgrounds: --headeropacity */
.dialog,
.formDialogHeader,
.formDialogFooter,
.mainDrawer,
.skinHeader-withBackground,
.toast,
.videoOsdBottom,
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Backgrounds: --itemopacity */
.cardFooter:not(.visualCardBox-cardFooter),
.layout-desktop .detailRibbon,
.layout-mobile .detailRibbon {
    background: rgba(0, 0, 0, var(--itemopacity)) !important;
}

/* Backgrounds: transparent*/
.actionSheetMenuItem,
.button-link,
.button-submit,
.cardPadder,
.collapseContent,
.clearLink,
.clearLink > .emby-button,
.detailTrackSelect,
.emby-collapsible-button,
.emby-button.block,
.listItem,
.listItem-border,
.listItem-largeImage,
.listItemBodyText,
.listItemIcon,
.listTextButton-autohide,
.material-icons,
.navMenuOption,
.overview-expand,
.raised,
.sliderBubble,
.skip-button,
.upNextDialog-button {
    background: #0000 !important;
}

.collapseContent .listItem:hover,
.clearLink > .emby-button:hover,
.clearLink > .emby-button:focus,
.navMenuOption:hover {
    background: #0000 !important;
}


.mdl-slider::-webkit-scrollbar-corner,
.mdl-slider::-webkit-scrollbar-track-piece {
    background: #0000 !important;
}

/* Backgrounds: Light
--------------------------------------------------------------------------*/

/* Backgrounds: white 10% */
#loginPage .cardImage,
.homeScreenSettingsContainer .sectionTitle,
#searchPage .sectionTitle,
.searchSuggestionsList > div:hover,
.searchSuggestionsList > div:has(.emby-button:focus),
.settingsContainer .sectionTitle,
.verticalSection > .sectionTitle-cards,
.verticalSection > .sectionTitleContainer-cards {
    background: hsl(0deg 0% 100% / 10%);
}

/* Backgrounds: Dark
--------------------------------------------------------------------------*/

/* Backgrounds: black 20% */
.button-submit:hover,
.emby-button.block:hover,
.detail-button,
.favorite-button,
.itemsContainer > .listItem-focusscale:not(.listItem-largeImage),
.play-button,
.raised:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}

/* Backgrounds: black 40% */
.button-submit:focus,
.checkboxOutline,
.detailButton:hover,
.emby-button.block:focus,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.itemProgressBar,
.itemsViewSettingsContainer,
.listItem-border:hover,
.pageTabContent > .focuscontainer-x,
.raised:focus,
.selectionCommandsPanel,
.upNextDialog-button:hover,
#loginPage .padded-left.padded-right.padded-bottom-page {
    background: rgba(0, 0, 0, 0.4) !important;
}

/* Backgrounds: black 60% */
.checkboxOutline:not(:disabled):hover,
.detailButton:focus,
.emby-input:not(:disabled):hover,
.emby-select-withcolor:not(:disabled):hover,
.emby-textarea:not(:disabled):hover,
.listItem-focusscale:hover,
.listItem-largeImage:focus,
.upNextDialog-button:focus {
    background: rgba(0, 0, 0, 0.6) !important;
}

/* Backgrounds: black 80% */
.checkboxOutline:focus
.detail-button:hover,
.detail-button:focus,
.emby-input:focus,
.emby-select option,
.emby-select-withcolor:focus,
.emby-textarea:focus,
.favorite-button:hover,
.favorite-button:focus,
.listItem-focusscale:focus
.play-button:hover,
.play-button:focus {
    background: rgba(0, 0, 0, 0.8) !important;
}

/* Backgrounds: Accent
--------------------------------------------------------------------------*/

/* Backgrounds: accent 40% */
.emby-select option:hover {
    background: var(--accent40) !important;
}

/* Backgrounds: accent 60% */
.alphaPickerButton:hover {
    background: var(--accent60) !important;
}

/* Backgrounds: accent 80% */
.countIndicator,
.alphaPickerButton:focus,
.emby-checkbox:checked + span + .checkboxOutline,
.emby-select option:focus,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb {
    background: var(--accent80) !important;
}

/* Backgrounds: accent 100% */
.filterIndicator,
.iconOsdProgressInner,
.mediaSourceIndicator,
.mdl-radio__focus-circle,
.mdl-slider-background-lower,
.sliderMarker.watched {
    background: var(--accent100) !important;
}

.mdl-slider::-webkit-slider-thumb  {
    background: var(--accent100) !important;
}

.mdl-slider::-moz-range-thumb  {
    background: var(--accent100) !important;
}

/* Backgrounds: background-color
--------------------------------------------------------------------------*/

/* Background Colors: accent 20% */
.paper-icon-button-light:not(.alphaPickerButton):not(:disabled):hover {
    background-color: var(--accent20);
}

/* Background Colors: transparent */
.cardOverlayButton:hover,
.layout-tv .itemsContainer .card .cardBox,
.layout-desktop .itemsContainer .card .cardBox {
    background-color: #0000 !important;
}

/* Backgrounds: Card defaults
--------------------------------------------------------------------------*/

/* Backgrounds: default for empty cards */
.defaultCardBackground1 {
    background: hsl(var(--accent-h), var(--accent-s), 17%);
}
.defaultCardBackground2 {
    background: hsl(var(--accent-h), var(--accent-s), 16%);
}
.defaultCardBackground3 {
    background: hsl(var(--accent-h), var(--accent-s), 15%);
}
.defaultCardBackground4 {
    background: hsl(var(--accent-h), var(--accent-s), 14%);
}
.defaultCardBackground5 {
    background: hsl(var(--accent-h), var(--accent-s), 13%);
}


/*
============================================================================
   Borders (TODO)
============================================================================
*/


/*
============================================================================
   Roundings
============================================================================
*/

/* Rounding Media */
.blurhash-canvas,
.cardBox,
.cardContent,
.cardOverlayContainer,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,
.cardPadder,
.cardScalable,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.detailButton,
.detailImageContainer .card,
.detail-button,
.favorite-button,
.imagePlaceHolder,
.primaryImageWrapper > img,
.osdPoster img,
.itemDetailImage,
.itemProgressBar,
.itemProgressBarForeground,
.listItem-focusscale,
.listItem-largeImage,
.paper-icon-button-light,
.play-button,
.detailPagePrimaryContainer .sectionTitle,
.layout-mobile .detailPageSecondaryContainer .sectionTitle,
.upNextContainer,
.upNextDialog-poster-img,
.visualCardBox,
#loginPage .padded-left.padded-right.padded-bottom-page {
    border-radius: var(--rounding-media) !important;
}

/* Rounding System */
.actionSheetMenuItem,
.button-submit,
.checkboxOutline,
.countIndicator,
.dialog,
.emby-button.block,
.emby-collapsible-button,
.emby-input,
.emby-select,
.emby-select-withcolor,
.emby-textarea,
.formDialogHeader,
.formDialogFooter,
.listItem-border,
.listItemButton,
.listItemImageButton,
.listItemIcon,
.listTextButton-autohide,
.mediaSourceIndicator,
.playedIndicator,
.raised,
.settingsContainer .sectionTitle,
.homeScreenSettingsContainer .sectionTitle,
.skip-button,
.subtitleappearance-preview,
.toast,
.upNextDialog-button,
.searchSuggestionsList > div:hover,
.searchSuggestionsList > div:has(.emby-button:focus) {
    border-radius: var(--rounding-system) !important;
}

/*
============================================================================
   Box Shadows
============================================================================
*/

/* Shadows: transparent */
.cardPadder,
.mainDrawer {
    box-shadow: none !important;
}

/* Shadows: --cardshadow
.libraryPage .cardBox:has(.cardFooter),
.libraryPage .cardBox .cardScalable,
.layout-tv .detailImageContainer .card,
.layout-desktop .detailImageContainer .card {
    box-shadow: var(--cardshadow) !important;
} */

/* Shadows: --cardglow */
.layout-tv .bannerCard:hover > .cardBox,
.layout-tv .itemsContainer > .card:not(:has(.cardFooter)):hover .cardScalable,
.layout-tv .itemsContainer > .card:has(.cardFooter):hover .cardBox,
.layout-tv .itemsContainer > .card:hover .cardScalable,
.layout-desktop .bannerCard:hover > .cardBox,
.layout-desktop .itemsContainer-tv > .card:not(:has(.cardFooter)):hover .cardScalable,
.layout-desktop .itemsContainer-tv > .card:has(.cardFooter):hover .cardBox,
.layout-desktop .itemsContainer-tv > .card:hover .cardScalable
.toast {
    box-shadow: var(--cardglow) !important;
}

/* Shadows: --buttonglow */
.layout-tv .detailButton:focus,
.layout-tv .favorite-button:focus,
.layout-tv .itemsContainer > .listItem-focusscale:not(.listItem-largeImage):focus,
.layout-tv .listItem-largeImage:focus,
.layout-tv .play-button:focus,
.layout-desktop .detailButton:focus,
.layout-desktop .favorite-button:focus,
.layout-desktop .itemsContainer > .listItem-focusscale:not(.listItem-largeImage):focus,
.layout-desktop .listItem-largeImage:focus,
.layout-desktop .play-button:focus,
.upNextContainer,
.upNextDialog-button:focus {
    box-shadow: var(--buttonglow) !important;
}

/* Inset Shadows on cardImages */
.libraryPage .cardImageContainer {
    box-shadow: var(--insettop), var(--insetbottom);
}

/*
============================================================================
   System & Dialogs
============================================================================
*/

/* Smaller TV-Layout */
.layout-tv {
    font-size: 110% !important;
}

/* Progress Ring */
.progressring {
    margin: .4em;
}
.progressring-bg {
    display: none;
}
.progressring-spiner {
    border-width: .35em;
}

/*
============================================================================
   Menu Drawer
============================================================================
*/

/* Main Drawer */
.mainDrawer {
    margin-top: 3.9em;
}

/* Main Drawer: Hide HeaderTabs when open (Mobile) */
.layout-mobile .mainDrawer.drawer-open + .skinHeader > .headerTabs {
    display: none !important;
}

/* Main Drawer: Options */
.navMenuOption {
    margin-left: -.2em !important;
    border: solid 1px #0000;
    margin-right: -.2em !important;
}
.navMenuOption:hover {
    border: solid 1px var(--accent80);
}
.navMenuOption-selected {
    border: solid 1px #0000;
}
.navMenuOptionText {
    margin-top: 0;
}

/*
============================================================================
   Collapsible Menus
============================================================================
*/

/* Collapsible Menu */
.collapseContent {
    padding-top: 0em;
    padding-bottom: 0em;
}

/* Action Sheet: Item size */
.actionSheetContent .listItem {
    padding: .5em;
}

/*
============================================================================
   Scrollbar
============================================================================
*/

/* Scrollbar: Style */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent80) rgba(0, 0, 0, var(--headeropacity)) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
}

/* Scrollbar: Hide (TV) */
.layout-tv ::-webkit-scrollbar {
    display: none;
}

#loginPage,
.layout-tv {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

/*
============================================================================
   Header & Section Tabs
============================================================================
*/

/* Header: Don't scroll (TV) */
.layout-tv .skinHeader {
    position: fixed !important;
}

/* Header: Fixed size (Mobile) */
.layout-mobile .headerTop {
    padding-top: 0.55em;
    padding-bottom: 0.55em;
    height: 2.9em;
}

/* Header: Size & Alignment */
.layout-tv .skinHeader,
.layout-desktop .skinHeader {
    padding: .3em !important;
    height: 3.3em;
}
.layout-tv .headerTop,
.layout-desktop .headerTop {
    padding: .3em !important;
}

/* Hader: Page Title & Time */
.pageTitle {
    font-weight: bold;
}
.currentTimeText {
    font-size: 110% !important;
    font-weight: bold;
}

/* Header Buttons: no Zoom */
.headerButton:focus {
    -webkit-transform: none !important;
    transform: none !important;
}

/* Header Section Tabs: Stay in Header with invisible scroll */
.layout-tv .headerTabs.sectionTabs,
.layout-desktop .headerTabs.sectionTabs {
    font-size: 110% !important;
    margin-top: -2.7em !important;
    width: 42vw;
    min-width: 26vw;
    scrollbar-width: none;
    scroll-behavior: smooth !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    align-self: center;
    position: relative;
    transition: filter 0.2s;
}

/*
============================================================================
   Buttons
============================================================================
*/

/* Buttons: Sign In, Save, Cancel...
--------------------------------------------------------------------------*/

.emby-button.block,
.button-submit,
.raised {
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0.5em 0;
    -webkit-transform: none !important;
    transform: none !important;
}

/* Buttons: Header-Tab
--------------------------------------------------------------------------*/

.emby-tab-button {
    padding: .6em 1.25em .8em 1.25em !important;
}

.emby-tab-button:focus {
    -webkit-transform: scale(1.1)!important;
    transform: scale(1.1)!important;
}
.emby-tab-button-active {
    color: #fff;
}

/* Buttons: Action Sheet Menu Items
--------------------------------------------------------------------------*/

.actionSheetMenuItem {
    border: solid 2px #0000;
    border-color: #0000 !important;
    -webkit-transform: none !important;
    transform: none !important;
    margin-top: .2em !important;
    margin-bottom: .2em !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
}

/* Buttons: List Menu Items
--------------------------------------------------------------------------*/

.listTextButton-autohide {
    border: solid 2px #0000;
    border-color: #0000 !important;
    -webkit-transform: none !important;
    transform: none !important;
    padding: .75em !important;
    margin: .2em !important;
}

/* Buttons: Collapsible
--------------------------------------------------------------------------*/

.emby-collapsible-button {
    border: solid 2px #0000;
    padding: .75em !important;
    -webkit-transform: none !important;
    transform: none !important;
}

/* Collapsible Menu: Button Text */
.emby-collapse > .emby-button.show-focus > .emby-collapsible-title {
    margin-left: 0.5em;
}


/* Buttons: Menu List Items
--------------------------------------------------------------------------*/

/* List Item Border */
.listItem-border {
    border: solid 2px #0000;
    -webkit-transform: none !important;
    transform: none !important;
    margin-top: .2em !important;
    margin-bottom: .2em !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
}

.listItemBodyText {
    text-shadow: var(--textshadow) !important;
}

.layout-mobile #myPreferencesMenuPage .padded-bottom-page {
    width: 100%;
    text-align: center;
}

/* Buttons: Media Buttons (Play, Watched, Favourite...)
--------------------------------------------------------------------------*/

.detailButton {
    border: var(--buttonborder) !important;
}

.layout-tv .mainDetailButtons .detailButton {
    font-size: 120% !important;
    margin-right: 1.5em !important;
}
.layout-desktop .mainDetailButtons .detailButton {
    font-size: 120% !important;
    margin-right: 1em !important;
}
.layout-tv .detailButton:focus {
    -webkit-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}

/* Buttons: Buttons on Slides (Desktop & Mobile)
--------------------------------------------------------------------------*/
.play-button,
.detail-button,
.favorite-button {
    font-size: 120% !important;
    margin-right: .2em !important;
    color: inherit;
    border: var(--buttonborder) !important;
    height: 3.5em;
    margin-right: 1em !important;
}
.detail-button,
.favorite-button {
    width: 3.5em;
    margin-right: 1em !important;
}
.play-button:focus,
.detail-button:focus,
.favorite-button:focus {
    -webkit-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}

/* Buttons: Links acting as Buttons
--------------------------------------------------------------------------*/

.button-link,
.overview-expand {
    color: inherit !important;
    -webkit-transform: none !important;
    transform: none !important;
    text-decoration: none;
}
.button-link:hover,
.overview-expand:hover {
    text-decoration: none;
}
.button-link:focus,
.overview-expand:focus {
    text-decoration: none;
}

/* ClearLinks: Buttons with Link-Buttons inside (why...?)
--------------------------------------------------------------------------*/

/* Clearlinks: Won't focus with remote > hide (TV) */
.layout-tv .sectionTitleContainer > .clearLink {
    display: none;
}

/* Clearlink Container */
.clearLink {
    padding: .2em 1em !important;
    -webkit-transform: none !important;
    transform: none !important;
    margin-left: 0px !important;
}

/* Clearlink: Buttons inside */
.clearLink > .emby-button {
    padding: .2em 1em !important;
    font-size: 1.5em;
    font-weight: 400;
}

/*
============================================================================
   Inputs and Labels
============================================================================
*/

/* Input */
.emby-input {
    padding: .5em .6em;
}

/* Textarea */
.emby-textarea {
    padding: .5em .6em;
    resize: vertical !important;
    font-family: monospace;
    font-size: .9em;
    min-height: 6em;
    overflow-y: hidden;
}

/* Select Container */
.emby-select-focusscale:focus {
    -webkit-transform: none !important;
    transform: none !important;
}

/* Select Container: Arrow */
.selectContainer .selectArrowContainer {
    top: 2em;
}
.trackSelectionFieldContainer .selectArrowContainer {
    top: .3em;
}
.selectArrow {
    margin-top: .1em !important;
}

/* Inputs: Accent */
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.checkboxOutline {
    border: var(--buttonborder) !important;
}
.emby-input:not(:disabled):hover,
.emby-textarea:not(:disabled):hover,
.emby-select-withcolor:not(:disabled):hover,
.checkboxOutline:not(:disabled):hover {
    border: 2px solid var(--accent40) !important;
}
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.checkboxOutline:focus {
    border: 2px solid var(--accent80) !important;
}

/* Checkbox: Outline */
.emby-checkbox:hover + span + .checkboxOutline {
    border: 2px solid var(--accent40) !important;
}
.emby-checkbox:focus + span + .checkboxOutline {
    border: 2px solid var(--accent80) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
    border: 2px solid var(--accent20) !important;
}

.selectLabel {
    align-self: center;
}

/*
===========================================================================
   Cards
===========================================================================
*/

/* Cards: Narrow margins */
.cardBox-bottompadded {
    margin-bottom: 0.5em !important;
}

/* Cards: Rounding Top, Flat Bottom */
.visualCardBox:has(.cardFooter) .blurhash-canvas,
.visualCardBox:has(.cardFooter) .cardImage,
.visualCardBox:has(.cardFooter) .coveredImage,
.visualCardBox:has(.cardFooter) .cardImageContainer,
.visualCardBox:has(.cardFooter) .cardOverlayContainer,
.visualCardBox:has(.cardFooter) .sessionNowPlayingInnerContent {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Card Footer: Flat Top, Rounding Bottom */
.cardFooter:not(.visualCardBox-cardFooter) {
    border-bottom-left-radius: var(--rounding-media) !important;
    border-bottom-right-radius: var(--rounding-media) !important;
    text-align: center;
}

/*
===========================================================================
   Cards: Text & Buttons
===========================================================================
*/

/* Card Text: Shadow (only without footer) */
:not(.cardFooter) > .cardText.cardText-first {
    padding-top: .5em !important;
    text-shadow: var(--textshadow) !important;
}

/* Card Text: Secondary Text */
.cardText.cardText-secondary {
    font-size: 75% !important;
    text-shadow: var(--textshadow) !important;
}

/* Card Action-Button (Mobile) */
.layout-mobile .cardFooter .itemAction {
    margin-bottom: 4.4em !important;
    margin-right: .25em !important;
}
.layout-mobile .itemAction > .material-icons {
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
    color: white;
}

/* Links / Action-Text in card footer */
.layout-desktop .card .textActionButton:hover {
    text-decoration: none;
}

/*
===========================================================================
   Cards: Animations
===========================================================================
*/

/* Cards: Zoom on Focus (TV) */
.layout-tv .card.show-animation:focus .cardBox {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* More space for glow animation */
.layout-tv .itemsContainer .card .cardBox,
.layout-desktop .itemsContainer .card .cardBox {
    margin-left: .5em !important;
}

/*
===========================================================================
   Cards: Indicators
===========================================================================
*/

/* Card Indicators: Alignment */
.cardContent .cardIndicators,
.mediaSourceIndicator {
    right: 0.5em !important;
    top: 0.5em !important;
}

/* Card Indicators: Count & Played */
.playedIndicator {
    background: rgba(0, 0, 0, 1);
    border: none;
}
.countIndicator,
.mediaSourceIndicator {
    font-weight: 600;
    font-size: 89%;
    color: rgba(0, 0, 0, 1);
    border: none;
}

/* Card Indicators: Missing & Unaired */
.missingIndicator,
.unairedIndicator {
    color: #fff;
    background: #ae3030eb;
    padding: .3em .6em;
}

/* Card Indicators: Multi Select Checkboxes */
.multiSelectCheckboxOutline {
    border-top-left-radius: var(--rounding-media) !important;
    border-top-right-radius: var(--rounding-system) !important;
    border-bottom-right-radius: var(--rounding-system) !important;
    border-bottom-left-radius: var(--rounding-system) !important;
}

/*
===========================================================================
   Cards: Progressbar
===========================================================================
*/

/* Card Progressbar: Background */
.itemProgressBar {
    height: .4em !important;
    margin: .5em .8em !important;
    backdrop-filter: blur(6px);
}

/* Card Progressbar: Progress */
.itemProgressBarForeground {
    background-color: var(--accent100) !important;
}

/*
===========================================================================
   Login Page
===========================================================================
*/

/* Hide some elements */
#loginPage .btnForgotPassword,
#loginPage .loginDisclaimerContainer {
    display: none;
}

/* Login Form: Dimensions & Colors */
#loginPage .padded-left.padded-right.padded-bottom-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 24em;
    padding-bottom: 2em !important;
}

/* Manual Login Form */
#loginPage .readOnlyContent,
#loginPage form {
    max-width: 22em;
}

/* Login Card: "please sign in" */
#loginPage .visualLoginForm {
    padding-top: 1em;
}
#loginPage .manualLoginForm {
    padding-top: 2em;
}

/* Login Card: User */
#loginPage .squareCard {
    width: 33%;
    margin: 1em !important;
}

/*
============================================================================
   Home Page
============================================================================
*/

/* Disable Slides (TV - they don't work well with a remote) */
.layout-tv #slides-container {
    display: none !important;
}

/* Use freed up Space (TV) */
.layout-tv .homeSectionsContainer {
    top: 0;
}

/* Scroller Alignment */
.layout-tv #indexPage .homeSectionsContainer .emby-scroller,
.layout-tv #tvRecommendedPage .verticalSection .itemsContainer-tv {
    padding-left: 1em;
}

/* Slides */
.slide .plot-container {
    font-size: 120%;
}

.slide .info-container {
    font-size: 120%;
}

.slide .genre {
    font-size: 120%;
}

.layout-mobile .homeSectionsContainer {
    top: 67vh;
}

/*
===========================================================================
   Library Pages
===========================================================================
*/

/* Library Pages: Move up */
.layout-tv .libraryPage {
    padding-top: 5em !important;
}

/* Library Pages: Center Content */
.layout-tv .libraryPage:not(#indexPage) > .pageTabContent > .itemsContainer,
.layout-tv .libraryPage .padded-right-withalphapicker {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
}

/* Library Pages: Center Content */
.layout-mobile .libraryPage:not(#indexPage) > .pageTabContent > .itemsContainer,
.layout-mobile .libraryPage .padded-right-withalphapicker {
    padding-left: 3vw !important;
    padding-right: 4vw !important;
}

/* Library Pages: Item backdrop alignment (Mobile) */
.layout-mobile .itemBackdrop {
    margin-top: 3.9rem;
}

/* Library Pages: Alphabet Picker */
.alphaPickerButton {
    height: 1.6em;
}
.alphaPickerButton:hover {
    color: inherit !important;
}
.alphaPickerButton:focus {
    -webkit-transform: none !important;
    transform: none !important;
    transition: none !important;
}

/*
===========================================================================
   Library Pages: Section Titles
===========================================================================
*/

/* Section Titles: TV */
.layout-tv .verticalSection > .sectionTitle-cards,
.layout-tv .verticalSection > .sectionTitleContainer-cards {
    text-align: center;
    padding-left: 0%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-top: .25em;
    margin-bottom: .25em;
}

/* Section Titles: Desktop */
.layout-desktop .verticalSection > .sectionTitle-cards,
.layout-desktop .verticalSection > .sectionTitleContainer-cards {
    padding-left: 3.8%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-bottom: .25em;
}
.layout-desktop .verticalSection .sectionTitleTextButton .sectionTitle-cards,
.layout-desktop .sectionTitleTextButton > .material-icons {
    margin-top: 0em;
    margin-bottom: 0em;
}
.layout-desktop .verticalSection > .emby-scrollbuttons {
    padding-top: .2%;
    padding-bottom: 0em;
}

/* Section Titles: Mobile */
.layout-mobile .verticalSection > .sectionTitle-cards,
.layout-mobile .verticalSection > .sectionTitleContainer-cards {
    text-align: center;
    padding-left: 0em;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: .25em;
    margin-bottom: .25em;
}

/* Section Title inside link-button (Mobile) */
.layout-mobile :not(.sectionTitleContainer-cards) .sectionTitleTextButton .sectionTitle-cards {
    padding-left: 0em;
    padding-top: 0em;
}
.layout-mobile .sectionTitleTextButton > .material-icons {
    padding-top: 0em;
}

/* Media Page Section Titles */
.detailPagePrimaryContainer .sectionTitle,
.detailPageSecondaryContainer .sectionTitle {
    display: block;
    font-weight: 600;
}

/* Media Page Section Titles: TV */
.layout-tv .detailPagePrimaryContainer .sectionTitle {
    text-align: left;
    padding-left: 3%;
}
.layout-tv .detailPageSecondaryContainer .sectionTitle {
    text-align: center;
}

/* Media Page Section Titles: Desktop */
.layout-desktop .detailPagePrimaryContainer .sectionTitle {
    padding-left: 1.5% !important;
}
.layout-desktop .detailPageSecondaryContainer .sectionTitle {
    padding-left: 3.5% !important;
}

/*
===========================================================================
   Library Pages: Media Scroller
===========================================================================
*/

/* Media Scroller: Position (TV) */
.layout-tv .verticalSection .emby-scroller {
    padding-left: 2%;
}

/* Media Scroller: Position (TV) */
.layout-desktop .verticalSection .emby-scroller {
    padding-left: 3%;
}

/* Media Scroller: Max card width */
.itemsContainer-tv > .overflowBackdropCard {
    max-width: 30em;
}

/* Media Scroller: Card Spacing (TV) */
.layout-tv .itemsContainer-tv > .overflowBackdropCard:not(.personCard) {
    margin-left: 1%;
    margin-top: .5%;
    margin-bottom: .5%;
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard:not(.personCard) {
    margin-left: .75%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.layout-tv .itemsContainer-tv > .personCard {
    margin-top: .25%;
    margin-bottom: .25%;
}

/* Media Scroller: Card Spacing (Desktop) */
.layout-desktop .itemsContainer > .overflowBackdropCard ,
.layout-desktop .itemsContainer > .overflowPortraitCard {
    margin-top: .25%;
    margin-bottom: .25%;
}

/* Media Scroller: Card Size (Mobile) */
.layout-mobile .overflowBackdropCard {
    width: 52%;
}
.layout-mobile .overflowPortraitCard {
    width: 26%;
}

/*
===========================================================================
   Library Pages: Sorting & Filter
===========================================================================
*/

/* Filter & Sorting Header */
.pageTabContent > .focuscontainer-x,
.itemsViewSettingsContainer {
    margin-bottom: 1.5em;
    padding: 0.25em;
}

/* Filter & Sorting Header: Buttons */
.pageTabContent .focuscontainer-x .paper-icon-button-light {
    -webkit-transform: none !important;
    transform: none !important;
}

/* Filter & Sorting Header: Buttons */
.layout-mobile .pageTabContent .focuscontainer-x .paper-icon-button-light {
    margin: 0 .2em;
}

/* Filter & Sorting Header: Item Count */
.listPaging > span {
    margin-left: .5em;
    margin-right: .5em;
}

/* Filter Indicator */
.filterIndicator {
    color: black;
}

/* Sorting Menu: Radio Button spacing */
.radio-label-block {
    margin: 1em !important;
}

/*
===========================================================================
   Library Pages: Recent & NextUp
===========================================================================
*/

/* Recent & NextUp: Hide Series Title */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-first,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-first {
    display: none;
}

/* Recent & NextUp: Inflate Episode Name */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-secondary {
    font-size: 100% !important;
    padding-top: .5em !important;
    color: inherit;
}

/* Recent & NextUp: Hide Movie Year */
.ContinueWatching .overflowBackdropCard[data-type="Movie"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Movie"] .cardText-secondary {
    display: none;
}

/*
===========================================================================
   Library Pages: Views
===========================================================================
*/

/* View: Banner
--------------------------------------------------------------------------*/

.layout-tv .itemsContainer > .bannerCard {
    padding-bottom: 1.5vh !important;
    padding-right: 1vw !important;
}

/* View: List
--------------------------------------------------------------------------*/

/* List Item Cards */
.itemsContainer > .listItem-focusscale:not(.listItem-largeImage) {
    border: var(--buttonborder) !important;
    padding-top: 1.5vh !important;
    padding-bottom: 1.5vh !important;
    padding-right: 1vw !important;
    margin-bottom: .5em;
    padding-left: 0em;
    height: 5em;
}
.itemsContainer > .listItem-focusscale:not(.listItem-largeImage):hover {
    border: solid 2px var(--accent40) !important;
}
.itemsContainer > .listItem-focusscale:not(.listItem-largeImage):focus {
    border: solid 2px var(--accent80) !important;
}

/* List Item Cards: Hide Poster on small screens (Mobile) */
@media (max-width: 40em) {
    [data-type=Movie] .listItemImage,[data-type=Series] .listItemImage {
        display: flex;
    }
}
@media (max-width: 30em) {
    [data-type=Movie] .listItemImage,[data-type=Series] .listItemImage {
        display: none;
    }
}

/* List Item Cards: Picture Size */
.itemsContainer > .listItem-focusscale:not(.listItem-largeImage) .listItemImage {
    height: 5em;
    width: 10em;
}
.itemsContainer > .listItem-focusscale:not(.listItem-largeImage):focus .listItemImage {
    width: 11em;
}

/* Hide Alphapicker > steals focus with remote */
.layout-tv .itemsContainer:has(.listItem-focusscale) ~ .alphaPicker {
    display: none !important;
}

.layout-tv .listItem-focusscale ~ .alphaPicker {
    display: none;
}

/* View: Poster
--------------------------------------------------------------------------*/

.layout-tv .itemsContainer > .backdropCard,
.layout-tv .itemsContainer > .portraitCard {
    padding-bottom: 1.5vh !important;
    padding-right: 1vw !important;
}

/*
===========================================================================
   Media Pages
===========================================================================
*/

/* Media Pages: Hide some Elements (TV) */
.layout-tv .itemExternalLinks,
.layout-tv .detailsGroupItem.directorsGroup,
.layout-tv .detailsGroupItem.writersGroup,
.layout-tv .detailsGroupItem.studiosGroup,
.layout-tv .hide+.detailPageWrapperContainer .itemName,
.layout-tv .endsAt,
.layout-tv .itemTags {
    display: none !important;
}

/* Media Pages: Move Content up (TV) */
.detailPageWrapperContainer {
    padding-top: 1em;
}

/* Media Pages: Increase Season Title Text */
.layout-tv .selfBackdropPage .itemName,
.layout-desktop .selfBackdropPage .itemName{
    font-size: 150%;
    color: rgba(255, 255, 255, 0.8);
}
.selfBackdropPage h1.parentName.focuscontainer-x {
    font-size: 150%;
}

/* Media Pages: Poster Image */
.layout-tv .detailImageContainer .card,
.layout-desktop .detailImageContainer .card {
    left: 3% !important;
    max-width: 26vw;
}

/* Media Pages: Center Content (Mobile) */
.layout-mobile .verticalSection .itemsContainer.vertical-wrap {
    justify-content: center;
}

/*
===========================================================================
   Media Pages: Detail-Ribbon
===========================================================================
*/

/* Detail-Ribbon */
.detailRibbon {
    padding-right: 2% !important;
}

/* Detail-Ribbon (Desktop) */
.layout-desktop .detailRibbon {
    height: 9em !important;
    margin-top: -9em !important;
}

/* Detail-Ribbon (Mobile) */
.layout-mobile .detailRibbon {
    margin-top: -1em !important;
    padding-bottom: 1.25em;
    padding-right: 5% !important;
    padding-left: 5%;
}

/* Detail-Ribbon: Info Container */
.infoWrapper {
    padding-bottom: 0.15em;
}

/* Detail-Ribbon: Media Infos */
.layout-tv .itemMiscInfo,
.layout-desktop .itemMiscInfo{
    font-size: 125%;
    margin-top: 0.25em;
    margin-bottom: 0.6em;
}

/* Detail-Ribbon: Media Buttons */
.layout-mobile .mainDetailButtons .detailButton {
    margin-right: .5em !important;
    margin-left: .5em !important;
}

/*
===========================================================================
   Media Pages: Media Details
===========================================================================
*/

/* Media Details: Primary Content */
.layout-tv .detailPagePrimaryContent,
.layout-mobile .detailPagePrimaryContent {
    padding-top: 0em;
    padding-bottom: 0em;
}
.layout-desktop .detailPagePrimaryContent {
    padding-top: 1em;
    padding-bottom: 1em;
}

.layout-mobile .detailPagePrimaryContent .detailSection .trackSelections {
    padding-top: 1em;
}

/* Media Details: Tracks & Subtitles */
.leyout-tv .trackSelections {
    max-width: 100%;
    width: 60%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Media Details: Track Select */
.detailTrackSelect {
    padding: .35em 1.9em .35em .35em !important;
}

/*
===========================================================================
   Media Pages: Media Description
===========================================================================
*/

/* Media Description: Secondary Content */
.layout-tv .detailPageSecondaryContainer,
.layout-desktop .detailPageSecondaryContainer{
    padding-top: 1em !important;
}
.layout-mobile .detailPageSecondaryContainer {
    padding-top: 0em !important;
}

.layout-tv .detailPageSecondaryContainer .detailPageContent,
.layout-desktop .detailPageSecondaryContainer .detailPageContent {
    padding-left: 0;
    padding-right: 0;
}

/* Media Description: Text */
.overview.detail-clamp-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Media Description: Director & Studio */
.itemDetailsGroup {
    margin-top: 0.5em;
    padding-bottom: 1em;
}

/*
===========================================================================
   Media Pages: Section Scroller
===========================================================================
*/

/* Section Scroller: Space between Sections (TV) */
.layout-tv .detailVerticalSection {
    margin-bottom: 0em !important;
}

/* Cards: Large List Items */
.listItem-largeImage {
    border: var(--buttonborder) !important;
    margin-bottom: 1em;
    padding: 0em;
    border-color: hsl(0deg 0% 100% / 20%) !important;
    -webkit-transform: none !important;
    transform: none !important;
    height: 15em;
    margin-right: .5em;
}
.listItem-largeImage:hover {
    border: solid 2px var(--accent40) !important;
}
.listItem-largeImage:focus {
    border: solid 2px var(--accent80) !important;
}

/* Large List Items: Align Body */
.listItem-largeImage .listItemBody {
    align-self: normal;
    padding-top: .5em;
    padding-left: .5em;
}

/* Large List Items: Text */
.listItem-largeImage .listItem-overview {
    max-height: 8.5em;
}

/* Section Scroller: Large Episodes in Season Overview */
.listItemImage-large {
    max-height: 15em;
    left: -.5em;
}

/* Section Scroller: Large Episode Indicator */
.listItemIndicators {
    left: 0.5em;
    top: 0.5em;
}

/*
===========================================================================
   Player OSD
===========================================================================
*/

/* Player OSD: Hide some Elements */
.btnFullscreen,
.btnPip,
.videoOsdBottom .endsAtText {
    display: none;
}

/* Player OSD: Media Infos */
.osdTitle {
    margin-left: 0.5em;
}
.startTimeText,
.endTimeText {
    width: 3.4em;
    display: block;
    text-align: center;
}
.osdPoster img {
    border: none;
}
.osdTextContainer {
    margin: 0 !important;
    margin-top: 0.2em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

/* Player OSD: Media-Buttons */
.ltr > .paper-icon-button-light:focus {
    -webkit-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}

/* Player OSD: Volume-Button */
.volumeButtons > .paper-icon-button-light:focus,
.osdControls > .focuscontainer-x > .paper-icon-button-light:focus {
    -webkit-transform: none !important;
    transform: none !important;
}

/* Player OSD: Skip-Button */
.skip-button {
    color: #fff;
    border: none !important;
}

/*
===========================================================================
   Player OSD: Header & Footer
===========================================================================
*/

/* OSD Header: Height */
.osdHeader {
    height: 3.3em !important;
    --webkit-backdrop-filter: none;
}

/* OSD Footer: Full Layout */
.videoOsdBottom {
    padding-top: .5em;
    padding-bottom: .5em;
}

/* OSD Footer: Small Box-Layout */
@media all and (min-width: 105em) {
    .videoOsdBottom {
        /* background: rgba(0, 0, 0, var(--headeropacity)) !important; */
        padding-top: .5em;
        padding-bottom: 1em;
        margin-bottom: 2em;
        margin-left: 24vw;
        margin-right: 24vw;
        border-radius: var(--rounding-media);
    }
}

/* OSD Footer: Lift Progressbar */
.buttons.focuscontainer-x {
    padding-top: .5em;
}

/*
===========================================================================
   Player OSD: Progressbar & Volume
===========================================================================
*/

/* Player OSD: Progressbar Vertical Marker */
.sliderMarker {
    width: 3px;
    border-radius: 2px;
}

/*
===========================================================================
   Player OSD: Chapter Thumbnails
===========================================================================
* > ultrachromic / 

/* Chapter Thumbnails */
.chapterThumbContainer {
    box-shadow: 0 0 1.9vh #000;
}
.chapterThumb {
    height: 14vh;
    min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
}

/* Chapter Thumbnails: Slider Bubble */
.sliderBubble {
    -webkit-transform: translate3d(-50%,-108%,0);
    transform: translate3d(-50%,-108%,0);
}

/* Chapter Thumbnails: Text */
.chapterThumbTextContainer {
    right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
}
.chapterThumbText {
    font-size: 1em;
}

/*
===========================================================================
   Player OSD: UpNext Dialog
===========================================================================
*/

/* UpNext: Dialog-Box */
.upNextContainer {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

/* UpNext: Buttons */
.upNextDialog-button {
    margin-left: .5em;
    border: var(--buttonborder) !important;
    -webkit-transform: none !important;
    transform: none !important;
}

/*
===========================================================================
   Settings
===========================================================================
*/

/* Settings: Center content */
#myPreferencesMenuPage {
    justify-content: center;
    display: flex;
}

/* Settings: Titles */
.settingsContainer .sectionTitle,
.homeScreenSettingsContainer .sectionTitle {
    padding-top: .3em;
    padding-bottom: .3em;
    margin-left: -.5em;
    padding-left: .5em;
    margin-right: -.5em;
}

/* Center Settings Items (Mobile) */
.layout-mobile #myPreferencesMenuPage .listItemIcon {
    padding-left: 25vw;
    text-align: right;
}

/* Subtitles: Preview-Box */
.subtitleappearance-preview {
    background: linear-gradient(140deg,var(--accent100),#111) !important;
}

/* Settings Pages: Center content and Text */
#userProfilePage,
#quickConnectPreferencesPage {
    justify-content: center;
    display: flex;
    text-align: center;
}

/* Settings Pages: Move content up */
#myPreferencesMenuPage,
#quickConnectPreferencesPage,
#displayPreferencesPage,
#homeScreenPreferencesPage,
#languagePreferencesPage,
#searchPage {
    padding-top: 5em !important;
}

/* Preferences Pages */
#homeScreenPreferencesPage .verticalSection-extrabottompadding,
#languagePreferencesPage .verticalSection-extrabottompadding {
    margin-bottom: 0em;
}
#languagePreferencesPage .selectContainer,
#displayPreferencesPage .inputContainer {
    margin-bottom: 1em;
}
#displayPreferencesPage .checkboxContainer,
#displayPreferencesPage .selectContainer, 
#homeScreenPreferencesPage .selectContainer,
#homeScreenPreferencesPage .checkboxContainer,
#homeScreenPreferencesPage .checkboxListContainer,
#languagePreferencesPage .checkboxContainer {
    margin-bottom: 1.25em;
}
#displayPreferencesPage .btnSave,
#homeScreenPreferencesPage .btnSave,
#languagePreferencesPage .btnSave {
    margin-top: 2em;
}

#searchPage .searchFieldsInner {
    padding-bottom: 1em;
}

/* Section Titles */
#searchPage .sectionTitle {
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 0em;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
}

/*
===========================================================================
   Settings: User Profile
===========================================================================
*/

/* User Profile: Improve Alignments */
.formDialogHeaderTitle {
    margin-left: 1em;
}
.formDialogContent {
    margin-bottom: 6.2em;
}
.dialogContentInner {
    padding: .5em 1em 1em;
}
.listItem-indexnumberleft {
    margin: 1em;
}

/* User Profile: Form Alignment */
.updatePasswordForm br {
    display: none;
}
.updatePasswordForm .inputContainer {
    margin-bottom: 1em;
}
.updatePasswordForm .emby-button.block {
    margin-top: 2em;
}

/* User Profile: Image */
.imagePlaceHolder {
    border: var(--buttonborder) !important;
}
.imagePlaceHolder:hover {
    border: solid 2px var(--accent40) !important;
}

/* User Profile: Username bold */
h2.username {
    margin-top: 0px;
    font-weight: 600;
    color: #fff;
}
