/*
   ___  ________   ________ ___  ________   ___  _________  ___      ___   
  |\  \|\   ___  \|\  _____\\  \|\   ___  \|\  \|\___   ___\\  \    /  /|  
  \ \  \ \  \\ \  \ \  \__/\ \  \ \  \\ \  \ \  \|___ \  \_\ \  \  /  / /  
   \ \  \ \  \\ \  \ \   __\\ \  \ \  \\ \  \ \  \   \ \  \ \ \  \/  / /   
    \ \  \ \  \\ \  \ \  \_| \ \  \ \  \\ \  \ \  \   \ \  \ \ \    / /    
     \ \__\ \__\\ \__\ \__\   \ \__\ \__\\ \__\ \__\   \ \__\ \ \__/ /     
      \|__|\|__| \|__|\|__|    \|__|\|__| \|__|\|__|    \|__|  \|__|/      
                                                                           
                                                                           
                        The Big Screen Experience                          
                                                                           
*/

:root {

  /* Card Shadow */
  --cardshadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);

  /* Accent predefinition */
  --fullaccent: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --accent80: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.8);
  --accent60: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.6);
  --accent40: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.4);
  --accent20: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.2);

  /* Jellyfin Media Player Remote Debugging:
     jellyfinmediaplayer --remote-debugging-port=9222
  */
}

/* 
============================================================================
  Background & Fonts
============================================================================
*/

/* Background Image if Backdrop disabled */
.backgroundContainer:not(.withBackdrop):not(.backgroundContainer-transparent) {
  background: 
    linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)),
    var(--bgImage) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

/* Background Image on Homescreen even with Backdrop enabled */
.backgroundContainer.withBackdrop:has(~ .mainAnimatedPages .homePage:not(.hide)) {
  background: 
    linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)),
    var(--bgImage) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

/* Darken Backdrop Background */
.backgroundContainer.withBackdrop {
  background-color: rgba(0, 0, 0, var(--bgdarkness)) !important;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/*  
============================================================================
  System & Dialogs
============================================================================
*/

/* Overall Smaller Size */
.layout-tv {
  font-size: 110% !important;
}

/* Disable Slides (they don't work well with a remote) */
.layout-tv #slides-container {
  display: none !important;
}

/* Use freed Space */
.layout-tv .homeSectionsContainer {
  top: 0;
}

.layout-desktop .homeSectionsContainer {
  top: 74vh;
}

/* Dialogs */
.dialog,
.formDialogHeader,
.formDialogFooter {
  border-radius: var(--rounding-system) !important;
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Toasts: Background & Glow*/
.toast {
  /* box-shadow: 0px 0px 5px var(--fullaccent) !important; */
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
  border-radius: var(--rounding-system) !important;
  background: rgba(0, 0, 0, var(--draweropacity)) !important;
}

/*  
============================================================================
  Menu Drawer
============================================================================
*/

/* Main Drawer */
.mainDrawer {
  margin-top: 3.9em !important;
  box-shadow: none !important;
  background: rgba(0, 0, 0, var(--draweropacity)) !important;
}

/* Main Drawer Options */
.navMenuOptionText {
  margin-top: 0;
}
.navMenuOption:hover {
  background: var(--accent80) !important;
}
.navMenuOption-selected {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/*  
============================================================================
  Scrollbar
============================================================================
*/

/* Scrollbar: Color */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent80) rgba(0, 0, 0, var(--headeropacity)) !important;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, var(--headeropacity));
}

::-webkit-scrollbar-thumb {
  background: var(--accent80) !important;
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: var(--accent80) !important;
}

/* Hide */
.layout-tv ::-webkit-scrollbar {
  display: none;
}

#loginPage,
.layout-tv {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

/*  
============================================================================
  Header & Section Tabs
============================================================================
*/

/* Don't scroll header in TV mode */
.layout-tv .skinHeader {
  position: fixed !important;
}

/* Size & Alignment */
.skinHeader {
  padding: .3em !important;
  height: 3.3em;
}
.headerTop {
  padding: .3em !important;
}
.skinHeader-withBackground {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Move Section Tabs into Header */
.layout-tv .headerTabs.sectionTabs,
.layout-desktop .headerTabs.sectionTabs {
  font-size: 110% !important;
  margin-top: -2.7em !important;
  width: 42vw;
  min-width: 26vw;
  scrollbar-width: none;
  scroll-behavior: smooth !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  align-self: center;
  position: relative;
  transition: filter 0.2s;
}

/* Text: Page Title & Time */
.pageTitle {
  font-weight: bold;
}
.currentTimeText {
  font-size: 110% !important;
  font-weight: bold;
}

/*  
============================================================================
  Buttons
============================================================================
*/

/* .emby-button.block (Save-Buttons etc.)
--------------------------------------------------------------------------*/

/* Submit & Save Buttons */
.emby-button.block,
.button-submit {
  border-radius: var(--rounding-system);
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
}
.emby-button.block:hover,
.button-submit:hover {
  color: var(--fullaccent) !important;
  border-color: var(--accent40) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.emby-button.block:focus,
.button-submit:focus {
  color: var(--fullaccent) !important;
  border-color: var(--accent80) !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* Spacing for buttons */
.emby-button.block {
  margin: 0.5em 0;
}


/* .paper-icon-button-light: Menu & OSD 
--------------------------------------------------------------------------*/

/* Paper Icon Buttons */
.paper-icon-button-light {
  border-radius: var(--rounding-media);
}
.paper-icon-button-light:hover {
  color: var(--fullaccent) !important;
  background: var(--accent20) !important;
}
.paper-icon-button-light:focus,
.paper-icon-button-light:active {
  color: var(--fullaccent) !important;
}

/* Paper Icon Buttons: Not Header */
.paper-icon-button-light:not(.headerButton) {
  padding: .4em !important;
}

/* Paper Icon Buttons: OSD */
.volumeButtons > .paper-icon-button-light:focus,
.ltr > .paper-icon-button-light:focus {
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

/* Paper Icon Buttons: OSD Volume */
.volumeButtons > .paper-icon-button-light:focus,
.osdControls > .focuscontainer-x > .paper-icon-button-light:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* Header Buttons: No Zoom */
.headerButton:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* .emby-tab-button 
--------------------------------------------------------------------------*/

/* Header Tab Buttons */
.emby-tab-button {
  padding: .6em 1.25em .8em 1.25em !important;
}
.emby-tab-button:hover {
  color: var(--fullaccent) !important;
}
.emby-tab-button:focus {
  color: var(--fullaccent) !important;
}
.emby-tab-button-active {
  color: #fff;
}

/* Header Tab Buttons: Zoom */
.emby-tab-button.show-focus:focus {
  -webkit-transform: scale(1.1)!important;
  transform: scale(1.1)!important;
}

/* ListMenu Buttons: .listItem-border / .listItem-button
--------------------------------------------------------------------------*/

/* List Items */
.listItem-button:not(.listItem-largeImage),
.listItem-border,
.listTextButton-autohide {
  border-radius: var(--rounding-system);
  border: solid 2px #0000;
  border-color: #0000 !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
  margin-bottom: .2em !important;
}

/* Collapsible Menu Buttons */
.emby-collapsible-button {
  -webkit-transform: none !important;
  transform: none !important;
  margin-bottom: .2em !important;
}

/* List Items: Hover */
.listItem-button:not(.listItem-largeImage):hover,
.listItem-border:hover,
.emby-collapsible-button:hover,
.listTextButton-autohide:hover {
  color: var(--accent80) !important;
  border-color: var(--accent20) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

/* List Items Focus: Settings Menu */
.listItem-button:not(.listItem-largeImage):focus,
.listItem-border:focus,
.emby-collapsible-button:focus,
.listTextButton-autohide:focus {
  color: var(--fullaccent) !important;
  border-color: var(--accent60) !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* No Background on Hover */
.listItem:hover {
  background: #0000 !important;
}

/* List Items Checked: Icon Color */
.actionSheetContent .listItemIcon.check {
  color: var(--fullaccent) !important;
}

/* Collapsible Menu */
.collapseContent {
  background: #0000 !important;
}


/* .detailButton 
--------------------------------------------------------------------------*/

/* Detail Buttons */ 
.detailButton {
  font-size: 120% !important;
  margin-right: 1.5em !important;
  border-radius: var(--rounding-media) !important;
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
}

/* UpNext Buttons */
.upNextDialog-button {
  margin-left: .5em;
  background: #0000;
  border-radius: var(--rounding-system) !important;
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.detailButton:hover,
.upNextDialog-button:hover {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border-color: var(--accent40) !important;
}
.detailButton:focus,
.upNextDialog-button:focus {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  border-color: var(--accent80) !important;
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
}

/* Zoom on Focus */
.detailButton:focus {
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

/* .button-link (Genres, Show More...)
--------------------------------------------------------------------------*/

/* Links acting as buttons */
/* a.button-link.emby-button.show-focus */
.button-link,
.overview-expand {
  color: inherit !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
  text-decoration: none;
}
.button-link:hover,
.overview-expand:hover {
  color: var(--accent80) !important;
  text-decoration: none;
}
.button-link:focus,
.overview-expand:focus {
  color: var(--fullaccent) !important;
  text-decoration: none;
}

/* .skip-button 
--------------------------------------------------------------------------*/

/* Skip-Button */
/* button.skip-button.emby-button.show-focus.no-transition */
.skip-button {
  border-radius: var(--rounding-system);
  color: #fff;
  background: #0000 !important;
  border: none !important;
}
.skip-button:hover {
  color: var(--accent80) !important;
}
.skip-button:focus {
  color: var(--fullaccent) !important;
}

/* .clearLink: Link-Buttons with Buttons inside (but why...?)
--------------------------------------------------------------------------*/

/* Clearlink Container */
.clearLink {
  padding: .2em 1em !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
  margin-left: 0px !important;
}

/* Button inside */
.clearLink > .emby-button {
  padding: .2em 1em !important;
  background: #0000 !important;
  font-size: 1.5em;
  font-weight: 400;
}
.clearLink > .emby-button:hover,
.clearLink > .emby-button:focus {
  background: #0000 !important;
  border-color: #0000 !important;
  color: var(--fullaccent) !important;
}

/* Won't focus with remote - so hide */
.layout-tv .sectionTitleContainer > .clearLink {
  display: none;
}

/*  
============================================================================
  Inputs and Labels
============================================================================
*/

/* Inputs */
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.checkboxOutline {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--rounding-system) !important;
  background: rgba(0, 0, 0, 0.4);
}

/* Inputs: Text */
.emby-input {
  padding: .5em .6em;
}

/* Inputs: Textarea */
.emby-textarea {
  resize: vertical !important;
  font-family: monospace;
  font-size: 10pt;
  padding: .5em .6em;
}

/* Inputs: Hover */
.emby-input:not(:disabled):hover,
.emby-textarea:not(:disabled):hover,
.emby-select-withcolor:not(:disabled):hover,
.checkboxOutline:not(:disabled):hover {
  border: 2px solid var(--accent40);
  background: rgba(0, 0, 0, 0.6) !important;
}

/* Inputs: Focus */
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.checkboxOutline:focus {
  border: 2px solid var(--accent80) !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

/* Labels: Hover */
.emby-checkbox:hover + .checkboxLabel {
  color: var(--accent80) !important;
}

.emby-textarea:hover + .textareaLabel {
  color: var(--accent80) !important;
}

/* Labels: Focus */
.inputLabelFocused,
.textareaLabelFocused,
.selectLabelFocused,
.emby-checkbox:focus + .checkboxLabel {
  color: var(--fullaccent) !important;
}

/* Select */
.emby-select {
  border-radius: var(--rounding-system) !important;
}
.selectContainer .selectArrowContainer {
  top: 2em;
}
.trackSelectionFieldContainer .selectArrowContainer {
  top: .3em;
}
.selectArrow {
  margin-top: .1em !important;
}

/* Don't raise */
.emby-select-focusscale:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* Select: Label alignment */
.selectLabel {
  align-self: center;
}

/* Select: Option Colors */
.emby-select option {
  background: rgba(0, 0, 0, 0.8) !important;
}
.emby-select option:hover {
  background: var(--accent40) !important;
}
.emby-select option:focus {
  background: var(--accent80) !important;
}

/* Checkbox: Outline */
.emby-checkbox:hover + span + .checkboxOutline {
  border: 2px solid var(--accent40) !important;
}
.emby-checkbox:focus + span + .checkboxOutline {
  border: 2px solid var(--accent80) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  border: 2px solid var(--accent20) !important;
  background: var(--accent80) !important;
}

/* Radio Buttons */
.mdl-radio.show-focus .mdl-radio__button:hover+.mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio.show-focus .mdl-radio__button:hover+.mdl-radio__circles .mdl-radio__outer-circle,
.mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles .mdl-radio__outer-circle {
  color: var(--accent80) !important;
}
.mdl-radio__focus-circle {
  background: var(--fullaccent) !important;
}


/* Cards: Multiselect */
.Mui-selected {
  color: var(--accent80) !important;
}



/* Misc */
.selectionCommandsPanel {
  background: rgba(0, 0, 0, 0.4) !important;
}

/* 
===========================================================================
  Login Page
===========================================================================
*/

/* Hide some elements */
#loginPage .btnForgotPassword,
#loginPage .loginDisclaimerContainer {
  display: none;
}

/* Login Card: Dimensions & Colors */
#loginPage .padded-left.padded-right.padded-bottom-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background: rgba(0, 0, 0, 0.4) !important;
  width: 24em;
  border-radius: var(--rounding-media);
  padding-bottom: 2em !important;
}

/* Login Card: "please sign in" */
#loginPage .visualLoginForm {
  padding-top: 1em;
}
#loginPage .manualLoginForm {
  padding-top: 2em;
}

/* Login Card: User */
#loginPage .squareCard {
  width: 33%;
  margin: 1em !important;
}
#loginPage .cardImage {
  color: var(--fullaccent) !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

/* Manual Login Form */
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/* 
===========================================================================
  Library Pages
===========================================================================
*/

/* Library Pages: Move up */
#loginPage,
#indexPage,
#moviesPage,
#tvRecommendedPage,
#myPreferencesMenuPage {
  padding-top: 5em !important;
}

/* Media Pages */
.itemsContainer-tv.vertical-wrap {
  /* padding-top: 1% !important; */
  /* padding-right: 3% !important; */
}


/* Media Scroller */
.itemsContainer-tv.scrollSlider {
  padding-top: 1vw !important;
  padding-left: .6em !important;
}

/* Section Titles */
#indexPage .sectionTitleContainer-cards {
  padding-top: .75em;
  padding-bottom: .5em;
  margin-top: 2vh;
  margin-bottom: .5vh;
  /* margin-left: 3.3vw;
  margin-right: -.1em;
  border-radius: var(--rounding-system); */
  background: hsl(0deg 0% 100% / 10%);
  /* background: rgb(0 0 0 / 35%); */
  text-align: center;
}
#indexPage h2.sectionTitle.sectionTitle-cards {
  margin-left: -1em;
}

/* Backdrop Card Spacing in Media Scroller */
.homeSectionsContainer .itemsContainer-tv > .overflowBackdropCard {
  margin-right: 1vw !important;
}

/* Alphabet Picker */
.alphaPickerButton-tv:focus,
.alphaPickerButton-tv:hover {
  background: var(--accent80) !important;
}

/* 
===========================================================================
  Library Pages: Sorting & Filter
===========================================================================
*/

/* Background Bar */
.pageTabContent > .focuscontainer-x {
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 1em;
  padding: 0.5em;
}

/* Buttons (Sort / Filter) */ 
.btnPreviousPage,
.btnNextPage,
.btnPlayAll,
.btnFilter,
.btnShuffle,
.btnSelectView,
.btnSort {
  margin-left: .4em;
  margin-right: .4em;
  -webkit-transform: none !important;
  transform: none !important;
}

/* Item Count Button: Alignment */
.listPaging > span {
  margin-right: .5em;
}

/* Filter Button Menu */
.emby-collapse > .emby-button.show-focus > .emby-collapsible-title {
  margin-left: 0.5em;
}

/* Filter Indicator */
.filterIndicator {
  background: var(--fullaccent) !important;
  color: black;
}

/* Sorting Menu */
.radio-label-block {
  margin-top: .6em !important;
}

/* 
===========================================================================
  Cards: Size & Alignment
===========================================================================
*/

/* OverflowPortraitCard (TV) */
.castCollapsible .itemsContainer-tv > .overflowPortraitCard, 
.guestCastCollapsible .itemsContainer-tv > .overflowSquareCard {
  width: 16% !important;
}

/* OverflowBackdropCard (TV)
.itemsContainer-tv > .overflowBackdropCard {
  width: 29% !important;
}
 */
/* Hover Play Button */
.cardPadder {
  background-color: #0000 !important;
  box-shadow: none !important;
}

/* More Space for Animations */
.portraitCard.show-focus.show-animation,
.backdropCard.show-focus.show-animation {
  padding-bottom: 1.5em !important;
  padding-right: 1vw !important;
}
.itemsContainer > .card > .cardBox {
  margin-left: 0.5em !important;
}

/* narrow margins */
.cardBox-bottompadded {
  margin-bottom: 0.5em !important;
  margin-right: 1.5vw !important;
}

/* 
===========================================================================
  Cards: Roundings
===========================================================================
*/

/* Roundings: Full */
.blurhash-canvas,
.cardBox,
.cardContent,
.cardOverlayContainer,
.cardContent-button, 
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,
.cardScalable,
.visualCardBox,
.cardBox:not(.visualCardBox) .cardPadder {
  border-radius: var(--rounding-media);
}

/* Roundings: Top, Flat Bottom */
.visualCardBox:has(.cardFooter) .blurhash-canvas,
.visualCardBox:has(.cardFooter) .cardImage,
.visualCardBox:has(.cardFooter) .coveredImage,
.visualCardBox:has(.cardFooter) .cardImageContainer,
.visualCardBox:has(.cardFooter) .cardOverlayContainer,
.visualCardBox:has(.cardFooter) .sessionNowPlayingInnerContent {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Card Footer */
.cardFooter:not(.visualCardBox-cardFooter) {
  border-bottom-left-radius: var(--rounding-media) !important;
  border-bottom-right-radius: var(--rounding-media) !important;
  background: rgba(0, 0, 0, var(--footeropacity)) !important;
}

/* 
===========================================================================
  Cards: Shadows
===========================================================================
*/

/* Workaround until QT6 */
#indexPage .cardImageContainer {
  box-shadow: var(--cardshadow) !important;
}

/* Box Shadow card with footer */
.libraryPage .cardBox:has(.cardFooter) {
  box-shadow: var(--cardshadow) !important;
}

/* Box Shadow image for card without footer */
.libraryPage .cardBox:not(:has(.cardFooter)) .cardImageContainer {
  box-shadow: var(--cardshadow) !important;
}

/* 
===========================================================================
  Cards: Text
===========================================================================
*/

/* Card Title (not on poster thumbs) */
:not(.cardFooter) > .cardText-first {
  text-shadow: 2px 2px 4px black;
  padding-top: .5em !important;
}

/* Secondary Text */
.cardText-secondary {
  font-size: 75% !important;
  text-shadow: 2px 2px 4px black;
}

/* Recent & NextUp: Hide Series Title */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-first,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-first {
  display: none;
}

/* Recent & NextUp: Inflate Episode Name */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-secondary {
  font-size: 100% !important;
  padding-top: .5em !important;
  color: inherit;
}

/* Recent & NextUp: Hide Movie Year */
.ContinueWatching .overflowBackdropCard[data-type="Movie"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Movie"] .cardText-secondary {
  display: none;
}

.cardOverlayButton:hover {
  color: var(--fullaccent) !important;
  background: #0000 !important;
}

/* 
===========================================================================
  Cards: Animations
===========================================================================
*/

/* Zoom on Focus (TV) */
.layout-tv .card.show-animation:focus .cardBox {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Color on Focus (TV) */
.layout-tv .card.show-animation:focus .cardText-first,
.layout-tv .card.show-animation:focus .cardText-secondary {
  color: var(--fullaccent) !important;
}

/* Glow: Cards */
.backdropCard:has(.cardFooter):hover .cardBox, 
.portraitCard:has(.cardFooter):hover .cardBox {
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
}

/* Glow: Only Images on Cards in Homescreen */
#itemDetailPage .overflowBackdropCard:hover .cardContent,
#itemDetailPage .overflowPortraitCard:hover .cardContent,
.homeSectionsContainer .overflowBackdropCard:hover .cardContent,
.homeSectionsContainer .overflowPortraitCard:hover .cardContent {
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
}

/* Glow: Media Scroller Cards */
#itemDetailPage .backdropCard:not(:has(.cardFooter)):hover .cardContent,
#itemDetailPage .portraitCard:not(:has(.cardFooter)):hover .cardContent,
.backdropCard:not(:has(.cardFooter)):hover .cardContent, 
.portraitCard:not(:has(.cardFooter)):hover .cardContent {
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
}

/* 
===========================================================================
  Cards: Indicators
===========================================================================
*/

/* Alignment */
.cardContent .cardIndicators,
/* .cardContent .listItemIndicators, */
.mediaSourceIndicator {
  right: 0.5em !important;
  top: 0.5em !important;
}

/* Count & Played */
.playedIndicator {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 1);
  border-radius: var(--rounding-system) !important;
  border: none;
}
.countIndicator,
.mediaSourceIndicator {
  font-weight: 600;
  font-size: 89%;
  color: rgba(0, 0, 0, 1);
  background: var(--fullaccent) !important;
  border-radius: var(--rounding-system) !important;
  border: none;
}
.playstatebutton-icon-played,
.ratingbutton-icon-withrating {
  color: var(--fullaccent) !important;
}

/* Missing & Unaired */
.missingIndicator,
.unairedIndicator {
  color: #fff;
  background: #ae3030eb;
  padding: .3em .6em;
}

/* Multi Select Checkboxes */
.multiSelectCheckboxOutline {
  border-top-left-radius: var(--rounding-media) !important;
  border-top-right-radius: var(--rounding-system) !important;
  border-bottom-right-radius: var(--rounding-system) !important;
  border-bottom-left-radius: var(--rounding-system) !important;
}

/* 
===========================================================================
  Cards: Progressbar
===========================================================================
*/

/* Background */
.itemProgressBar {
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: var(--rounding-media) !important;
  height: .4em !important;
  margin: .5em .8em !important;
  backdrop-filter: blur(6px);
} 

/* Slider*/
.itemProgressBarForeground {
  background-color: var(--fullaccent) !important;
  border-radius: var(--rounding-media) !important;
}

/* 
===========================================================================
  Cards: Default Backgrounds
===========================================================================
*/

.defaultCardBackground1 {
  background: hsl(var(--accent-h), var(--accent-s), 17%);
}
.defaultCardBackground2 {
  background: hsl(var(--accent-h), var(--accent-s), 16%);
}
.defaultCardBackground3 {
  background: hsl(var(--accent-h), var(--accent-s), 15%);
}
.defaultCardBackground4 {
  background: hsl(var(--accent-h), var(--accent-s), 14%);
}
.defaultCardBackground5 {
  background: hsl(var(--accent-h), var(--accent-s), 13%);
}

/* 
===========================================================================
  Media Pages
===========================================================================
*/

/* Hide some Elements */
.layout-tv .itemExternalLinks,
.layout-tv .detailsGroupItem.directorsGroup,
.layout-tv .detailsGroupItem.writersGroup,
.hide+.detailPageWrapperContainer .itemName,
.endsAt,
.itemTags {
  display: none !important;
}

/* Increase Season Title */
.selfBackdropPage h3.itemName.infoText.subtitle.focuscontainer-x {
  font-size: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.selfBackdropPage h1.parentName.focuscontainer-x {
  font-size: 150%;
}

/* Move page content */
.layout-tv .detailPagePrimaryContainer {
  display: block;
  padding-top: 5vh;
}

/* Cast Scroller */
#castCollapsible .itemsContainer-tv.scrollSlider {
  padding-top: 0em !important;
}

#childrenContent .card {
  padding-bottom: 1em;
  padding-top: 1em;
}

/* 
===========================================================================
  Media Pages: Poster
===========================================================================
*/

/* Cover Style*/
.detailImageContainer .card {
  max-width: 26vw;
  left: 3% !important;
  border-radius: var(--rounding-media);
  box-shadow: var(--cardshadow) !important;
}

/* Cover Placement (TV) */
.layout-tv .detailImageContainer .card {
  top: 1vh !important;
}

/* 
===========================================================================
  Media Pages: Detail-Ribbon
===========================================================================
*/

/* Ribbon */
.detailRibbon {
  padding-right: 2% !important;
}

/* Ribbon (Desktop) */
.layout-desktop .detailRibbon {
  height: 9em !important;
  margin-top: -9em !important;
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Info Container */
.infoWrapper {
  /* padding-top: 0.5em; */
  padding-bottom: 0.15em;
}

/* Media Infos */
.itemMiscInfo {
  font-size: 125%;
  margin-top: 0.25em;
  margin-bottom: 0.6em;
}

/* 
===========================================================================
  Media Pages: Media Details
===========================================================================
*/

/* Container */
.layout-tv .detailPagePrimaryContent {
  padding-top: 0em;
  padding-bottom: 0em;
}
.layout-desktop .detailPagePrimaryContent {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Genres: Hide  */
p.itemGenres {
  display: none;
}

/* Tracks & Subtitles */
.trackSelections {
  max-width: 100%;
  width: 60%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.detailTrackSelect {
  background: #0000 !important;
  padding: .35em 1.9em .35em .35em !important;
}

/* 
===========================================================================
  Media Pages: Media Description
===========================================================================
*/

/* Container */
.detailPageSecondaryContainer {
  padding-top: 0em !important;
}

/* Description Text */
.overview.detail-clamp-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Director & Studio */
.itemDetailsGroup {
  margin-top: 0.5em;
  padding-bottom: 1em;
}

/* 
===========================================================================
  Media Pages: Section Scroller
===========================================================================
*/

/* Space between Sections */
.layout-tv .detailVerticalSection {
  margin-bottom: 1em !important;
}

/* Section Icons */
.sectionTitleTextButton > .material-icons {
  margin: 0;
}

/* Cards spacing */
.detailVerticalSection .itemsContainer-tv > .overflowBackdropCard {
  margin-left: .5vw !important;
}

/* Media sections - Mobile layout */
.layout-mobile:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
  padding-top:0em;
}
.layout-mobile .sectionTitleTextButton > .material-icons {
  padding-top: .2em;
}

/* Episodes in Season Overview */
.itemsContainer > .listItem-button {
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
  border-radius: var(--rounding-media);
  margin-bottom: 1em;
  padding: 0em;
  /* height: 25vh; */
  border-color: hsl(0deg 0% 100% / 20%) !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
}
.itemsContainer > .listItem-button:hover {
  border: solid 2px var(--accent40) !important;
  background: rgba(0, 0, 0, 0.7) !important;
}
.itemsContainer > .listItem-button:focus {
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
  border: solid 2px var(--accent80) !important;
  background: rgba(0, 0, 0, 0.7) !important;
}


.listItem-button:hover {
  border-color: var(--accent20) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.listItem-button:focus .listItemBodyText:not(.secondary) {
  color: var(--fullaccent) !important;
  background: #0000 !important;
}

.listItemImage-large {
  max-height: 15em;
}

.listItemIndicators {
  left: 0.5em;
  top: 0.5em;
}


/* Episode Image
.listItemImage {
  border-radius: var(--rounding-media);
} */

/* 
===========================================================================
  Player OSD
===========================================================================
*/

/* OSD: Hide some Elements */
.btnFullscreen,
.btnPip {
  display: none;
}

/* OSD: Height Header */
.osdHeader {
  height: 3.3em !important;
  --webkit-backdrop-filter: none;
}

/* OSD Footer: Wide */
.videoOsdBottom {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
  padding-top: .5em;
  padding-bottom: .5em;
}

/* OSD Footer: Small Box-Layout */
@media all and (min-width: 105em) {
  .videoOsdBottom {
    background: rgba(0, 0, 0, var(--headeropacity)) !important;
    padding-top: .5em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    margin-left: 24vw;
    margin-right: 24vw;
    border-radius: var(--rounding-media);
  } 
}

/* OSD Footer: Hide "Ends at Time" */
.videoOsdBottom .endsAtText {
  display: none;
}

/* OSD Footer: Lift Progressbar */
.buttons.focuscontainer-x {
  padding-top: .5em;
}

/* Fix the UI shifting around */
.nowPlayingBarCurrentTime {
  width: 6em;
}

/* 
===========================================================================
  Player OSD: Controls
===========================================================================
*/

/* OSD Infos */
.osdTitle {
  margin-left: 0.5em;
}

.startTimeText,
.endTimeText {
  width: 3.4em;
  display: block;
  text-align: center;
}

.osdPoster img {
  border-radius: var(--rounding-media); 
  border: none;
}

.osdTextContainer {
  margin: 0 !important;
  margin-top: 0.2em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

/* 
===========================================================================
  Player OSD: Progressbar & Volume
===========================================================================
*/

/* Play progress & volume */
.mdl-slider {
  color: var(--fullaccent) !important;
} 

/* OSD: Vertical marker */
.taskProgressInner,
.sliderMarker.watched,
.mdl-slider-background-lower {
  background: var(--fullaccent) !important;
}

.iconOsdProgressInner {
  background: var(--fullaccent) !important;
  color: var(--fullaccent) !important;
}
.mdl-slider::-webkit-slider-thumb {
  background: var(--fullaccent) !important;
  color: var(--fullaccent) !important;
}
.mdl-slider::-moz-range-thumb {
  background: var(--fullaccent) !important;
  color: var(--fullaccent) !important;
}

.mdl-slider::-webkit-scrollbar-corner {
  background: #0000 !important;
}
.mdl-slider::-webkit-scrollbar-track-piece {
  background: #0000 !important;
}

/* 
===========================================================================
  Player OSD: Chapter Thumbnails
===========================================================================
*/

/* Shrink the mouseover chapter image when scrobbling, still media player */
.chapterThumb {
  height: 14vh;
  min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
  border-radius: var(--rounding-media) !important;
}
.chapterThumbText {
  font-size: 1em;
}
.sliderBubble {
  background: #0000;
}
.chapterThumbTextContainer {
  right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
  border-radius: var(--rounding-media) !important;
}
.chapterThumbContainer {
  box-shadow: 0 0 1.9vh #000;
  border-radius: var(--rounding-media) !important;
}
.sliderBubble {
  -webkit-transform: translate3d(-50%,-108%,0);
  transform: translate3d(-50%,-108%,0);
}

/* 
===========================================================================
  Player OSD: UpNext Dialog
===========================================================================
*/

/* Upnext Dialog */
.upNextContainer {
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-radius: var(--rounding-media) !important;
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
}

.upNextDialog-poster-img {
  border-radius: var(--rounding-media) !important;
}

/* Upnext: Countdown */
.upNextDialog-countdownText {
  color: var(--fullaccent) !important;
}

/* 
===========================================================================
  User Settings
===========================================================================
*/

/* User Profile: Image */
.imagePlaceHolder {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--rounding-media);
}
.imagePlaceHolder:hover {
  border: solid 2px var(--accent40) !important;
}

/* Username bold */
h2.username {
  margin-top: 0px;
  font-weight: 600;
  color: #fff;
}

/* Improve some menu alignments */
.formDialogHeaderTitle {
  margin-left: 1em;
}
.formDialogContent {
  margin-bottom: 6.2em;
}
.dialogContentInner {
  padding: .5em 1em 1em;
}
.listItem-indexnumberleft {
  margin: 1em;
}

/* Menu Items */
.readOnlyContent .listItem-border .listItem,
.actionSheetScroller .listItem {
  padding-left: 1em;
  margin-top: 0.2em !important;
}

/* Menu Items: Additional content */
.listItemButton,
.listItemImageButton {
  border-radius: var(--rounding-system) !important;
}

/* Remove background on some icons */
.listItemIcon {
  background: #0000 !important;
  border-radius: var(--rounding-system) !important;
}

/* user settings button */
div[data-role="controlgroup"] a.ui-btn-active {
  background: rgba(0, 0, 0, 0.4) !important;
  color: white !important;
}

/* Subtitle preview */
.subtitleappearance-preview {
  background: linear-gradient(140deg,var(--fullaccent),#111) !important;
  border-radius: var(--rounding-system) !important;
}

/* 
===========================================================================
  User Settings: Buttons
===========================================================================
*/

/* Radius Left */
div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding-media);
	border-top-left-radius: var(--rounding-media);
}

/* Radius Right */
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding-media);
	border-top-right-radius: var(--rounding-media);
}

/* user setting tab buttons */
div[data-role="controlgroup"] a[data-role="button"] {
  display: table-cell !important;
  margin: 0 !important;
}

/*  
============================================================================
  Loading spinner & Progress Ring
============================================================================
*/

/* Loading Spinner: Accent Color */
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: var(--fullaccent) !important;
}

/* Theme process progress ring */
.progressring-spiner {
  border-color: var(--fullaccent);
  border-width: .35em;
}

/* Theme process progress ring */
.progressring {
  margin: .4em;
}
.progressring-bg {
  display: none;
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs)
===========================================================================
*/

/* Background: Dark */
.paperList {
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--rounding-system) !important;
}

/* ?? */
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.5);
}

/* Borders: Accent 50% */
.itemSelectionPanel {
  border: 0.01em solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.5) !important;
  border-radius: var(--rounding-media) !important;
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs): Buttons
===========================================================================
*/

/* Misc Button */
.fab {
  border-radius: var(--rounding-system) !important;
	transition: all 0.2s !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs): Mobile
===========================================================================
*/

/* Accommodate mobile and align buttons and indicators */
@media all and (min-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

/* Play button hovering (for low width windows) */
@media all and (max-width: 70em){
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .cardOverlayButton {
    padding: 0.25em;
  }
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs): Menu Page
===========================================================================
*/

/* Fix footers/headers displaying on small pop-ups */
.formDialogFooter-clear,
.formDialogHeader-clear {
  background: #0000 !important;
  background-color: #0000 !important;
}

/*Theme slider marker style*/
.sliderMarker {
  width: 3px;
  border-radius: 2px;
}

/* Cards & Items */
.itemDetailImage,
.primaryImageWrapper > img {
  border-radius: var(--rounding-media) !important;
}

.nowPlayingPageImage {
  border: none;
  border-radius: var(--rounding-media) !important;
}

/* 
===========================================================================
  Misc & Unknown (aka TODOs): Syncplay
===========================================================================
*/

.syncPlayIconCircle {
  color: var(--fullaccent) !important;
  text-shadow: none !important;
}

@-webkit-keyframes pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@keyframes pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@-webkit-keyframes infinite-pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}
@keyframes infinite-pulse {
 0% {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,.3)
 }
 70% {
  -webkit-transform:scale(1);
  transform:scale(1);
  color:rgba(0,0,0,.6);
  background:rgba(0,0,0,0);
  box-shadow:0 0 0 60px rgba(0,0,0,0)
 }
 to {
  -webkit-transform:scale(.95);
  transform:scale(.95);
  color:rgba(0,0,0,.7);
  background:rgba(0,0,0,.3);
  box-shadow:0 0 0 0 rgba(0,0,0,0)
 }
}


/* Mobile tweaks */
/*
.layout-mobile .adminDrawerLogo {
    border-bottom: none;
}
.layout-mobile .itemBackdrop {
    margin-top: 4rem;
}
.layout-mobile .detailImageContainer .card {
    position: absolute !important;
}
*/
