/*
============================================================================
   infinitv - Custom Mobile Layout
============================================================================
*/

/* Header
--------------------------------------------------------------------------*/

/* Show Header at Bottom */
.layout-mobile .skinHeader {
    top: auto;
    bottom: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 1) !important;
}
.layout-mobile .headerTop {
    order: 2;
}
.layout-mobile .sectionTabs {
    order: 1;
}
.layout-mobile .skinHeader.headroom--unpinned {
    transform: translateY(100%);
}
.layout-mobile .skinHeader.headroom--pinned {
    transform: translateY(0);
}

/* Header: Remove Logo */
.layout-mobile .pageTitle {
    display: none;
}

/* Header: Rearrange Buttons */
.layout-mobile .headerLeft {
    order: 2;
    justify-content: flex-end;
}
.layout-mobile .headerRight {
    order: 1;
}

/* Footer */
.layout-mobile .appfooter {
    background: #0000 !important;
}

/* Main Drawer: Align */
.layout-mobile .mainDrawer {
    margin-top: 0em;
    align-items: flex-end;
}

/* Drawer: Move options to bottom */
.layout-mobile .mainDrawer-scrollContainer {
    padding-bottom: 1vh;
}

/* Responsivenes
--------------------------------------------------------------------------*/

/* Header: Responsivenes */
@media (max-width: 100em) {
    .layout-mobile .headerTop {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        height: 2.9em;
    }
    .layout-mobile .headerLeft {
        margin-right: .5em;
    }
    .layout-mobile .headerRight {
        margin-left: .5em;
    }
    .layout-mobile .emby-tab-button {
        padding: 1.25em 1.25em .25em 1.25em !important;
    }

    /* Footer: Placement depending on Header visibility */
    .layout-mobile #reactRoot:has(.headroom--pinned) ~ .appfooter {
        bottom: 5.8em;
    }
    .layout-mobile #reactRoot:has(.headroom--pinned>.sectionTabs.hide) ~ .appfooter {
        bottom: 3.9em;
    }

    /* Now Playing Bar */
    .layout-mobile .nowPlayingBarPositionContainer {
        margin-right: .8em;
        margin-left: .8em;
    }
    .layout-mobile .nowPlayingBarInfoContainer {
        margin-left: .2em;
    }

    /* Hide HeaderTabs & Footer when drawer opens */
    .layout-mobile .mainDrawer.drawer-open + .skinHeader > .headerTabs,
    .layout-mobile #reactRoot:has(.mainDrawer.drawer-open) ~ .appfooter {
        display: none !important;
    }

    /* Main Drawer */
    .layout-mobile .mainDrawer {
        margin-bottom: 3.9em;
    }
}
@media (min-width: 100em) {

    .layout-mobile .headerTop {
        padding-top: .8em;
        padding-bottom: .8em;
    }
    .layout-mobile .headerLeft {
        margin-right: .2em;
    }
    .layout-mobile .headerRight {
        margin-left: .2em;
    }
    .layout-mobile .sectionTabs {
        margin-top: 0em;
        margin-bottom: -4.2em;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .layout-mobile .emby-tab-button {
        padding: 1em 1.25em 1em 1.25em !important;
    }

    /* Footer: Place above (Bottom-) Header */
    .layout-mobile #reactRoot:has(.headroom--pinned) ~ .appfooter {
        bottom: 4.5em;
    }

    /* Now Playing Bar */
    .layout-mobile .nowPlayingBar {
        margin-bottom: .5em;
        margin-left: 33vw;
        margin-right: 33vw;
        border-radius: var(--rounding-media);
    }
    .layout-mobile .nowPlayingBarPositionContainer {
        margin-right: 1em;
        margin-left: 1em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .layout-mobile .nowPlayingBarRight {
        margin: 0 1em 0 auto;
    }
    .layout-mobile .nowPlayingBarInfoContainer {
        margin-left: .8em;
    }

    /* Main Drawer */
    .layout-mobile .mainDrawer {
        margin-bottom: 4.6em;
    }
}

/* Main Drawer
--------------------------------------------------------------------------*/

/* Toast: Center */
.layout-mobile .toastContainer {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    bottom: 4em;
    text-align: center;
}

/* Slides: Pause Button Placement */
.layout-mobile .pause-button {
    top: 74vh;
    right: 4vw;
}

/* Library Pages: Move up */
.layout-mobile .libraryPage,
.layout-mobile #displayPreferencesPage,
.layout-mobile #homeScreenPreferencesPage,
.layout-mobile #languagePreferencesPage {
    padding-top: 1em !important;
}
.layout-mobile #itemDetailPage {
    padding-top: 0em !important;
}
.layout-mobile #userProfilePage,
.layout-mobile #myPreferencesMenuPage,
.layout-mobile #quickConnectPreferencesPage,
.layout-mobile #searchPage {
    padding-top: 2em !important;
}

/* Media Details: Move up */
.layout-mobile .itemBackdrop {
    margin-top: 0rem;
}

/* Alphabet Picker: Stretch */
.layout-mobile .alphaPicker {
    bottom: 10em;
}

/* Filter Bar */
.layout-mobile .pageTabContent > .focuscontainer-x {
    margin-top: 1em;
}

.layout-mobile .nowPlayingInfoControls {
    padding-bottom: 2em;
}

.layout-mobile .selectionCommandsPanel {
    top: 0em;
}
