/*                                                                         *

   ___  ________   ________ ___  ________   ___  _________  ___      ___
  |\  \|\   ___  \|\  _____\\  \|\   ___  \|\  \|\___   ___\\  \    /  /|
  \ \  \ \  \\ \  \ \  \__/\ \  \ \  \\ \  \ \  \|___ \  \_\ \  \  /  / /
   \ \  \ \  \\ \  \ \   __\\ \  \ \  \\ \  \ \  \   \ \  \ \ \  \/  / /
    \ \  \ \  \\ \  \ \  \_| \ \  \ \  \\ \  \ \  \   \ \  \ \ \    / /
     \ \__\ \__\\ \__\ \__\   \ \__\ \__\\ \__\ \__\   \ \__\ \ \__/ /
      \|__|\|__| \|__|\|__|    \|__|\|__| \|__|\|__|    \|__|  \|__|/


                        The Big Screen Experience

*                                                                          */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {

  /* Card Shadow */
  --cardshadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);

  /* Accent predefinition */
  --fullaccent: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --accent80: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.8);
  --accent60: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.6);
  --accent40: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.4);
  --accent20: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.2);
}


/*
============================================================================
  Background & Font
============================================================================
*/

/* Background Image: If Backdrops disabled */
.backgroundContainer:not(.withBackdrop):not(.backgroundContainer-transparent),
.backgroundContainer.withBackdrop:has(~ .mainAnimatedPages .homePage:not(.hide)) {
  background:
    linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)),
    var(--bgImage) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

/* Darken Background with Backdrops enables */
.backgroundContainer.withBackdrop {
  background-color: rgba(0, 0, 0, var(--bgdarkness)) !important;
}

/*
============================================================================
  System & Dialogs
============================================================================
*/

/* Smaller TV-Layout */
.layout-tv {
  font-size: 110% !important;
}

/* Dialogs */
.dialog,
.formDialogHeader,
.formDialogFooter {
  border-radius: var(--rounding-system) !important;
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Toasts */
.toast {
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
  border-radius: var(--rounding-system) !important;
  background: rgba(0, 0, 0, var(--draweropacity)) !important;
}

/* Loading Spinner */
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: var(--fullaccent) !important;
}

/* Progress Ring */
.progressring {
  margin: .4em;
}
.progressring-bg {
  display: none;
}
.progressring-spiner {
  border-color: var(--fullaccent);
  border-width: .35em;
}

/*
============================================================================
  Menu Drawer
============================================================================
*/

/* Main Drawer */
.mainDrawer {
  margin-top: 3.9em !important;
  box-shadow: none !important;
  background: rgba(0, 0, 0, var(--draweropacity)) !important;
}

/* Main Drawer: Options */
.navMenuOptionText {
  margin-top: 0;
}
.navMenuOption:hover {
  background: var(--accent80) !important;
}
.navMenuOption-selected {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/*
============================================================================
  Collapsible Menus
============================================================================
*/

/* Collapsible Menu */
.collapseContent {
  background: #0000 !important;
}

/* Collapsible Menu: Buttons */
.emby-collapsible-button {
  -webkit-transform: none !important;
  transform: none !important;
  margin-bottom: .2em !important;
}

/* Collapsible Menu: Button Text */
.emby-collapse > .emby-button.show-focus > .emby-collapsible-title {
  margin-left: 0.5em;
}

/* Collapsible Menu Items: No Background on Hover */
.listItem:hover {
  background: #0000 !important;
}

/* Action Sheet: Checked Icon Color */
.actionSheetContent .listItemIcon.check {
  color: var(--fullaccent) !important;
}

/* Action Sheet: Item size */
.actionSheetContent .listItem {
  padding: .5em;
}

/*
============================================================================
  Scrollbar
============================================================================
*/

/* Scrollbar: Style */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent80) rgba(0, 0, 0, var(--headeropacity)) !important;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, var(--headeropacity));
}

::-webkit-scrollbar-thumb {
  background: var(--accent80) !important;
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: var(--accent80) !important;
}

/* Scrollbar: Hide (TV) */
.layout-tv ::-webkit-scrollbar {
  display: none;
}

#loginPage,
.layout-tv {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

/*
============================================================================
  Header & Section Tabs
============================================================================
*/

/* Header: Don't scroll (TV) */
.layout-tv .skinHeader {
  position: fixed !important;
}

/* Header: Size & Alignment */
.skinHeader {
  padding: .3em !important;
  height: 3.3em;
}
.headerTop {
  padding: .3em !important;
}
.skinHeader-withBackground {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Hader: Page Title & Time */
.pageTitle {
  font-weight: bold;
}
.currentTimeText {
  font-size: 110% !important;
  font-weight: bold;
}

/* Header: Buttons no Zoom */
.headerButton:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* Section Tabs: Move into Header */
.layout-tv .headerTabs.sectionTabs,
.layout-desktop .headerTabs.sectionTabs {
  font-size: 110% !important;
  margin-top: -2.7em !important;
  width: 42vw;
  min-width: 26vw;
  scrollbar-width: none;
  scroll-behavior: smooth !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  align-self: center;
  position: relative;
  transition: filter 0.2s;
}

/*
============================================================================
  Buttons
============================================================================
*/

/* Buttons: Sign In, Save, Cancel...
--------------------------------------------------------------------------*/

.emby-button.block,
.button-submit {
  border-radius: var(--rounding-system);
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0.5em 0;
  border-color: rgba(255, 255, 255, 0.2) !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
}
.emby-button.block:hover,
.button-submit:hover {
  color: var(--fullaccent) !important;
  border-color: var(--accent40) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.emby-button.block:focus,
.button-submit:focus {
  color: var(--fullaccent) !important;
  border-color: var(--accent80) !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* Buttons: Header, Menus, Filter & OSD
--------------------------------------------------------------------------*/

.paper-icon-button-light {
  border-radius: var(--rounding-media);
}
.paper-icon-button-light:not(:disabled):hover {
  color: var(--fullaccent) !important;
  background: var(--accent20) !important;
}
.paper-icon-button-light:focus,
.paper-icon-button-light:active {
  color: var(--fullaccent) !important;
}

/* Buttons: Header-Tab
--------------------------------------------------------------------------*/

.emby-tab-button {
  padding: .6em 1.25em .8em 1.25em !important;
}
.emby-tab-button:hover {
  color: var(--fullaccent) !important;
}
.emby-tab-button:focus {
  color: var(--fullaccent) !important;
  -webkit-transform: scale(1.1)!important;
  transform: scale(1.1)!important;
}
.emby-tab-button-active {
  color: #fff;
}

/* Buttons: List & Menu Items
--------------------------------------------------------------------------*/

.listItem-button:not(.listItem-largeImage),
.listItem-border,
.emby-collapsible-button,
.listTextButton-autohide {
  border-radius: var(--rounding-system);
  border: solid 2px #0000;
  border-color: #0000 !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
  margin-top: .2em !important;
  margin-bottom: .2em !important;
  padding-left: .5em !important;
  padding-right: .5em !important;
}
.listItem-button:not(.listItem-largeImage):hover,
.listItem-border:hover,
.emby-collapsible-button:hover,
.listTextButton-autohide:hover {
  color: var(--accent80) !important;
  border-color: var(--accent40) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.listItem-button:not(.listItem-largeImage):focus,
.listItem-border:focus,
.emby-collapsible-button:focus,
.listTextButton-autohide:focus {
  color: var(--fullaccent) !important;
  border-color: var(--accent60) !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* Buttons: Media Page Play-Buttons
--------------------------------------------------------------------------*/

.detailButton {
  font-size: 120% !important;
  margin-right: 1.5em !important;
  border-radius: var(--rounding-media) !important;
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
}
.detailButton:hover {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border-color: var(--accent40) !important;
}
.detailButton:focus {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  border-color: var(--accent80) !important;
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

/* Buttons: Links acting as Buttons
--------------------------------------------------------------------------*/

/* Links acting as buttons */
.button-link,
.overview-expand {
  color: inherit !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
  text-decoration: none;
}
.button-link:hover,
.overview-expand:hover {
  color: var(--accent80) !important;
  text-decoration: none;
}
.button-link:focus,
.overview-expand:focus {
  color: var(--fullaccent) !important;
  text-decoration: none;
}

/* ClearLinks: Buttons with Link-Buttons inside (why...?)
--------------------------------------------------------------------------*/

/* Clearlinks: Won't focus with remote > hide (TV) */
.layout-tv .sectionTitleContainer > .clearLink {
  display: none;
}

/* Clearlink Container */
.clearLink {
  padding: .2em 1em !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
  margin-left: 0px !important;
}

/* Clearlink: Buttons inside */
.clearLink > .emby-button {
  padding: .2em 1em !important;
  background: #0000 !important;
  font-size: 1.5em;
  font-weight: 400;
}
.clearLink > .emby-button:hover,
.clearLink > .emby-button:focus {
  background: #0000 !important;
  border-color: #0000 !important;
  color: var(--fullaccent) !important;
}

/*
============================================================================
  Inputs and Labels
============================================================================
*/

/* Input */
.emby-input {
  padding: .5em .6em;
}

/* Textarea */
.emby-textarea {
  padding: .5em .6em;
  resize: vertical !important;
  font-family: monospace;
  font-size: .9em;
}

/* Select Container */
.emby-select {
  border-radius: var(--rounding-system) !important;
}
.emby-select-focusscale:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* Select Container: Arrow */
.selectContainer .selectArrowContainer {
  top: 2em;
}
.trackSelectionFieldContainer .selectArrowContainer {
  top: .3em;
}
.selectArrow {
  margin-top: .1em !important;
}

/* Select: Option Colors */
.emby-select option {
  background: rgba(0, 0, 0, 0.8) !important;
}
.emby-select option:hover {
  background: var(--accent40) !important;
}
.emby-select option:focus {
  background: var(--accent80) !important;
}

/* Inputs: Accent */
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.checkboxOutline {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--rounding-system) !important;
  background: rgba(0, 0, 0, 0.4);
}
.emby-input:not(:disabled):hover,
.emby-textarea:not(:disabled):hover,
.emby-select-withcolor:not(:disabled):hover,
.checkboxOutline:not(:disabled):hover {
  border: 2px solid var(--accent40);
  background: rgba(0, 0, 0, 0.6) !important;
}
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.checkboxOutline:focus {
  border: 2px solid var(--accent80) !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

/* Checkbox: Outline */
.emby-checkbox:hover + span + .checkboxOutline {
  border: 2px solid var(--accent40) !important;
}
.emby-checkbox:focus + span + .checkboxOutline {
  border: 2px solid var(--accent80) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  border: 2px solid var(--accent20) !important;
  background: var(--accent80) !important;
}

/* Radio Buttons */
.mdl-radio.show-focus .mdl-radio__button:hover+.mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio.show-focus .mdl-radio__button:hover+.mdl-radio__circles .mdl-radio__outer-circle,
.mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles .mdl-radio__outer-circle {
  color: var(--accent80) !important;
}
.mdl-radio__focus-circle {
  background: var(--fullaccent) !important;
}

/* Labels */
.emby-textarea:hover + .textareaLabel,
.emby-checkbox:hover + .checkboxLabel {
  color: var(--accent80) !important;
}
.inputLabelFocused,
.textareaLabelFocused,
.selectLabelFocused,
.emby-checkbox:focus + .checkboxLabel {
  color: var(--fullaccent) !important;
}

/* Labels: Select */
.selectLabel {
  align-self: center;
}

/* Misc (TODO) */
.selectionCommandsPanel {
  background: rgba(0, 0, 0, 0.4) !important;
}

/*
===========================================================================
  Login Page
===========================================================================
*/

/* Hide some elements */
#loginPage .btnForgotPassword,
#loginPage .loginDisclaimerContainer {
  display: none;
}

/* Login Form: Dimensions & Colors */
#loginPage .padded-left.padded-right.padded-bottom-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background: rgba(0, 0, 0, 0.4) !important;
  width: 24em;
  border-radius: var(--rounding-media);
  padding-bottom: 2em !important;
}

/* Manual Login Form */
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/* Login Card: "please sign in" */
#loginPage .visualLoginForm {
  padding-top: 1em;
}
#loginPage .manualLoginForm {
  padding-top: 2em;
}

/* Login Card: User */
#loginPage .squareCard {
  width: 33%;
  margin: 1em !important;
}
#loginPage .cardImage {
  color: var(--fullaccent) !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

/*
============================================================================
  Home Page
============================================================================
*/

/* Disable Slides (TV - they don't work well with a remote) */
.layout-tv #slides-container {
  display: none !important;
}

/* Use freed up Space (TV) */
.layout-tv .homeSectionsContainer {
  top: 0;
}

/* Scroller Alignment */
#indexPage .homeSectionsContainer .emby-scroller {
  padding-left: 2vw;
}

/* Move content below Slides (Desktop) */
.layout-desktop .homeSectionsContainer {
  top: 74vh;
}

/*
===========================================================================
  Library Pages
===========================================================================
*/

/* Library Pages: Move up */
#loginPage,
#indexPage,
#moviesPage,
#tvRecommendedPage {
  padding-top: 5em !important;
}

/* Library Pages: Center Content */
.libraryPage:not(#indexPage) > .pageTabContent > .itemsContainer {
  padding-left: 3vw !important;
  padding-right: 3vw !important;
}

/* Section Titles */
#indexPage .sectionTitleContainer-cards {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 0em;
  margin-top: 1.5vh;
  margin-bottom: .5vh;
  background: hsl(0deg 0% 100% / 10%);
  text-align: center;
}

/* Section Titles: Text & Icons */
.sectionTitleTextButton>.sectionTitle,
.sectionTitleTextButton>.material-icons {
  margin: 0;
}

/* Media Scroller: Spacing (Desktop) */
.layout-desktop #indexPage .emby-scroller {
  padding-top: 1em;
}

.layout-tv #indexPage .scrollSlider {
  padding-top: 2vh !important;
}

/* Media Scroller: Backdrop Card spacing  */
.homeSectionsContainer .itemsContainer-tv > .overflowBackdropCard {
  margin-right: 1vw !important;
}

/* Media Scroller: Buttons */
.emby-scrollbuttons {
  top: .85em;
}

/* Alphabet Picker */
.alphaPickerButton:hover {
  background: var(--accent60) !important;
}
.alphaPickerButton:focus {
  background: var(--accent80) !important;
}

/*
===========================================================================
  Library Pages: Sorting & Filter
===========================================================================
*/

/* Filter & Sorting Header */
.pageTabContent > .focuscontainer-x {
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 1em;
  padding: 0.25em;
}

/* Filter & Sorting Header: Buttons */
.pageTabContent .focuscontainer-x .paper-icon-button-light {
  /* margin-left: .4em;
  margin-right: .4em; */
  -webkit-transform: none !important;
  transform: none !important;
}

/* Filter & Sorting Header: Item Count */
.listPaging > span {
  margin-right: .5em;
}

/* Filter Indicator */
.filterIndicator {
  background: var(--fullaccent) !important;
  color: black;
}

/* Sorting Menu: Radio Button spacing */
.radio-label-block {
  margin-top: .6em !important;
}

/*
===========================================================================
  Cards: Size & Alignment
===========================================================================
*/

/* Cards: OverflowPortraitCard (TV) > TODO (useful?)
.castCollapsible .itemsContainer-tv > .overflowPortraitCard,
.guestCastCollapsible .itemsContainer-tv > .overflowSquareCard {
  width: 16% !important;
}  */

/* Cards: More Space for Animations */
.backdropCard.show-focus.show-animation,
.portraitCard.show-focus.show-animation {
  padding-bottom: 1.5vh !important;
  padding-right: 1vw !important;
}
.itemsContainer > .card > .cardBox {
  margin-left: 0.5em !important;
}

/* Cards: Narrow margins */
.cardBox-bottompadded {
  margin-bottom: 0.5em !important;
  margin-right: 1.5vw !important;
}

/*
===========================================================================
  Cards: Roundings
===========================================================================
*/

/* Cards: Full Rounding */
.blurhash-canvas,
.cardBox,
.cardContent,
.cardOverlayContainer,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,
.cardScalable,
.visualCardBox,
.cardBox:not(.visualCardBox) .cardPadder {
  border-radius: var(--rounding-media);
}

/* Cards: Rounding Top, Bottom Flat */
.visualCardBox:has(.cardFooter) .blurhash-canvas,
.visualCardBox:has(.cardFooter) .cardImage,
.visualCardBox:has(.cardFooter) .coveredImage,
.visualCardBox:has(.cardFooter) .cardImageContainer,
.visualCardBox:has(.cardFooter) .cardOverlayContainer,
.visualCardBox:has(.cardFooter) .sessionNowPlayingInnerContent {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Card Footer: Flat Top, Rounding Bottom */
.cardFooter:not(.visualCardBox-cardFooter) {
  border-bottom-left-radius: var(--rounding-media) !important;
  border-bottom-right-radius: var(--rounding-media) !important;
  background: rgba(0, 0, 0, var(--footeropacity)) !important;
}

/*
===========================================================================
  Cards: Shadows
===========================================================================
*/

/* Box Shadow card with footer */
.libraryPage .cardBox:has(.cardFooter) {
  box-shadow: var(--cardshadow);
}

/* Box Shadow image for card without footer */
.libraryPage .cardBox:not(:has(.cardFooter)) .cardScalable {
  box-shadow: var(--cardshadow);
}

/* Smoothen Card Image */
.libraryPage  .cardImageContainer {
  box-shadow: inset -1px 3px 14px 0px rgb(255 255 255 / 10%), inset -3px -3px 14px 0px rgb(0 0 0 / 40%);
}

/*
===========================================================================
  Cards: Text
===========================================================================
*/

/* Card Text Container */
.cardPadder {
  background-color: #0000 !important;
  box-shadow: none !important;
}

/* Card Text: Title (not on poster thumbs) */
:not(.cardFooter) > .cardText-first {
  text-shadow: 2px 2px 4px black;
  padding-top: .5em !important;
}

/* Card Text: Secondary Text */
.cardText-secondary {
  font-size: 75% !important;
  text-shadow: 2px 2px 4px black;
}

/* Recent & NextUp: Hide Series Title */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-first,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-first {
  display: none;
}

/* Recent & NextUp: Inflate Episode Name */
.ContinueWatching .overflowBackdropCard[data-type="Episode"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Episode"] .cardText-secondary {
  font-size: 100% !important;
  padding-top: .5em !important;
  color: inherit;
}

/* Recent & NextUp: Hide Movie Year */
.ContinueWatching .overflowBackdropCard[data-type="Movie"] .cardText-secondary,
.NextUp .overflowBackdropCard[data-type="Movie"] .cardText-secondary {
  display: none;
}

/* Misc */
.cardOverlayButton:hover {
  color: var(--fullaccent) !important;
  background: #0000 !important;
}

/*
===========================================================================
  Cards: Animations
===========================================================================
*/

/* Cards: Zoom on Focus (TV) */
.layout-tv .card.show-animation:focus .cardBox {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Cards: Text Color on Focus (TV) */
.layout-tv .card.show-animation:focus .cardText-first,
.layout-tv .card.show-animation:focus .cardText-secondary {
  color: var(--fullaccent) !important;
}

/* Cards: Glow Cards with Footer on hover */
.backdropCard:has(.cardFooter):hover .cardBox,
.portraitCard:has(.cardFooter):hover .cardBox {
  box-shadow: 0px 0px 10px 3px var(--accent80) !important;
}

/* Cards: Glow only Images on overflow Cards */
#itemDetailPage .overflowBackdropCard:hover .cardScalable,
#itemDetailPage .overflowPortraitCard:hover .cardScalable,
.homeSectionsContainer .overflowBackdropCard:hover .cardScalable,
.homeSectionsContainer .overflowPortraitCard:hover .cardScalable {
  box-shadow: 0px 0px 10px 3px var(--accent80) !important;
}

/* Cards: Glow only Images on Cards without Footer  */
#itemDetailPage .backdropCard:not(:has(.cardFooter)):hover .cardScalable,
#itemDetailPage .portraitCard:not(:has(.cardFooter)):hover .cardScalable,
.backdropCard:not(:has(.cardFooter)):hover .cardScalable,
.portraitCard:not(:has(.cardFooter)):hover .cardScalable {
  box-shadow: 0px 0px 10px 3px var(--accent80) !important;
}

/*
===========================================================================
  Cards: Indicators
===========================================================================
*/

/* Card Indicators: Alignment */
.cardContent .cardIndicators,
.mediaSourceIndicator {
  right: 0.5em !important;
  top: 0.5em !important;
}

/* Card Indicators: Count & Played */
.playedIndicator {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 1);
  border-radius: var(--rounding-system) !important;
  border: none;
}
.countIndicator,
.mediaSourceIndicator {
  font-weight: 600;
  font-size: 89%;
  color: rgba(0, 0, 0, 1);
  background: var(--fullaccent) !important;
  border-radius: var(--rounding-system) !important;
  border: none;
}
.playstatebutton-icon-played,
.ratingbutton-icon-withrating {
  color: var(--fullaccent) !important;
}

/* Card Indicators: Missing & Unaired */
.missingIndicator,
.unairedIndicator {
  color: #fff;
  background: #ae3030eb;
  padding: .3em .6em;
}

/* Card Indicators: Multi Select Checkboxes */
.multiSelectCheckboxOutline {
  border-top-left-radius: var(--rounding-media) !important;
  border-top-right-radius: var(--rounding-system) !important;
  border-bottom-right-radius: var(--rounding-system) !important;
  border-bottom-left-radius: var(--rounding-system) !important;
}

/* Card Indicators: Multiselect selected */
.Mui-selected {
  color: var(--accent80) !important;
}

/*
===========================================================================
  Cards: Progressbar
===========================================================================
*/

/* Card Progressbar: Background */
.itemProgressBar {
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: var(--rounding-media) !important;
  height: .4em !important;
  margin: .5em .8em !important;
  backdrop-filter: blur(6px);
}

/* Card Progressbar: Progress */
.itemProgressBarForeground {
  background-color: var(--fullaccent) !important;
  border-radius: var(--rounding-media) !important;
}

/*
===========================================================================
  Cards: Default Backgrounds
===========================================================================
*/

/* Background color for Cards without Pictures */
.defaultCardBackground1 {
  background: hsl(var(--accent-h), var(--accent-s), 17%);
}
.defaultCardBackground2 {
  background: hsl(var(--accent-h), var(--accent-s), 16%);
}
.defaultCardBackground3 {
  background: hsl(var(--accent-h), var(--accent-s), 15%);
}
.defaultCardBackground4 {
  background: hsl(var(--accent-h), var(--accent-s), 14%);
}
.defaultCardBackground5 {
  background: hsl(var(--accent-h), var(--accent-s), 13%);
}

/*
===========================================================================
  Media Pages
===========================================================================
*/

/* Media Pages: Hide some Elements (TV) */
.layout-tv .itemExternalLinks,
.layout-tv .detailsGroupItem.directorsGroup,
.layout-tv .detailsGroupItem.writersGroup,
.layout-tv .hide+.detailPageWrapperContainer .itemName,
.layout-tv .endsAt,
.layout-tv .itemTags {
  display: none !important;
}

/* Media Pages: Move Content up (TV) */
.layout-tv .detailPagePrimaryContainer {
  display: block;
  padding-top: 5vh;
}

/* Media Pages: Increase Season Title Text */
.selfBackdropPage h3.itemName.infoText.subtitle.focuscontainer-x {
  font-size: 150%;
  color: rgba(255, 255, 255, 0.8);
}
.selfBackdropPage h1.parentName.focuscontainer-x {
  font-size: 150%;
}

/* Media Pages: Poster Image */
.detailImageContainer .card {
  max-width: 26vw;
  left: 3% !important;
  border-radius: var(--rounding-media);
  box-shadow: var(--cardshadow) !important;
}

/* Media Pages: Poster Image Placement (TV) */
.layout-tv .detailImageContainer .card {
  top: 1vh !important;
}

/*
===========================================================================
  Media Pages: Detail-Ribbon
===========================================================================
*/

/* Detail-Ribbon */
.detailRibbon {
  padding-right: 2% !important;
}

/* Detail-Ribbon (Desktop) */
.layout-desktop .detailRibbon {
  height: 9em !important;
  margin-top: -9em !important;
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Detail-Ribbon: Info Container */
.infoWrapper {
  padding-bottom: 0.15em;
}

/* Detail-Ribbon: Media Infos */
.itemMiscInfo {
  font-size: 125%;
  margin-top: 0.25em;
  margin-bottom: 0.6em;
}

/*
===========================================================================
  Media Pages: Media Details
===========================================================================
*/

/* Media Details: Container */
.layout-tv .detailPagePrimaryContent {
  padding-top: 0em;
  padding-bottom: 0em;
}
.layout-desktop .detailPagePrimaryContent {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Media Details: Hide Genres  */
p.itemGenres {
  display: none;
}

/* Media Details: Tracks & Subtitles */
.trackSelections {
  max-width: 100%;
  width: 60%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Media Details: Track Select */
.detailTrackSelect {
  background: #0000 !important;
  padding: .35em 1.9em .35em .35em !important;
}

/*
===========================================================================
  Media Pages: Media Description
===========================================================================
*/

/* Media Description: Container */
.detailPageSecondaryContainer {
  padding-top: 0em !important;
}

/* Media Description: Text */
.overview.detail-clamp-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Media Description: Director & Studio */
.itemDetailsGroup {
  margin-top: 0.5em;
  padding-bottom: 1em;
}

/*
===========================================================================
  Media Pages: Section Scroller
===========================================================================
*/

/* Section Titles */
.detailPagePrimaryContainer .sectionTitle,
.detailPageSecondaryContainer .sectionTitle {
  margin-bottom: .5em !important;
  background: hsl(0deg 0% 100% / 10%);
  border-radius: var(--rounding-system) !important;
  padding-top: .3em !important;
  padding-bottom: .3em !important;
  margin-left: -.5em !important;
  padding-left: .5em !important;
  margin-right: -.5em !important;
  margin-bottom: .5em !important;
}

/* Section Scroller: Space between Sections (TV) */
.layout-tv .detailVerticalSection {
  margin-bottom: 1em !important;
}

/* Section Scroller: Space for Zoom Animation */
.detailPagePrimaryContainer .verticalSection .emby-scroller,
.detailPageSecondaryContainer .verticalSection .emby-scroller {
  padding-left: .3em !important;
}

/* Section Scroller: Cards spacing */
.detailVerticalSection .itemsContainer-tv > .overflowBackdropCard {
  margin-left: .5vw !important;
}

/* Section Scroller (Mobile) */
.layout-mobile:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
  padding-top:0em;
}
.layout-mobile .sectionTitleTextButton > .material-icons {
  padding-top: .2em;
}

/* Section Scroller: Episodes in Season Overview */
.itemsContainer > .listItem-button {
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
  border-radius: var(--rounding-media);
  margin-bottom: 1em;
  padding: 0em;
  border-color: hsl(0deg 0% 100% / 20%) !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
}
.itemsContainer > .listItem-button:hover {
  border: solid 2px var(--accent40) !important;
  background: rgba(0, 0, 0, 0.7) !important;
}
.itemsContainer > .listItem-button:focus {
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
  border: solid 2px var(--accent80) !important;
  background: rgba(0, 0, 0, 0.7) !important;
}
.listItem-button:hover {
  border-color: var(--accent20) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}
.listItem-button:focus .listItemBodyText:not(.secondary) {
  color: var(--fullaccent) !important;
  background: #0000 !important;
}

/* Section Scroller: Large Episodes in Season Overview */
.listItemImage-large {
  max-height: 15em;
}

/* Section Scroller: Large Episode Indicator */
.listItemIndicators {
  left: 0.5em;
  top: 0.5em;
}

/* Section Scroller: Cast Cards */
#childrenContent .card {
  padding-bottom: 1em;
  padding-top: 1em;
}

/*
===========================================================================
  Player OSD
===========================================================================
*/

/* Player OSD: Hide some Elements */
.btnFullscreen,
.btnPip,
.videoOsdBottom .endsAtText {
  display: none;
}

/* Player OSD: Media Infos */
.osdTitle {
  margin-left: 0.5em;
}
.startTimeText,
.endTimeText {
  width: 3.4em;
  display: block;
  text-align: center;
}
.osdPoster img {
  border-radius: var(--rounding-media);
  border: none;
}
.osdTextContainer {
  margin: 0 !important;
  margin-top: 0.2em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

/* Player OSD: Media-Buttons */
.ltr > .paper-icon-button-light:focus {
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

/* Player OSD: Volume-Button */
.volumeButtons > .paper-icon-button-light:focus,
.osdControls > .focuscontainer-x > .paper-icon-button-light:focus {
  -webkit-transform: none !important;
  transform: none !important;
}

/* Player OSD: Skip-Button */
.skip-button {
  border-radius: var(--rounding-system);
  color: #fff;
  background: #0000 !important;
  border: none !important;
}
.skip-button:hover {
  color: var(--accent80) !important;
}
.skip-button:focus {
  color: var(--fullaccent) !important;
}

/*
===========================================================================
  Player OSD: Header & Footer
===========================================================================
*/

/* OSD Header: Height */
.osdHeader {
  height: 3.3em !important;
  --webkit-backdrop-filter: none;
}

/* OSD Footer: Full Layout */
.videoOsdBottom {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
  padding-top: .5em;
  padding-bottom: .5em;
}

/* OSD Footer: Small Box-Layout */
@media all and (min-width: 105em) {
  .videoOsdBottom {
    background: rgba(0, 0, 0, var(--headeropacity)) !important;
    padding-top: .5em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    margin-left: 24vw;
    margin-right: 24vw;
    border-radius: var(--rounding-media);
  }
}

/* OSD Footer: Lift Progressbar */
.buttons.focuscontainer-x {
  padding-top: .5em;
}

/*
===========================================================================
  Player OSD: Progressbar & Volume
===========================================================================
*/

/* Player OSD: Play Progress & Volume */
.mdl-slider {
  color: var(--fullaccent) !important;
}
.mdl-slider::-webkit-slider-thumb {
  background: var(--fullaccent) !important;
  color: var(--fullaccent) !important;
}
.mdl-slider::-moz-range-thumb {
  background: var(--fullaccent) !important;
  color: var(--fullaccent) !important;
}
.mdl-slider::-webkit-scrollbar-corner {
  background: #0000 !important;
}
.mdl-slider::-webkit-scrollbar-track-piece {
  background: #0000 !important;
}

/* Player OSD: Progressbar Vertical Marker */
.sliderMarker {
  width: 3px;
  border-radius: 2px;
}
.sliderMarker.watched {
  background: var(--fullaccent) !important;
}

/* Player OSD: Progressbar Background */
.iconOsdProgressInner {
  background: var(--fullaccent) !important;
  color: var(--fullaccent) !important;
}

/*
===========================================================================
  Player OSD: Chapter Thumbnails
===========================================================================
*/

/* Chapter Thumbnails */
.chapterThumbContainer {
  box-shadow: 0 0 1.9vh #000;
  border-radius: var(--rounding-media) !important;
}
.chapterThumb {
  height: 14vh;
  min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
  border-radius: var(--rounding-media) !important;
}

/* Chapter Thumbnails: Slider Bubble */
.sliderBubble {
  background: #0000;
  -webkit-transform: translate3d(-50%,-108%,0);
  transform: translate3d(-50%,-108%,0);
}

/* Chapter Thumbnails: Text */
.chapterThumbTextContainer {
  right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
  border-radius: var(--rounding-media) !important;
}
.chapterThumbText {
  font-size: 1em;
}

/*
===========================================================================
  Player OSD: UpNext Dialog
===========================================================================
*/

/* UpNext: Dialog-Box */
.upNextContainer {
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-radius: var(--rounding-media) !important;
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
}

/* UpNext: Poster */
.upNextDialog-poster-img {
  border-radius: var(--rounding-media) !important;
}

/* UpNext: Countdown */
.upNextDialog-countdownText {
  color: var(--fullaccent) !important;
}

/* UpNext: Buttons */
.upNextDialog-button {
  margin-left: .5em;
  background: #0000;
  border-radius: var(--rounding-system) !important;
  border: solid 2px hsl(0deg 0% 100% / 20%) !important;
  -webkit-transform: none !important;
  transform: none !important;
}
.upNextDialog-button:hover {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border-color: var(--accent40) !important;
}
.upNextDialog-button:focus {
  color: var(--fullaccent) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  border-color: var(--accent80) !important;
  box-shadow: 0px 0px 10px 1px var(--fullaccent) !important;
}

/*
===========================================================================
  Settings
===========================================================================
*/

/* Settings: Center content */
#myPreferencesMenuPage {
  justify-content: center;
  display: flex;
  padding-top: 5em !important;
}

/* Settings: Titles */
.settingsContainer .sectionTitle,
.homeScreenSettingsContainer .sectionTitle {
  background: hsl(0deg 0% 100% / 10%);
  border-radius: var(--rounding-system) !important;
  padding-top: .3em;
  padding-bottom: .3em;
  margin-left: -.5em;
  padding-left: .5em;
  margin-right: -.5em;
}

/* Menu Items: Additional content */
.listItemButton,
.listItemImageButton {
  border-radius: var(--rounding-system) !important;
}

/* Menu Items: Remove background on some icons */
.listItemIcon {
  background: #0000 !important;
  border-radius: var(--rounding-system) !important;
}

/* Subtitles: Preview-Box */
.subtitleappearance-preview {
  background: linear-gradient(140deg,var(--fullaccent),#111) !important;
  border-radius: var(--rounding-system) !important;
}

/* Settings Pages: Center content and Text */
#userProfilePage,
#quickConnectPreferencesPage {
  justify-content: center;
  display: flex;
  text-align: center;
}

/* Settings Pages: Move content up */
#quickConnectPreferencesPage {
  padding-top: 5em !important;
}

/*
===========================================================================
  Settings: User Profile
===========================================================================
*/

/* User Profile: Improve Alignments */
.formDialogHeaderTitle {
  margin-left: 1em;
}
.formDialogContent {
  margin-bottom: 6.2em;
}
.dialogContentInner {
  padding: .5em 1em 1em;
}
.listItem-indexnumberleft {
  margin: 1em;
}

/* User Profile: Form Alignment */
.updatePasswordForm br {
  display: none;
}
.updatePasswordForm .inputContainer {
  margin-bottom: 1em;
}
.updatePasswordForm .emby-button.block {
  margin-top: 2em;
}

/* User Profile: Image */
.imagePlaceHolder {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--rounding-media);
}
.imagePlaceHolder:hover {
  border: solid 2px var(--accent40) !important;
}

/* User Profile: Username bold */
h2.username {
  margin-top: 0px;
  font-weight: 600;
  color: #fff;
}

/*
===========================================================================
  Misc & Unknown (aka TODOs)
===========================================================================
*/

/* Misc: paperList  */
.paperList {
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--rounding-system) !important;
}

/* Misc: MDL-Switch */
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
  background: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.5);
}

/* Misc: Item Selection Panel */
.itemSelectionPanel {
  border: 0.01em solid hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.5) !important;
  border-radius: var(--rounding-media) !important;
}

/* Misc: Fab-Button */
.fab {
  border-radius: var(--rounding-system) !important;
	transition: all 0.2s !important;
  background: rgba(0, 0, 0, 0.4) !important;
}

/* Misc: Progressbar */
.taskProgressInner,
.mdl-slider-background-lower {
  background: var(--fullaccent) !important;
}

/* Misc: Cards & Items */
.itemDetailImage,
.primaryImageWrapper > img {
  border-radius: var(--rounding-media) !important;
}

/* Misc: SyncPlay */
.syncPlayIconCircle {
  color: var(--fullaccent) !important;
  text-shadow: none !important;
}
