/*
============================================================================
   Layout Mobile - Portrait Mode
============================================================================
*/


@media only screen and (max-width: 767px) and (orientation: portrait) {

    /* Header
    --------------------------------------------------------------------------*/

    /* Show Header at Bottom */
    .layout-mobile .skinHeader {
        top: auto;
        bottom: 0;
        flex-direction: column;
    }
    .layout-mobile .headerTop {
        order: 2;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        height: 2.9em;
    }
    .layout-mobile .headerLeft {
        margin-right: .5em;
    }
    .layout-mobile .headerRight {
        margin-left: .5em;
    }
    .layout-mobile .sectionTabs {
        order: 1;
    }

    /* Move Tabs */
    .layout-mobile .emby-tab-button {
        padding: 1.25em 1.25em .25em 1.25em !important;
    }
    .layout-mobile .skinHeader.headroom--unpinned {
        transform: translateY(100%);
    }
    .layout-mobile .skinHeader.headroom--pinned {
        transform: translateY(0);
    }

    .layout-mobile .homeSectionsContainer {
        top: 52vh;
        /* background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)); */
    }
    
    /* Header: Remove Logo */
    .layout-mobile .pageTitle {
        display: none;
    }

    /* Header: Rearrange Buttons */
    .layout-mobile .headerLeft {
        order: 2;
        justify-content: flex-end;
    }
    .layout-mobile .headerRight {
        order: 1;
    }

    /* Footer */
    .layout-mobile .appfooter {
        background: #0000 !important;
    }

    /* Main Drawer: Align */
    .layout-mobile .mainDrawer {
        margin-top: 0em;
        align-items: flex-end;
        margin-bottom: 3.9em;
    }

    /* Drawer: Move options to bottom */
    .layout-mobile .mainDrawer-scrollContainer {
        padding-bottom: 1vh;
    }

    /* Toast */
    .layout-tv .toastContainer {
        bottom: 4em;
    }

    /* Library Pages: Move up */
    .layout-mobile .libraryPage,
    .layout-mobile #displayPreferencesPage,
    .layout-mobile #homeScreenPreferencesPage,
    .layout-mobile #languagePreferencesPage {
        padding-top: 1em !important;
    }
    .layout-mobile #itemDetailPage {
        padding-top: 0em !important;
    }
    .layout-mobile #userProfilePage,
    .layout-mobile #myPreferencesMenuPage,
    .layout-mobile #quickConnectPreferencesPage,
    .layout-mobile #searchPage {
        padding-top: 2em !important;
    }

    /* Media Details: Move up */
    .layout-mobile .itemBackdrop {
        margin-top: 0rem;
    }

    /* Filter Bar */
    .layout-mobile .pageTabContent > .focuscontainer-x {
        margin-top: 1em;
    }
    .layout-mobile .nowPlayingInfoControls {
        padding-bottom: 2em;
    }
    .layout-mobile .selectionCommandsPanel {
        top: 0em;
    }

    /* Footer: Placement depending on Header visibility */
    .layout-mobile #reactRoot:has(.headroom--pinned) ~ .appfooter {
        bottom: 5.8em;
    }
    .layout-mobile #reactRoot:has(.headroom--pinned>.sectionTabs.hide) ~ .appfooter {
        bottom: 3.9em;
    }

    /* Now Playing Bar */
    .layout-mobile .nowPlayingBarPositionContainer {
        margin-right: .8em;
        margin-left: .8em;
    }
    .layout-mobile .nowPlayingBarInfoContainer {
        margin-left: .2em;
    }

    /* Hide HeaderTabs & Footer when drawer opens */
    .layout-mobile .mainDrawer.drawer-open + .skinHeader > .headerTabs,
    .layout-mobile #reactRoot:has(.mainDrawer.drawer-open) ~ .appfooter {
        display: none !important;
    }


    /* Slides
    --------------------------------------------------------------------------*/

    #slides-container {
        position: relative;
        width: 100vw;
        height: 90%;
        overflow: hidden;
        margin: 0 auto;
    }

    .slide {
        top: 0;
        left: 0;
        width: 100%;
        height: 75%;
    }

    .plot-container {
        display: none;
    }

    .backdrop-container {
        width: 100%;
    }

    .dots-container {
        top: calc(25% + 15vh);
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        background-color: #ffffff00;
    }

    .genre {
        top: calc(25% + 15vh);
    }

    .info-container {
        top: calc(25% + 10vh);
    }

    .button-container {
        top: calc(25% + 25vh);
    }

    .logo {
        top: 50%;
        left: 50%;
        max-height: 60%;
    }

    .logo-container {
        top: 25%;
    }

    .pause-button {
        top: calc(25% + 25vh);
        right: 4vw;
    }
}
