/*
===========================================================================
   Sections: Media Pages
===========================================================================
*/

.layout-tv .detailSection:has(.trackSelections.hide ~ .nextUpSection.hide)
#listChildrenCollapsible {
    margin-top: 3em;
}

.layout-tv .detailSection:has(.listItem-largeImage)
#listChildrenCollapsible {
    margin-top: 0em !important;
}

/* Sections: Space between Sections (TV) */
.layout-tv .detailVerticalSection {
    margin-bottom: 0em !important;
}

/* Stretch Seasons Scroller */
.layout-tv .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) #listChildrenCollapsible,
.layout-desktop .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) #listChildrenCollapsible {
    margin-left: -29vw;
    margin-bottom: -1.5em !important;
}

/* Cast > More */
.clearLink,
.clearLink > .emby-button {
    margin: 0;
}

/*
===========================================================================
   Sections: Titles
===========================================================================
*/


/* Section Titles: Layout TV
--------------------------------------------------------------------------*/

/* Container */
.layout-tv .sectionTitleContainer-cards,
.layout-tv div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Titles */
.layout-tv .homePage .sectionTitleContainer-cards,
.layout-tv .homePage .sectionTitle {
    text-align: center;
    padding-left: 0 !important;
}

/* NextUp Title - TV */
.layout-tv .nextUpSection .sectionTitleContainer-cards,
.layout-tv .nextUpSection .sectionTitle {
    text-align: left !important;
    padding-left: 1em !important;
}


/* Section Titles: Layout Desktop
--------------------------------------------------------------------------*/

/* Container */
.layout-desktop .sectionTitleContainer-cards,
.layout-desktop div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.layout-desktop .homePage .sectionTitleContainer-cards,
.layout-desktop .homePage div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Titles */
.layout-desktop .detailPagePrimaryContainer .sectionTitle {
    padding-left: 1.5% !important;
}
.layout-desktop .detailPageSecondaryContainer .sectionTitle {
    border-radius: 0;
}
.layout-desktop .libraryPage:not(.homePage) .sectionTitle-cards {
    padding-left: 3vw;
}

/* Text & Icon */
.sectionTitleTextButton > .sectionTitle,
.sectionTitleTextButton > .material-icons {
    padding: 0;
    margin: 0;
}

.layout-desktop h2.sectionTitle {
    font-weight: 600;
} 

/* Scroll Buttons */
.layout-desktop .verticalSection > .emby-scrollbuttons {
    padding-top: 5px;
    padding-bottom: 0em;
}

/* Section Titles: Layout Mobile
--------------------------------------------------------------------------*/

/* Container */
.layout-mobile .sectionTitleContainer-cards,
.layout-mobile :not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    text-align: center;
    padding: 4px 0 4px 0;
}

/* Titles */
.layout-mobile .sectionTitleTextButton .sectionTitle-cards {
    text-align: center;
    padding: 0;
}
@media(max-width: 48.125em) {
    .layout-mobile .homePage .sectionTitleContainer-cards, 
    .layout-mobile .homePage .sectionTitle-cards,
    .layout-mobile #tvRecommendedPage .sectionTitleContainer-cards, 
    .layout-mobile #tvRecommendedPage .sectionTitle-cards,
    .layout-mobile #moviesPage .sectionTitleContainer-cards, 
    .layout-mobile #moviesPage .sectionTitle-cards,
    .layout-mobile #musicRecommendedPage .sectionTitleContainer-cards, 
    .layout-mobile #musicRecommendedPage .sectionTitle-cards {
        border-radius: 0 !important;
    }
}

/* Text & Icon */
.layout-mobile .sectionTitle > .material-icons,
.layout-mobile .sectionTitleTextButton > .material-icons {
    padding: 0;
    margin: 0;
}

/*
===========================================================================
   Media Scroller
===========================================================================
*/

/* Default Alignment */
.emby-scroller {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.emby-scroller::-webkit-scrollbar {
    display: none;
}

/* Media Scroller: Layout TV
--------------------------------------------------------------------------*/

/* Emby Scroller */
.layout-tv .emby-scroller {
    padding: 0;
    margin: 0 .5vw;
}

/* More From Section with Portrait Cards
.layout-tv .detailPageWrapperContainer .moreFromSeasonSection .emby-scroller:has(.overflowPortraitCard) {
    padding-top: 1.25em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 2em;
} */

.layout-tv #favoritesTab .verticalSection > .emby-scroller,
.layout-tv #tvRecommendedPage .verticalSection > .emby-scroller,
.layout-tv #moviesPage .verticalSection > .emby-scroller,
.layout-tv #albumsPage .verticalSection > .emby-scroller {
    margin: .5vw 1vw;
}

/* Items Container */
.layout-tv .itemsContainer {
    padding: 0;
}
.layout-tv #favoritesTab .verticalSection > .itemsContainer,
.layout-tv #tvRecommendedPage .verticalSection > .itemsContainer,
.layout-tv #moviesPage .verticalSection > .itemsContainer,
.layout-tv #albumsPage .verticalSection > .itemsContainer {
    margin: .5vw 1vw;
}
.layout-tv #seriesTab .itemsContainer,
.layout-tv #moviesTab .itemsContainer,
.layout-tv #albumsTab .itemsContainer{
    margin: 0;
}

/* Items Container with listItems */
.layout-tv .detailPagePrimaryContainer .itemsContainer:has(.listItem-largeImage) {
    padding-right: 0em;
    padding-left: 0em;
    margin-top: -1em;
}

.layout-tv #listChildrenCollapsible:has(.listItem-largeImage) {
    margin-top: -3vh;
}



/* Layout Desktop
--------------------------------------------------------------------------*/

/* Emby Scroller */
.layout-desktop .emby-scroller {
    padding: 0;
    margin: .5vw 2vw;
}

/* Emby Scroller with Overflow Portrait Cards */
.layout-desktop .detailPageWrapperContainer .moreFromSeasonSection .emby-scroller:has(.overflowPortraitCard) {
    padding-top: 1.25em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 2em;
}

/* Items Container */
.layout-desktop .itemsContainer {
    padding: 0;
}
.layout-desktop #favoritesTab .verticalSection > .itemsContainer,
.layout-desktop #tvRecommendedPage .verticalSection > .itemsContainer,
.layout-desktop #moviesPage .verticalSection > .itemsContainer,
.layout-desktop #albumsPage .verticalSection > .itemsContainer {
    margin: .5vw 2vw;
}
.layout-desktop #favoritesTab .verticalSection > .emby-scroller,
.layout-desktop #tvRecommendedPage .verticalSection > .emby-scroller,
.layout-desktop #moviesPage .verticalSection > .emby-scroller,
.layout-desktop #albumsPage .verticalSection > .emby-scroller {
    margin: .5vw 1vw;
}
.layout-desktop #items .itemsContainer {
    margin: 0;
}

/* Items Container Primary Content */
.layout-desktop .detailPagePrimaryContainer .itemsContainer {
    padding: 0;
    margin: 0 1vw;
}

/* Items Container with listItems */
.layout-desktop .pageTabContent .itemsContainer:has(.listItem-border) {
    padding: .5em 8% !important;
}

/* Studios Tab workaround */
.layout-desktop #studiosTab {
    padding: 0 2vw;
}

/* Layout Mobile
--------------------------------------------------------------------------*/

/* Emby Scroller */
.layout-mobile .emby-scroller {
    padding: 0;
    margin: 0 1vw;
}

/* Items Container */
.layout-mobile .itemsContainer {
    padding: 0;
}
.layout-mobile #favoritesTab .itemsContainer,
.layout-mobile #tvRecommendedPage .itemsContainer,
.layout-mobile #moviesPage .itemsContainer,
.layout-mobile #albumsPage .itemsContainer {
    margin: 0 2vw;
}
.layout-mobile #seriesTab .itemsContainer,
.layout-mobile #moviesTab .itemsContainer,
.layout-mobile #albumsTab .itemsContainer{
    margin: 0;
}

/* Items Container with listItems */
.layout-mobile .pageTabContent .itemsContainer:has(.listItem-border) {
    padding: .5em 3% !important;
}
