/*
────────────────────────────────────────────────────────────────────────────
   Library Pages
──────────────────────────────────────────────────────────────────────────── */

.standalonePage    { padding-top: 5.5em !important }

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {
    .libraryPage   { padding-top: 3.9em !important }
    #studiosTab    { padding: 2vh 2vw }
}

/*  Layout TV ────────────────────────────────────────────────────────────── */
.layout-tv {
    .libraryPage                                    { padding: 0 1vw; padding-top: 5em !important; }
    #studiosTab                                     { margin-left: -1vw }

    .detailImageContainer .card                     { margin-left: 1vw }

    /* Library Pages: Content with Alphapicker */
    .libraryPage .padded-right-withalphapicker      { padding: 0 3vw 0 2vw; }
    @media(min-width: 50em)                         {
        .libraryPage .padded-right-withalphapicker  { padding: 0 2vw 0 0vw; }
    }
}

/* Layout Mobile ─────────────────────────────────────────────────────────── */
.layout-mobile {
    .libraryPage.noSecondaryNavPage                { padding-top: 4em !important }
    .libraryPage:not(.noSecondaryNavPage)          { padding-top: 6.3em !important }
    #itemDetailPage                                { padding-top: 1em }
    .itemBackdrop                                  { margin-top: 0 }

    /* Library Pages: Content with Alphapicker */
    .libraryPage .padded-right-withalphapicker     { padding-left: 2vw; padding-right: 6vw }

    @media (min-width: 50em)                       {
        .itemBackdrop                              { margin-top: 3.9rem }
        .libraryPage.noSecondaryNavPage            { padding-top: 4em !important }
        .libraryPage .padded-right-withalphapicker { padding-left: 2vw;  padding-right: 4vw }
    }
    @media (min-width: 100em)                      {
        .libraryPage                               { padding-top: 4.3em !important }
        .libraryPage.noSecondaryNavPage            { padding-top: 4.3em !important }
        .libraryPage:not(.noSecondaryNavPage)      { padding-top: 4.3em !important }
    }
}

/*
────────────────────────────────────────────────────────────────────────────
   Alphabet Picker
──────────────────────────────────────────────────────────────────────────── */

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {
    .alphaPicker    { top: 128px; bottom: auto }
}

/* Layout Mobile ─────────────────────────────────────────────────────────── */
.layout-mobile {
    /* Stretch Alphabet Picker */
    .alphaPicker  { bottom: 2em }
    @media only screen and (max-height: 767px) and (orientation: landscape) {
        .alphaPicker { bottom: 1em }
    }
}

/* Alphabet Picker Buttons */
.alphaPickerButton              { height: 1.6em; }

.alphaPickerButton:hover        {
    background: var(--accent60) !important;
    color: white !important;
}
.alphaPickerButton:focus,
.alphaPickerButton:active       {
    transform: none !important;
    transition: none !important;
    background: var(--accent80) !important;
    color: white !important;
    font-weight: 600;
}

/*
────────────────────────────────────────────────────────────────────────────
   Library Pages: Sorting & Filter
──────────────────────────────────────────────────────────────────────────── */

/* Item Count */
.listPaging > span              { margin: 0 .5em; }

/* Filter Indicator */
.filterIndicator                { color: black }

/* Sorting Menu: Radio Button spacing */
.radio-label-block              {
    margin: 0 !important;
    padding: .5em 1em !important;
    cursor: pointer;
}

/* Filter & Sorting Header: Buttons */
.pageTabContent .focuscontainer-x .paper-icon-button-light { transform: none !important }

/* Layout Desktop ────────────────────────────────────────────────────────── */
.layout-desktop {
    .itemsViewSettingsContainer,
    .pageTabContent>.focuscontainer-x,
    .libraryPage .padded-right-withalphapicker > .focuscontainer-x.justify-content-center,
    .libraryPage:has(.itemsViewSettingsContainer) .focuscontainer-x:not(:has(>button)) {
        z-index: 1;
        height: 3em;
        align-content: center;
        position: fixed;
        background-color: hsl(0deg 0% 62.03% / 17%);
        backdrop-filter: var(--blur);
        border-radius: var(--rounding-system);
        padding: 0;
    }

    /* Filterbar with buttons (top) */
    .itemsViewSettingsContainer,
    .pageTabContent>.focuscontainer-x:has(>button) { justify-self: center; }

    /* Paging-bar (bottom right) */
    .libraryPage:has(.itemsViewSettingsContainer) .focuscontainer-x:not(:has(>button)),
    .libraryPage .padded-right-withalphapicker > .focuscontainer-x.justify-content-center,
    .pageTabContent>.focuscontainer-x:not(:has(>button))  {
        bottom: 0;
        right: .5em;
        margin-bottom: .5em;
    }

    /* Padding for paging */
    .listPaging > span { padding: 0 .556em; }
}

/* Layout TV ─────────────────────────────────────────────────────────────── */
.layout-tv {
    .itemsViewSettingsContainer,
    .pageTabContent>.focuscontainer-x {
        border-radius: var(--rounding-system) !important;
        padding: 0.05em;
        min-height: 2em;
        margin-bottom: .5em;
    }

    #episodesTab > .focuscontainer-x,
    #songsTab > .focuscontainer-x { margin-bottom: 1.5em }
}

/* Layout Mobile
──────────────────────────────────────────────────────────────────────────── */
.layout-mobile {
    /* Filter & Sorting Header: Buttons */
    .pageTabContent .focuscontainer-x .paper-icon-button-light { margin: 0 .2em; }

    /* Filter & Sorting Header */
    .itemsViewSettingsContainer { margin-left: -3.3%; margin-right: -3.3% }

    .itemsViewSettingsContainer,
    .pageTabContent > .focuscontainer-x {
        padding: 0;
        margin-bottom: 1em;
        margin-top: 0;
    }
    .pageTabContent > .focuscontainer-x:not(:has(.paper-icon-button-light)) {
        margin-top: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .padded-right-withalphapicker .focuscontainer-x.padded-right,
    .padded-right-withalphapicker .itemsViewSettingsContainer {
        padding: 0;
        margin-left: -3.3%;
        margin-right: -6.4%;
        margin-bottom: 1em;
        margin-top: 0;
    }

    .padded-right-withalphapicker .focuscontainer-x.padded-right {
        background-color: var(--bgwhite10);
        height: 3em;
        margin-top: 1em;
    }
}

/*
────────────────────────────────────────────────────────────────────────────
   Library Page: Multi-Select
──────────────────────────────────────────────────────────────────────────── */

/* Multi-Select Dialog */
.itemSelectionPanel {
    border-color: #0000 !important;
    background-color: rgba(0, 0, 0, 0.8);
}
.selectionCommandsPanel { top: 3.9em; padding: .5em }
.itemSelectionCount     { color: var(--accent100) !important }

/* Checkboxes & Indicators */
.multiSelectCheckboxOutline { margin: .5em !important }

.chkItemSelect:hover + span + .multiSelectCheckboxOutline {
    box-shadow: var(--cardglow);
    border-color: var(--accent60) !important;
}

/* Layout Desktop ────────────────────────────────────────────────────────── */
.layout-desktop {
    .selectionCommandsPanel {
        top: 7.65em;
        left:  auto;
        right: 4.3em;
        max-width: 10em;
        margin: 0 auto;
        padding: 0 .5em;
    }

    /* Multi-Select Dialog Buttons */
    .itemSelectionCount,
    .btnSelectionPanelOptions,
    .btnCloseSelectionPanel {
        margin: 0 .5em;
        min-width: 1em;
    }

    .itemSelectionCount {
        order: 1;
        font-size: 140%;
        font-weight: 600;
        margin-bottom: .1em;
        text-align: center;
        cursor: default;
    }
    .btnSelectionPanelOptions { order: 2; }
    .btnCloseSelectionPanel   { order: 3; }
}
