/*
============================================================================
   System
============================================================================
*/

/* Smaller TV-Layout */
.layout-tv {
    font-size: 110% !important;
}

/* Progress Ring */
.progressring {
    margin: .4em;
}
.progressring-bg {
    display: none;
}
.progressring-spiner {
    border-width: .35em;
}

/* Toast: Center */
.layout-tv .toastContainer,
.layout-mobile .toastContainer {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    text-align: center;
}

/* Spinner Color */ 
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4,
.progressring-spiner {
    border-color: var(--accent100) !important;
}

/*
============================================================================
   Dialogs
============================================================================
*/

/* Dialogs: Position (Desktop)
--------------------------------------------------------------------------*/

.layout-desktop:has(#moviesPage:not(.hide)) .formDialog.opened,
.layout-desktop:has(#moviesPage:not(.hide)) .formDialog.dynamicFilterDialog.opened,
.layout-desktop:has(#tvRecommendedPage:not(.hide)) .formDialog,
.layout-desktop:has(#tvRecommendedPage:not(.hide)) .dynamicFilterDialog,
.layout-desktop:has(#musicRecommendedPage:not(.hide)) .formDialog, 
.layout-desktop:has(#musicRecommendedPage:not(.hide)) .dynamicFilterDialog {
    top: 8em !important;
    position: fixed;
}

.layout-desktop:has(#moviesPage:not(.hide)) .formDialog.opened {
    transform: translateX(10.5em) !important;
}
.layout-desktop:has(#moviesPage:not(.hide)) .formDialog.dynamicFilterDialog.opened {
    transform: translateX(13.5em) !important;
}


.layout-desktop:has(#tvRecommendedPage:not(.hide)) .formDialog.opened  {
    transform: translateX(7em) !important;
}
.layout-desktop:has(#tvRecommendedPage:not(.hide)) .formDialog.dynamicFilterDialog.opened  {
    transform: translateX(10em) !important;
}

.layout-desktop:has(#musicRecommendedPage:not(.hide)) .formDialog.opened  {
    transform: translateX(6em) !important;
}
.layout-desktop:has(#musicRecommendedPage:not(.hide)) .formDialog.dynamicFilterDialog.opened  {
    transform: translateX(9em) !important;
}


/* Header */
.layout-desktop:has(.centeredDialog[style*="top: 10px"]) .actionSheet {
    transform: translateY(4em) !important;
}
.layout-desktop:has(.actionSheetMenuItem[data-id*="List"]) .actionSheet {
    transform: translateY(7.25em) !important;
}

/* Player OSD */
.layout-desktop:has(#videoOsdPage:not(.hide)) .actionSheet[style*="top: 10px"]  {
    transform: translateY(3em) !important;
}
.layout-desktop:has(#videoOsdPage:not(.hide)) .actionSheet {
    transform: translateY(-5em) !important;
}



/* Dialogs: Fullscreen (TV)
--------------------------------------------------------------------------*/
.layout-tv .formDialog {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* align-content: center; */
    /* flex-wrap: wrap; */
    left: 0 !important;
    margin: 0 !important;
    top: 0 !important;
    animation-duration: var(--anispeed) !important;
    /* flex-direction: column; */
    flex-flow: column;
}

.layout-tv .centeredDialog,
.layout-tv .dynamicFilterDialog {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    left: 0 !important;
    margin: 0 !important;
    top: 0 !important;
    animation-duration: var(--anispeed) !important;
    /* flex-direction: column; */
    /* flex-flow: column; */
}

.layout-tv .filterDialogContent {
    min-width: 24em;
}

.layout-tv .actionSheet {
    animation-duration: var(--anispeed) !important;
}

.layout-tv .listItem:focus .secondary {
    color: hsla(0, 0%, 100%, .8) !important;
}

/* we don't need a close button in tv-mode, there is BACK and ESC
.layout-tv .btnCloseActionSheet {
    display: none;
} */

/* Dialogs: Content
--------------------------------------------------------------------------*/

/* Content */
.layout-desktop .dialogContainer .dynamicFilterDialog,
.layout-mobile .dialogContainer .dynamicFilterDialog {
    bottom: unset !important;
    max-height: 75% !important;
}

.layout-desktop .dialogContainer .dynamicFilterDialog .collapseContent,
.layout-mobile .dialogContainer .dynamicFilterDialog .collapseContent {
    max-height: 12em;
    overflow-y: scroll;
}

.layout-tv .dialogContainer .dynamicFilterDialog .collapseContent {
    max-height: 12em;
    overflow-y: scroll;
}

/* User Profile: Improve Alignments */
.layout-tv .formDialogContent {
    margin-bottom: 6.2em;
}
.layout-tv .dialogContentInner {
    padding: .5em 5em;
    justify-content: center;
}
.layout-tv .listItem-indexnumberleft {
    margin: 1em;
}

/* Collapsible Menu */
.collapseContent {
    padding-top: 0em;
    padding-bottom: 0em;
}

/*
============================================================================
   Action Sheets
============================================================================
*/

/* Action Sheets: Title */
.layout-desktop .actionSheetTitle,
.layout-mobile .actionSheetTitle {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: .2em !important;
    margin-top: 0em !important;
    cursor: default;
    /* border-bottom: chartreuse; */
    border-bottom: solid 2px hsl(0deg 0% 100% / 20%);
    padding: .6em .5em;
    text-align: center !important;

}

/* Action Sheets: Content */
.layout-desktop .actionSheetContent {
    padding: 0 !important;
}

.layout-desktop .actionSheetScroller {
    padding-top: .5em;
    padding-bottom: .5em;
}

.layout-desktop .actionSheetItemText {
    font-size: 1em;
}

.layout-desktop .actionSheetContent .listItem {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 2em !important;
    padding-right: 3em !important;
}
.layut-tv .actionSheetContent .listItem {
    padding: 1em 1em;
}

/*
============================================================================
   Menu Drawer
============================================================================
*/

/* Main Drawer */
.mainDrawer {
    margin-top: 3.9em;
    transition: background .5s ease-in-out;
}

/* Drawer Open: Match background and transition with header */
.mainDrawer.drawer-open {
    background-color: rgba(0, 0, 0, .9) !important;
    transition: transform .24s ease-out, left .26s ease-out, -webkit-transform .24s ease-out, background .3s ease-in-out;
}

/* Main Drawer: Menu Options */
.navMenuOptionText {
    margin-top: 0;
}

/* Hide HeaderTabs & Footer when drawer opens */
.layout-mobile .mainDrawer.drawer-open + .skinHeader > .headerTabs,
.layout-mobile #reactRoot:has(.mainDrawer.drawer-open) ~ .appfooter {
    display: none !important;
}

/*
============================================================================
   Scrollbar
============================================================================
*/

/* Scrollbar: Style */
* {
    scrollbar-color: var(--accent80) rgba(0, 0, 0, var(--headeropacity)) !important;
}

.layout-desktop {
    scrollbar-width: thin;
    overflow-y: scroll;
}

.layout-tv,
.layout-mobile {
    scrollbar-width: none;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, var(--headeropacity)) !important;
}
::-webkit-scrollbar-thumb {
    background: var(--accent80) !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-corner  {
    background: var(--accent80) !important;
}

/* Scrollbar: Hide (TV) */
.layout-tv ::-webkit-scrollbar {
    display: none;
}

#loginPage,
.layout-tv {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

/*
============================================================================
   Header & Section Tabs
============================================================================
*/

/* Shorten transition time */
.skinHeader {
    transition: background .3s ease-in-out;
}

/* Match background with drawer background when opening it */
[dir=ltr]:has(.drawer-open) .skinHeader-withBackground {
    background-color: rgba(0, 0, 0, .9) !important;
}

/* Header: Don't scroll (TV) */
.layout-tv .skinHeader {
    position: fixed !important;
}

/* Header: Black (Mobile) */
.layout-mobile .skinHeader {
    background: rgba(0, 0, 0, 1) !important;
}

/* Header: Fixed size (Mobile) */
@media (max-width: 100em) {
    .layout-mobile .headerTop {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        height: 2.9em;
    }
    .layout-mobile .emby-tab-button {
        padding-top: 0em;
    }
}

/* Header: Size & Alignment */
.layout-tv .skinHeader,
.layout-desktop .skinHeader {
    padding: .3em !important;
    height: 3.3em;
}
.layout-tv .headerTop,
.layout-desktop .headerTop {
    padding: .3em !important;
}

/* Hader: Page Title & Time */
.pageTitle {
    font-weight: bold;
}
.currentTimeText {
    font-size: 110% !important;
    font-weight: bold;
}

/* Header Section Tabs: Stay in Header with invisible scroll */
.layout-tv .headerTabs.sectionTabs {
    font-size: 110% !important;
    margin-top: -2.7em !important;
    width: 42vw;
    min-width: 26vw;
    scrollbar-width: none;
    scroll-behavior: smooth !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    align-self: center;
    position: relative;
    transition: filter 0.2s;
}

.layout-desktop .headerTabs.sectionTabs {
    font-size: 110% !important;
    margin-top: -2.7em !important;
    max-width: 58%;
    min-width: 26vw;
    scrollbar-width: none;
    scroll-behavior: smooth !important;
    white-space: nowrap;
    align-items: center;
    align-self: center;
    position: relative;
    transition: filter 0.2s;
}

/*
============================================================================
   Buttons
============================================================================
*/

/* Buttons: Sign In, Save, Cancel...
--------------------------------------------------------------------------*/

.emby-button.block,
.button-submit,
.raised {
    margin: 0.5em 0;
    transform: none !important;
}

/* Buttons: Header Buttons
--------------------------------------------------------------------------*/

.emby-tab-button.show-focus:focus,
.headerButton:focus {
    transform: none !important;
}

.layout-tv .emby-tab-button,
.layout-desktop .emby-tab-button {
    padding: .6em 1.25em .8em 1.25em !important;
}

/* Buttons: Action Sheet Menu Items
--------------------------------------------------------------------------*/

.actionSheetMenuItem {
    transform: none !important;
    margin-top: .2em !important;
    margin-bottom: .2em !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
}

/* Buttons: List Menu Items
--------------------------------------------------------------------------*/

.listTextButton-autohide {
    transform: none !important;
    padding: .75em !important;
    margin: .2em !important;
}

.layout-tv .listTextButton-autohide {
    transform: none !important;
    padding: 0.65em .75em !important;
    margin: 0 !important;
}

/* Buttons: Collapsible
--------------------------------------------------------------------------*/

.emby-collapsible-button {
    padding: .75em !important;
    transform: none !important;
}

/* Collapsible Button: Text */
.emby-collapse > .emby-button.show-focus > .emby-collapsible-title {
    margin-left: 0.5em;
}


/* Buttons: Menu List Items
--------------------------------------------------------------------------*/

/* List Item Border */
.listItem-border {
    transform: none !important;
    margin-top: .2em !important;
    margin-bottom: .2em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.layout-desktop .userPreferencesPage .listItem-border,
.layout-tv .userPreferencesPage .listItem-border {
    padding-left: 6em !important;
    padding-right: 6em !important;
}

/* Buttons: Media Buttons (Play, Watched, Favourite...)
--------------------------------------------------------------------------*/

.layout-tv .mainDetailButtons .detailButton {
    font-size: 120% !important;
    margin-right: 1.5em !important;
}
.layout-desktop .mainDetailButtons .detailButton {
    font-size: 120% !important;
    margin-right: 1em !important;
}
.layout-tv .detailButton:focus {
    transform: scale(1.2) !important;
}

/* Buttons: Slide Buttons (Desktop & Mobile)
--------------------------------------------------------------------------*/
.play-button,
.detail-button,
.favorite-button {
    font-size: 120% !important;
    margin-right: .2em !important;
    color: inherit;
    height: 3.5em;
    margin-right: 1em !important;
}
.detail-button,
.favorite-button {
    width: 3.5em;
    margin-right: 1em !important;
}
.play-button:focus,
.detail-button:focus,
.favorite-button:focus {
    transform: scale(1.2) !important;
}

/* Buttons: Links acting as Buttons
--------------------------------------------------------------------------*/

.button-link,
.overview-expand {
    color: inherit !important;
    transform: none !important;
    text-decoration: none !important;
}

/* ClearLinks: Buttons with Link-Buttons inside
--------------------------------------------------------------------------*/

/* Clearlinks: Won't focus with remote > hide in TV layout */
.layout-tv .sectionTitleContainer > .clearLink {
    display: none;
}

/* Clearlink Container */
.clearLink {
    padding: 0em 1em !important;
    transform: none !important;
    margin-left: 0px !important;
    margin: 0;
}

/* Clearlink: Buttons inside */
.clearLink > .emby-button {
    padding: 0em 1em !important;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}

/* Misc Buttons
--------------------------------------------------------------------------*/
.listPaging .paper-icon-button-light:focus,
.emby-button.sectionTitleTextButton.show-focus:focus {
    transform: scale(1);
    color: var(--accent100);
}

/*
============================================================================
   Inputs and Labels
============================================================================
*/

/* Input */
.emby-input {
    padding: .5em .6em;
}

/* Textarea */
.emby-textarea {
    padding: .5em .6em;
    resize: vertical !important;
    font-family: monospace;
    font-size: .9em;
    min-height: 6em;
    overflow-y: hidden;
}

/* Select Container */
.emby-select-focusscale:focus {
    transform: none !important;
}

/* Select Container: Arrow */
.selectContainer .selectArrowContainer {
    top: 2em;
}
.trackSelectionFieldContainer .selectArrowContainer {
    top: .3em;
}
.selectArrow {
    margin-top: .1em !important;
}

/* Select Container: Label */
.selectLabel {
    align-self: center;
}

.emby-select-withcolor:hover,
.emby-select-withcolor:focus {
    cursor: pointer;
}

.emby-select-withcolor > option {
    cursor: pointer !important;   
}
