/*
===========================================================================
   Cards
===========================================================================
*/

/* Cards */
.itemsContainer > .portraitCard, 
.itemsContainer > .squareCard {
    width: 33.33%;
}
.itemsContainer > .backdropCard {
    width: 50%;
}
.layout-tv .itemsContainer-tv > .portraitCard,
.layout-tv .itemsContainer-tv > .squareCard,
.layout-tv .itemsContainer-tv > .backdropCard {
    width: 50%;
}
.layout-mobile .itemsContainer > .portraitCard, 
.layout-mobile .itemsContainer > .squareCard,
.layout-mobile .itemsContainer > .backdropCard {
    width: 33.33%;
}

/* Overflow Cards */
.itemsContainer > .overflowPortraitCard,
.itemsContainer > .overflowSquareCard,
.itemsContainer > .overflowBackdropCard {
    width: 50%;
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard,
.layout-tv .itemsContainer-tv > .overflowSquareCard,
.layout-tv .itemsContainer-tv > .overflowBackdropCard {
    width: 50%;
}
.layout-mobile .itemsContainer > .overflowPortraitCard, 
.layout-mobile .itemsContainer > .overflowSquareCard,
.layout-mobile .itemsContainer > .overflowBackdropCard {
    width: 50%;
}

/* Overflow Cards on Media Pages */
.detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
.detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
    width: 33.33%;
}
.layout-tv .detailPageWrapperContainer .itemsContainer > .overflowPortraitCard,
.layout-tv .detailPageWrapperContainer .itemsContainer > .overflowSquareCard {
    width: 48%;
}
.layout-tv .detailPageWrapperContainer .itemsContainer > .overflowBackdropCard {
    width: 50%;
}

/* NextUp Card */
.detailPagePrimaryContent .nextUpSection .itemsContainer > .overflowBackdropCard {
    width: 45% !important;
    max-width: 30em;
    min-width: 18em;
}
.layout-tv .detailPagePrimaryContent .nextUpSection .itemsContainer > .overflowBackdropCard {
    width: 45% !important;
    max-width: 30em;
    min-width: 18em;
}
.layout-mobile .detailPagePrimaryContent .nextUpSection .itemsContainer > .overflowBackdropCard {
    width: 75% !important;
    max-width: 38em;
    min-width: 18em;
}

/* Person Cards */
.itemsContainer > .overflowPortraitCard.personCard {
    width: 22.6vw;
}
.itemsContainer > .overflowPortraitCard.personCard .cardScalable {
    width:  calc(22.6vw - 1.75em);
    height: calc(22.6vw);
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
    width:  22vw; 
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
    width:  calc(22vw - 1.75em);
    height: calc(22vw);
}

/* Poster Cards */
.layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage)
.layout-tv .detailImageContainer .portraitCard {
    max-width: 38em !important;
    left: 1%;
}


/*
===========================================================================
   List Item Cards
===========================================================================
*/

/* Cards: Large List Items */
.listItem.listItem-largeImage {
    margin-bottom: 1em;
    padding: 0em;
    border-color: hsl(0deg 0% 100% / 20%);
    -webkit-transform: none !important;
    transform: none !important;
    margin-right: .5em;
    background: var(--bgdark40) !important;
}

/* Large List Items: Align Body */
.listItem.listItem-largeImage .listItemBody {
    align-self: auto;
    margin: .5em;
    margin-right: 1.25em;
    padding: 0;
}

/* List Items: Indicator */
.listItemIndicators {
    position: fixed;
    left: 0.75em;
    top: 0.75em;
}

/* Layout TV
--------------------------------------------------------------------------*/

.layout-tv #listChildrenCollapsible:has(.listItemImage-large-tv) {
    margin-left: 0;
}

/* Large List Items */
.layout-tv .listItemImage-large-tv {
    max-height: 20em !important;
    min-height: 14em;
    max-width: 30em !important;
    height: 15vw !important;
}

/* ListItem Overview Text - TV */
.layout-tv .listItem-overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media (max-width: 64em) {
    .layout-tv .listItemImage-large {
        height:16vw;
        margin-right: .5em !important;
        width: 22vw
    }

    .layout-tv .listItemImageButton,
    .layout-tv .listItemIndicators {
        font-size: .6em !important;
    }

    .layout-tv .listItemBody {
        padding-left: .5em;
    }

    .layout-tv h2.listItemBodyText {
        font-size: 1.2em !important;
    }
}

/* List Items: Indicator */
.layout-tv .listItemIndicators {
    position: fixed;
    left: 0.75em;
    top: 0.75em;
}

/* Layout Mobile
--------------------------------------------------------------------------*/

.layout-mobile .listItem.listItem-largeImage {
    margin-right: 0em;
}

.layout-mobile .listItemIndicators {
    position: fixed;
    left: 0.5em;
    top: 0.5em;
    font-size: .75em !important
}

.layout-mobile .listItem-largeImage .listItemImageButton {
    border-radius: var(--rounding-system) !important;
}
.layout-mobile .detailPageWrapperContainer .listItem-bottomoverview {
    margin: .5em;
}
.layout-mobile .detailPageWrapperContainer .listItem-content {
    background: var(--bgdark40) !important;
    align-content:center;
}
@media(max-width: 50em) {
    .layout-mobile .detailPageWrapperContainer .listItem-content {
        border-bottom: solid 2px hsl(0deg 0% 100% / 20%) !important;
    }
}

.layout-mobile .detailPageWrapperContainer .listItemBody {
    text-align: center;
}


/*
===========================================================================
   Cards: CardBox
===========================================================================
*/

/* Cards: Inset Shadow */
.libraryPage .cardImageContainer {
    box-shadow: var(--insettop), var(--insetbottom);
}

/* Cards: Narrow margins */
.cardBox-bottompadded {
    margin-bottom: 0.5em !important;
}

/* Person Cards: Center Content */
.personCard > .cardBox {
    text-align: center;
    text-align: -webkit-center;
    margin-right: .5em !important;
    margin-left: .5em !important;
}

/* Cards: Rounding Top, Flat Bottom */
.visualCardBox:has(.cardFooter) .blurhash-canvas,
.visualCardBox:has(.cardFooter) .cardImage,
.visualCardBox:has(.cardFooter) .coveredImage,
.visualCardBox:has(.cardFooter) .cardImageContainer,
.visualCardBox:has(.cardFooter) .cardOverlayContainer {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Card Footer: Flat Top, Rounding Bottom */
.cardFooter:not(.visualCardBox-cardFooter) {
    border-bottom-left-radius: var(--rounding-media) !important;
    border-bottom-right-radius: var(--rounding-media) !important;
    text-align: center;
}

/* Layout Desktop
--------------------------------------------------------------------------*/

@media (hover: hover) and (pointer: fine) {
    .layout-desktop .bannerCard:hover > .cardText,
    .layout-desktop .itemsContainer > .card:hover .cardText {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .layout-desktop .itemsContainer > .card:hover:has(.cardFooter) .cardText {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Layout TV
--------------------------------------------------------------------------*/


.layout-tv  .itemsContainer > .card > .cardBox {
    justify-content: center;
    margin: .5em;
}

.layout-tv .itemsContainer > .overflowBackdropCard .cardBox {
    padding-right: 1vw !important;
}



/* Cards: Zoom on Focus (TV) */
.layout-tv .card.show-animation:focus .cardBox {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* More space for zoom & glow animations */
@media (pointer: fine) {
    .itemsContainer .cardBox {
        margin-left: .5em !important;
    }
}

.layout-tv .card.show-animation:focus .cardText-first,
.layout-tv .card.show-animation:focus .cardText-secondary {
    font-weight: 600;
}

/* Layout Mobile
--------------------------------------------------------------------------*/

.layout-mobile .itemsContainer .card > .cardBox {
    margin-left: .75em;
    margin-right: .75em;
}

/*
===========================================================================
   Cards: Text & Buttons
===========================================================================
* > needs plugin "home section containers" / 

/* Text Shadow (not on mobile > performance) */
@media (pointer: fine) {
    .cardText {
        text-shadow: var(--textshadow) !important;
    }
}

/* Recent & NextUp: Hide Series Title */
.ContinueWatching .card[data-type="Episode"] .cardText-first,
.NextUp .card[data-type="Episode"] .cardText-first {
    display: none;
}

/* Recent & NextUp: Inflate Episode Name */
.ContinueWatching .card[data-type="Episode"] .cardText-secondary,
.NextUp .card[data-type="Episode"] .cardText-secondary {
    font-size: 100% !important;
    padding-top: .5em !important;
    color: inherit;
}

/* Recent & NextUp: Hide Movie Year */
.ContinueWatching .card[data-type="Movie"] .cardText-secondary,
.NextUp .card[data-type="Movie"] .cardText-secondary {
    display: none;
}

/* Card Text First: Spacing with and without card footer */
.cardText-first {
    padding-top: .5em !important;
}
.cardFooter > .cardText.cardText-first {
    padding-top: .25em !important;
}

/* Card Text Secondary: Font size */
.cardText.cardText-secondary {
    font-size: 75% !important;
}

/* Links / Action-Text in card footer */
.textActionButton {
    text-decoration: none !important;
}

/* Layout Mobile
--------------------------------------------------------------------------*/

/* Card Action-Button (Mobile) */
.layout-mobile .cardFooter .itemAction {
    margin-bottom: 4.4em !important;
    margin-right: .25em !important;
}
.layout-mobile .itemAction > .material-icons {
    color: white;
}

/*
===========================================================================
   Cards: Indicators
===========================================================================
*/

/* Card Indicators: Alignment */
.cardContent .cardIndicators,
.mediaSourceIndicator {
    right: 0.5em !important;
    top: 0.5em !important;
}

/* Card Indicators: Count & Played */
.playedIndicator {
    background: rgba(0, 0, 0, 1);
}
.countIndicator,
.mediaSourceIndicator {
    font-weight: 600;
    font-size: 89%;
    color: rgba(0, 0, 0, 1);
}

/* Card Indicators: Missing & Unaired */
.missingIndicator,
.unairedIndicator {
    color: #fff;
    background: #ae3030eb;
    padding: .3em .6em;
}

/* Card Indicators: Multi Select Checkboxes */
.multiSelectCheckboxOutline {
    border-top-left-radius: var(--rounding-media) !important;
    border-top-right-radius: var(--rounding-system) !important;
    border-bottom-right-radius: var(--rounding-system) !important;
    border-bottom-left-radius: var(--rounding-system) !important;
}

/* Multi-Select panel */
.selectionCommandsPanel {
    top: 3.9em;
    padding: .5em;
}

/*
===========================================================================
   Cards: Progressbar
===========================================================================
*/

/* Card Progressbar: Background */
.itemProgressBar {
    height: .4em !important;
    margin: .5em .8em !important;
    backdrop-filter: blur(6px);
}

/* Card Progressbar: Progress */
.itemProgressBarForeground {
    background-color: var(--accent100) !important;
}

/*
===========================================================================
   Cards: Spacing
===========================================================================
*/

/* Layout TV
--------------------------------------------------------------------------*/

/* Cards */
.layout-tv .itemsContainer-tv > .backdropCard  {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: .3em;
    margin-left: .3em;
}
.layout-tv #moviesPage .itemsContainer-tv > .backdropCard {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .3em;
    margin-left: .3em;
}
.layout-tv .itemsContainer-tv > .portraitCard {
    padding: .5em;
}
.layout-tv .itemsContainer-tv > .squareCard {
    padding-bottom: .5em;
    padding-right: .5em;
}



/* Overflow Cards */
.layout-tv .itemsContainer-tv > .overflowBackdropCard {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: .3em;
    margin-left: .3em;
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard {
    padding: .5em;
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
    padding: 1em .8em;
}



.layout-tv #moviesPage .itemsContainer-tv > .overflowPortraitCard {
    margin-top: .5em;
    margin-bottom: .5em;

}
.layout-tv #moviesPage .itemsContainer-tv > .overflowBackdropCard {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .3em;
    margin-left: .3em;
}

/*
.layout-tv #tvRecommendedPage .overflowPortraitCard {
    margin-top: 2vw;
    margin-bottom: 2.5vw;
}*/


/* Person Cards */
.layout-tv .personCard {
    margin-right: .25vw;
    margin-left: .25vw;
    margin-bottom: 0vw;
    font-size: 90% !important;
}
.layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
    margin-bottom: 0;
}

/*
===========================================================================
   Dynamic Card Size
===========================================================================
*/
@media(min-width: 25em) {

    /* Cards */
    .layout-mobile .itemsContainer > .portraitCard, 
    .layout-mobile .itemsContainer > .squareCard {
        width: 33.33%;
    }

    .layout-mobile .itemsContainer > .backdropCard {
        width: 50%;
    }
    
    /* Overflow Cards */
    .layout-mobile .itemsContainer > .overflowPortraitCard, 
    .layout-mobile .itemsContainer > .overflowSquareCard,
    .layout-mobile .itemsContainer > .overflowBackdropCard {
        width: 50%;
    }

    /* Person Cards */
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard {
        width: 23vw;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(23vw - 1.75em);
        height: calc(23vw);
    }
}
@media(min-width: 43.75em) {

    /* Cards */
    .itemsContainer > .portraitCard, 
    .itemsContainer > .backdropCard {
        width: 33.33%;
    }
    .itemsContainer > .squareCard{
        width: 25%;
    }
    
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 33.33%;
    }  
    .layout-tv .itemsContainer-tv > .backdropCard {
        width: 50%;
    }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard,
    .itemsContainer > .overflowSquareCard {
        width: 50%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 50%;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 50%;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard, 
    .layout-mobile .itemsContainer > .overflowSquareCard {
        width: 25%;
    }
    .layout-mobile .itemsContainer > .overflowBackdropCard {
        width: 33.33%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 33.33%;
    }
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowSquareCard {
        width: 31.9%;
    }
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowBackdropCard {
        width: 22.7vw;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 32%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 50%;
    }
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 25%;
    }

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 18.2vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(18.2vw - 1.75em);
        height: calc(18.2vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 17.7vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(17.7vw - 1.75em);
        height: calc(17.7vw);
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard {
        width: 18.2vw;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(18.2vw - 1.75em);
        height: calc(18.2vw);
    }
}
@media(min-width: 50em) {

    /* Cards */
    .itemsContainer > .portraitCard {
        width: 25%;
    }
    .itemsContainer > .squareCard {
        width: 20%;
    }
    .itemsContainer > .backdropCard {
        width: 25%;
    }
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 25%;
    }  
    .layout-tv .itemsContainer-tv > .backdropCard {
        width: 33.33%;
    }
    .layout-mobile .itemsContainer > .portraitCard, 
    .layout-mobile .itemsContainer > .squareCard {
        width: 20%;
    }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard,
    .itemsContainer > .overflowSquareCard {
        width: 33.33%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 25%;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard,
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width:  25%;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 33.33%;
    }   
    .layout-mobile .itemsContainer > .overflowPortraitCard,
    .layout-mobile .itemsContainer > .overflowSquareCard {
        width: 20%;
    }
    .layout-mobile .itemsContainer > .overflowBackdropCard,
    .layout-mobile .itemsContainer > .overflowSmallBackdropCard {
        width: 25%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 25%;
    }
    .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 33.33%;
    }
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowSquareCard {
        width: 23.9%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 24%;
    }
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 20%;
    }


    

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 15.2vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(15.2vw - 1.75em);
        height: calc(15.2vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 17vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(17vw - 1.75em);
        height: calc(17vw);
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard {
        width: 15.2vw;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(15.2vw - 1.75em);
        height: calc(15.2vw);
    }





    

    /* List Item Card Text */
    .layout-desktop .listItem-overview {
        line-clamp: 3;
        -webkit-line-clamp: 3;
    }
    .layout-tv .listItem-overview {
        line-clamp: 5;
        -webkit-line-clamp: 5;
    }
}
@media(min-width: 60em)  {

    /* List Item Card Text */
    .layout-mobile .listItem-overview {
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }
}
@media(min-width: 75em) {

    /* Cards */
    .itemsContainer > .portraitCard {
        width: 20%;
    } 
    .itemsContainer > .squareCard {
        width: 16.66%;
    }
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 20%;
    } 
    .layout-tv .itemsContainer-tv > .backdropCard {
        width: 23.3vw;
    }
    .layout-mobile .itemsContainer > .portraitCard, 
    .layout-mobile .itemsContainer > .squareCard {
        width: 16.66%;
    }
    .layout-mobile .itemsContainer > .backdropCard {
        width: 25%;
    }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard,
    .itemsContainer > .overflowSquareCard {
        width: 25%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 25%;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard,
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width:  20%;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard,
    .layout-mobile .itemsContainer > .overflowSquareCard {
        width: 20%;
    }
    .layout-mobile .itemsContainer > .overflowBackdropCard,
    .layout-mobile .itemsContainer > .overflowSmallBackdropCard {
        width: 20%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 20%;
    }
    .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 33.33%;
    }
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowSquareCard {
        width: 18.6vw;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 18.9vw;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 30.85vw;
    }
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 16.66%;
    }


    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 13.05vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(13.05vw - 1.75em);
        height: calc(13.05vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 12.2vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(12.2vw - 1.75em);
        height: calc(12.2vw);
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard {
        width: 13.05vw;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(13.05vw - 1.75em);
        height: calc(13.05vw);
    }

    /* List Item Card Text */
    .layout-desktop .listItem-overview {
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }
}
@media(min-width: 87.5em) {

    /* Cards */
    .itemsContainer > .portraitCard {
        width: 16.66%;
    } 
    .itemsContainer > .squareCard {
        width: 14.25%;
    }
    .itemsContainer > .backdropCard {
        width: 20%;
    }
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 20%;
    }  */
    .layout-tv .itemsContainer-tv > .backdropCard {
        width: 25%;
    }

    /* Overflow Cards */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard,
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 18.8vw;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 23.2vw;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard,
    .layout-mobile .itemsContainer > .overflowSquareCard {
        width: 16.66%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 16.66%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 25%;
    }
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 14.25%;
    }


    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 11.4vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(11.4vw - 1.75em);
        height: calc(11.4vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 9.95vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(9.95vw - 1.75em);
        height: calc(9.95vw);
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard {
        width: 9.15vw;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(9.15vw - 1.75em);
        height: calc(9.15vw);
    }

    /* List Item Card Text */
    .listItem-overview {
        line-clamp: 5;
        -webkit-line-clamp: 5;
    }
}
@media(min-width: 100em) {

    /* Cards */
    .itemsContainer > .squareCard {
        width: 12.5%;
    }
    
    /* Cards */
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 16.66%;
    }
    .layout-tv .itemsContainer-tv > .backdropCard {
        width: 20%;
    }
    .layout-mobile .itemsContainer > .portraitCard, 
    .layout-mobile .itemsContainer > .squareCard {
        width: 14.25%;
    }
    .layout-mobile .itemsContainer > .backdropCard {
        width: 20%;
    }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard,
    .itemsContainer > .overflowSquareCard {
        width: 20%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 20%;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard,
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width:  20%;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 20%;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard,
    .layout-mobile .itemsContainer > .overflowSquareCard {
        width: 14.25%;
    }
    .layout-mobile .itemsContainer > .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 16.66%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 14.25%;
    }
    .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 25%;
    }
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowSquareCard {
        width: 15.5%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 15.75%;
    }
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 12.5%;
    }


    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 10.2vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(10.2vw - 1.75em);
        height: calc(10.2vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 10.5vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(10.5vw - 1.75em);
        height: calc(10.5vw);
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard {
        width: 8.35vw;
    }
    .layout-mobile .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(8.35vw - 1.75em);
        height: calc(8.35vw);
    }

    /* List Item Card Text */
    .layout-desktop .listItem-overview,
    .layout-mobile .listItem-overview {
        line-clamp: 6;
        -webkit-line-clamp: 6;
    }
}
@media(min-width: 120em) {

    /* Cards */
    .itemsContainer > .portraitCard {
        width: 14.25%;
    }
    .itemsContainer > .squareCard {
        width: 12.5%;
    }
    .itemsContainer > .backdropCard {
        width: 16.66%;
    }
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 14.25%;
    }  
    .layout-mobile .itemsContainer > .portraitCard, 
    .layout-mobile .itemsContainer > .squareCard {
        width: 12.5%;
    }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard,
    .itemsContainer > .overflowSquareCard {
        width: 16.66%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 16.66%;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard,
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width:  20%;
    }
    .layout-mobile .itemsContainer > .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 14.25%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 12.5%;
    }
    .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 20%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 20%;
    }

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 9.15vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(9.15vw - 1.75em);
        height: calc(9.15vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 9.3vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(9.3vw - 1.75em);
        height: calc(9.3vw);
    }

    /* ListItem Overview Text */
    .layout-tv .listItem-overview,
    .layout-mobile .listItem-overview {
        line-clamp: 7;
        -webkit-line-clamp: 7;
    }
}
@media(min-width: 131.25em) {

    /* Cards */
    .layout-mobile .itemsContainer > .portraitCard, 
    .layout-mobile .itemsContainer > .squareCard {
        width: 11.1%;
    }
    .layout-mobile .itemsContainer > .backdropCard {
        width: 16.66%;
    }
    
    /* Overflow Cards */
    .layout-mobile .itemsContainer > .overflowPortraitCard,
    .layout-mobile .itemsContainer > .overflowSquareCard {
        width: 12.5%;
    }
}
@media(min-width: 135em) {

    /* Cards */
    .itemsContainer > .portraitCard, 
    .itemsContainer > .squareCard {
        width: 11.1%;
    }
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 12.5%;
    }  

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard {
        width: 20%;
    }
    .itemsContainer > .overflowSquareCard {
        width: 16.66%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 14.25%;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard,
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 16.66%;
    }


    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 11.15%;
    }
    .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 20%;
    }
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowSquareCard {
        width: 15.5%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 15.75%;
    }

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 8.35vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(8.35vw - 1.75em);
        height: calc(8.35vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 8.25vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(8.25vw - 1.75em);
        height: calc(8.25vw);
    }

    /* ListItem Overview Text */
    .layout-tv .listItem-overview {
        line-clamp: 7;
        -webkit-line-clamp: 7;
    }
}
@media(min-width: 150em) {

    /* Cards */
    .itemsContainer > .portraitCard {
        width: 11.1%;
    } 
    .itemsContainer > .squareCard {
        width: 10%;
    }
    .itemsContainer > .backdropCard {
        width: 14.25%;
    }
    .layout-tv .itemsContainer-tv > .portraitCard,
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 11.1%;
    }  
    .layout-tv .itemsContainer-tv > .backdropCard {
        width: 16.66%;
    }


    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard,
    .itemsContainer > .overflowSquareCard {
        width: 14.25%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 12.5%;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 16.66%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 10%;
    }
    .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 16.66%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 13.4%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 20%;
    }

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 7.05vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(7.05vw - 1.75em);
        height: calc(7.05vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 7.4vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(7.4vw - 1.75em);
        height: calc(7.4vw);
    }

    /* ListItem Overview Text  */
    .layout-tv .listItem-overview {
        line-clamp: 8;
        -webkit-line-clamp: 8;
    }
}
@media(min-width: 156.25em) {

    /* Cards */
    .layout-mobile .itemsContainer > .portraitCard, 
    .layout-mobile .itemsContainer > .squareCard {
        width: 10%;
    }
    .layout-mobile .itemsContainer > .backdropCard {
        width: 14.25%;
    }

    /* Overflow Cards */
    .layout-mobile .itemsContainer > .overflowBackdropCard,
    .layout-mobile .overflowSmallBackdropCard {
        width: 11.15%;
    }
}
@media(min-width: 175em) {

    /* Cards */
    .itemsContainer > .portraitCard {
        width: 10%;
    }
    .itemsContainer > .squareCard {
        width: 9%;
    }
    .itemsContainer > .backdropCard {
        width: 12.5%;
    }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard,
    .itemsContainer > .overflowSquareCard {
        width: 12.5%;
    }
    .itemsContainer > .overflowBackdropCard {
        width: 11.15%;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 15.25%;
    }

    /* Overflow Cards on Media Pages */
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 9.1%;
    }
    .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 16.66%;
    }
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPagePrimaryContainer .itemsContainer > .overflowSquareCard {
        width: 13%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 11.5%;
    }

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard {
        width: 6.14vw;
    }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(6.14vw - 1.75em);
        height: calc(6.14vw);
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 6.7vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(6.7vw - 1.75em);
        height: calc(6.7vw);
    }

    /* ListItem Overview Text */
    .layout-tv .listItem-overview {
        line-clamp: 9;
        -webkit-line-clamp: 9;
    }
    
    /* Poster Cards */
    .layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage)
    .layout-tv .detailImageContainer .portraitCard {
        width: 37em;
        left: 3%;
    }
}
@media(min-width: 200em) {

    /* Cards - TV  */
    .layout-tv .itemsContainer-tv > .portraitCard {
        width: 10%;
    }
    .layout-tv .itemsContainer-tv > .squareCard {
        width: 9%;
    }
    .layout-tv .itemsContainer-tv > .backdropCard {
        width: 16.66%;
    }

    /* Layout-TV: Overflow Cards */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard,
    .layout-tv .itemsContainer-tv > .overflowSquareCard {
        width: 16.66%;
    }
    .layout-tv .itemsContainer-tv > .overflowBackdropCard {
        width: 14.3%;
    }

    /* Overflow Cards on Media Pages */
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard,
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard {
        width: 10.1%;
    }
    .layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard {
        width: 16.66%;
    }

    /* Layout-TV: Person Cards  */
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard {
        width: 6.3vw;
    }
    .layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
        width:  calc(6.3vw - 1.75em);
        height: calc(6.3vw);
    }

    /* ListItem Overview Text  */
    .layout-tv .listItem-overview {
        line-clamp: 10;
        -webkit-line-clamp: 10;
    }
    
    /* Poster Cards */
    .layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage)
    .layout-tv .detailImageContainer > .portraitCard {
        width: 38em;
        left: 4%;
    }
}
