/*
===========================================================================
   Default Card Size
===========================================================================
*/

:root {

    /* Layout Desktop (Default)
    --------------------------------------------------------------------------*/

    /* Cards */
    --card-portrait-width: 33.33%;
    --card-square-width: 33.33%;
    --card-backdrop-width: 50%;

    /* Image Search Cards */
    --card-search-portrait-width: 25%;
    --card-search-square-width: 25%;
    --card-search-backdrop-width: 33.33%;

    /* Overflow Cards */
    --card-overflow-portrait-width: 33.33%;
    --card-overflow-square-width: 33.33%;
    --card-overflow-backdrop-width: 50%;

    /* Overflow Cards in Primary Container not containing a NextUp Section */
    --card-overflow-portrait-nextuphide-width: 50%;
    --card-overflow-square-nextuphide-width: 33%; /* not sure if used anywhere */
    --card-overflow-backdrop-nextuphide-width: 33.33%; /* not sure if used anywhere */

    /* Person Cards */
    --card-person-height: 19vw;
    --card-person-scalable-width: calc(19vw - 1.75em);

    /* ListItem Text Wrap */
    --listitem-line-clamp: 3;

    /* Layout TV
    --------------------------------------------------------------------------*/    

    /* Cards - TV */
    --card-portrait-width-tv: 33.33%;
    --card-square-width-tv: 33.33%;
    --card-backdrop-width-tv: 50%;

    /* Overflow Cards - TV */
    --card-overflow-portrait-width-tv: 33.33%;
    --card-overflow-square-width-tv: 33.33%;
    --card-overflow-backdrop-width-tv: 50%;

    /* Overflow Cards in Secondary Container - TV */
    --card-secondary-overflow-portrait-width-tv: 33.33%;
    --card-secondary-overflow-square-width-tv: 25%;
    --card-secondary-overflow-backdrop-width-tv: 50%;

    /* Person Cards - TV */
    --card-person-height-tv: 23.2vw;
    --card-person-scalable-width-tv: calc(23.2vw - 1.75em);

    /* ListItem Text Wrap - TV */
    --listitem-line-clamp-tv: 7;

    /* Layout Mobile
    --------------------------------------------------------------------------*/

    /* Cards - Mobile */
    --card-portrait-width-mobile: 33.33%;
    --card-square-width-mobile: 33.33%;
    --card-backdrop-width-mobile: 50%;

    /* Overflow Cards - Mobile */
    --card-overflow-portrait-width-mobile: 33.33%;
    --card-overflow-square-width-mobile: 33.33%;
    --card-overflow-backdrop-width-mobile: 50%;

    /* Overflow Cards in Secondary Container - Mobile */
    --card-secondary-overflow-portrait-width-mobile: 33.33%;
    --card-secondary-overflow-square-width-mobile: 33.33%;
    --card-secondary-overflow-backdrop-width-mobile: 50%;

    /* Person Cards - Mobile */
    --card-person-height-mobile: 23vw;
    --card-person-scalable-width-mobile: calc(23vw - 1.75em);

    /* ListItem: Text Wrap - Mobile */
    --listitem-line-clamp-mobile: 3;
}

/*
===========================================================================
   Dynamic Card Size
===========================================================================
*/

@media(min-width: 30em) {
    :root {
        --card-backdrop-width-mobile: 33.33%;
        --card-overflow-backdrop-width-mobile: 33.33%;
    }
}
@media(min-width: 43.75em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-portrait-width: 25%;
        --card-square-width: 25%;
        --card-backdrop-width: 33.33%;

        /* Overflow Cards */
        --card-overflow-square-width: 25%;
        --card-overflow-backdrop-width: 33.33%;

        /* Person Cards */
        --card-person-height: 15.8vw;
        --card-person-scalable-width: calc(15.8vw - 1.75em);

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-square-width-tv: 25%;

        /* Overflow Cards - TV */
        --card-overflow-square-width-tv: 25%;

        /* Person Cards - TV */
        --card-person-height-tv: 18.55vw;
        --card-person-scalable-width-tv: calc(18.55vw - 1.75em);

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-portrait-width-mobile: 25%;
        --card-square-width-mobile: 25%;

        /* Overflow Cards - Mobile */
        --card-overflow-portrait-width-mobile: 25%;
        --card-overflow-square-width-mobile: 25%;

        /* Overflow Cards in Secondary Container - Mobile */
        --card-secondary-overflow-portrait-width-mobile: 25%;
        --card-secondary-overflow-square-width-mobile: 25%;
        --card-secondary-overflow-backdrop-width-mobile: 33.33%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 18.4vw;
        --card-person-scalable-width-mobile: calc(18.4vw - 1.75em);
    }
}
@media(min-width: 50em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-square-width: 20%;
        --card-backdrop-width: 20%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 25%;
        --card-overflow-square-width: 20%;

        /* Overflow Cards in Primary Container not containing a NextUp Section */
        --card-overflow-portrait-nextuphide-width: 33.33%;

        /* Person Cards */
        --card-person-height: 13.6vw;
        --card-person-scalable-width: calc(13.6vw - 1.75em);

        /* ListItem Text Wrap */
        --listitem-line-clamp: 5;

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-portrait-width-tv: 25%;
        /* --card-square-width-tv: 25%; */
        --card-backdrop-width-tv: 33.33%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 25%;
        --card-overflow-backdrop-width-tv: 33.33%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 25%;
        --card-secondary-overflow-square-width-tv: 20%;
        --card-secondary-overflow-backdrop-width-tv: 33.33%;

        /* Person Cards - TV */
        --card-person-height-tv: 15.5vw;
        --card-person-scalable-width-tv: calc(15.5vw - 1.75em);

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-portrait-width-mobile: 20%;
        --card-square-width-mobile: 20%;
        --card-backdrop-width-mobile: 25%;

        /* Overflow Cards - Mobile */
        --card-overflow-portrait-width-mobile: 20%;
        --card-overflow-square-width-mobile: 20%;
        --card-overflow-backdrop-width-mobile: 25%;

        /* Overflow Cards in Secondary Container - Mobile */
        --card-secondary-overflow-portrait-width-mobile: 20%;
        --card-secondary-overflow-square-width-mobile: 20%;
        --card-secondary-overflow-backdrop-width-mobile: 25%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 15.35vw;
        --card-person-scalable-width-mobile: calc(15.35vw - 1.75em);

        /* ListItem Text Wrap - Mobile */
        --listitem-line-clamp-mobile: 3;
    }
}
@media(min-width: 60em)  {
    :root {

        /* Person Cards */
        --card-person-height: 11.9vw;
        --card-person-scalable-width: calc(11.9vw - 1.75em);

        /* ListItem Text Wrap - Mobile */
        --listitem-line-clamp-mobile: 4;
    }
}
@media(min-width: 75em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-portrait-width: 16.66%;
        --card-square-width: 16.66%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 20%;
        --card-overflow-square-width: 16.66%;
        --card-overflow-backdrop-width: 25%;

        /* Overflow Cards in Primary Container not containing a NextUp Section */
        --card-overflow-portrait-nextuphide-width: 25%;

        /* Person Cards */
        --card-person-height: 10.6vw;
        --card-person-scalable-width: calc(10.6vw - 1.75em);

        /* ListItem Text Wrap */
        --listitem-line-clamp: 4;

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-portrait-width-tv: 20%;
        --card-square-width-tv: 20%;
        --card-backdrop-width-tv: 25%;

        /* Overflow Cards - TV */
        --card-overflow-square-width-tv: 20%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 20%;
        --card-secondary-overflow-square-width-tv: 16.66%;

        /* Person Cards - TV */
        --card-person-height-tv: 13.55vw;
        --card-person-scalable-width-tv: calc(13.55vw - 1.75em);

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-portrait-width-mobile: 16.66%;
        --card-square-width-mobile: 16.66%;
        --card-backdrop-width-mobile: 20%;

        /* Overflow Cards - Mobile */
        --card-overflow-backdrop-width-mobile: 20%;

        /* Overflow Cards in Secondary Container - Mobile */
        --card-secondary-overflow-portrait-width-mobile: 16.66%;
        --card-secondary-overflow-square-width-mobile: 16.66%;
        --card-secondary-overflow-backdrop-width-mobile: 20%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 13.15vw;
        --card-person-scalable-width-mobile: calc(13.15vw - 1.75em);
    }
}
@media(min-width: 87.5em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-portrait-width: 14.25%;
        --card-square-width: 14.25%;
        --card-backdrop-width: 20%;

        /* Overflow Cards */
        --card-overflow-square-width: 14.25%;

        /* Person Cards */
        --card-person-height: 9.55vw;
        --card-person-scalable-width: calc(9.55vw - 1.75em);

        /* ListItem Text Wrap */
        --listitem-line-clamp: 5;

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-square-width-tv: 16.66%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 20%;
        --card-overflow-square-width-tv: 16.66%;
        --card-overflow-backdrop-width-tv: 25%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-square-width-tv: 14.25%;
        --card-secondary-overflow-backdrop-width-tv: 33%;

        /* Person Cards - TV */
        --card-person-height-tv: 11.87vw;
        --card-person-scalable-width-tv: calc(11.87vw - 1.75em);

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Overflow Cards - Mobile */
        --card-overflow-portrait-width-mobile: 16.66%;
        --card-overflow-square-width-mobile: 16.66%;

        /* Overflow Cards in Secondary Container - Mobile */
        --card-secondary-overflow-portrait-width-mobile: 14.25%;
        --card-secondary-overflow-square-width-mobile: 14.25%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 10.225vw;
        --card-person-scalable-width-mobile: calc(10.225vw - 1.75em);

        /* ListItem Text Wrap - Mobile */
        --listitem-line-clamp-mobile: 5;
    }
}
@media(min-width: 100em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-square-width: 12.5%;

        /* Image Search Cards */
        --card-search-portrait-width: 20%;
        --card-search-square-width: 20%;
        --card-search-backdrop-width: 25%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 16.66%;
        --card-overflow-square-width: 12.5%;
        --card-overflow-backdrop-width: 20%;

        /* Person Cards */
        --card-person-height: 8.68vw;
        --card-person-scalable-width: calc(8.68vw - 1.75em);

        /* ListItem Text Wrap */
        --listitem-line-clamp: 6;

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-portrait-width-tv: 16.66%;
        --card-square-width-tv: 14.25%;
        --card-backdrop-width-tv: 20%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 16.66%;
        --card-overflow-square-width-tv: 14.25%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 16.66%;
        --card-secondary-overflow-square-width-tv: 12.5%;

        /* Person Cards - TV */
        --card-person-height-tv: 10.55vw;
        --card-person-scalable-width-tv: calc(10.55vw - 1.75em);

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-portrait-width-mobile: 14.25%;
        --card-square-width-mobile: 14.25%;
        --card-backdrop-width-mobile: 16.66%;

        /* Overflow Cards - Mobile */
        --card-overflow-portrait-width-mobile: 14.25%;
        --card-overflow-square-width-mobile: 14.25%;
        --card-overflow-backdrop-width-mobile: 16.66%;

        /* Overflow Cards in Secondary Container - Mobile */
        --card-secondary-overflow-portrait-width-mobile: 12.5%;
        --card-secondary-overflow-square-width-mobile: 12.5%;
        --card-secondary-overflow-backdrop-width-mobile: 16.66%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 9.195vw;
        --card-person-scalable-width-mobile: calc(9.195vw - 1.75em);

        /* ListItem Text Wrap - Mobile */
        --listitem-line-clamp-mobile: 6;
    }
}
@media(min-width: 120em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-portrait-width: 12.5%;
        --card-backdrop-width: 16.66%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 14.25%;
        --card-overflow-square-width: 11.1%;
        --card-overflow-backdrop-width: 20%;

        /* Overflow Cards in Primary Container not containing a NextUp Section */
        --card-overflow-portrait-nextuphide-width: 20%;

        /* Person Cards */
        --card-person-height: 7.95vw;
        --card-person-scalable-width: calc(7.95vw - 1.75em);

        /* ListItem Text Wrap */
        --listitem-line-clamp: 7;

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-portrait-width-tv: 14.25%;
        --card-square-width-tv: 12.5%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 14.25%;
        --card-overflow-square-width-tv: 12.5%;
        --card-overflow-backdrop-width-tv: 20%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 14.25%;
        --card-secondary-overflow-square-width-tv: 11.1%;
        --card-secondary-overflow-backdrop-width-tv: 20%;

        /* Person Cards - TV */
        --card-person-height-tv: 9.5vw;
        --card-person-scalable-width-tv: calc(9.5vw - 1.75em);

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-portrait-width-mobile: 12.5%;
        --card-square-width-mobile: 12.5%;
        /* --card-backdrop-width-mobile: 16.66%; */

        /* Overflow Cards - Mobile */
        --card-overflow-backdrop-width-mobile: 14.25%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 8.36vw;
        --card-person-scalable-width-mobile: calc(8.36vw - 1.75em);

        /* ListItem Text Wrap - Mobile */
        --listitem-line-clamp-mobile: 7;
    }
}
@media(min-width: 135em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-portrait-width: 11.1%;
        --card-square-width: 11.1%;

        /* Image Search Cards */
        --card-search-portrait-width: 16.66%;
        --card-search-square-width: 16.66%;
        --card-search-backdrop-width: 20%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 12.5%;
        --card-overflow-backdrop-width: 20%;

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-backdrop-width-tv: 16.66%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-square-width-tv: 10%;

        /* ListItem Text Wrap - TV*/
        --listitem-line-clamp-tv: 7;

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-portrait-width-mobile: 11.1%;
        --card-square-width-mobile: 11.1%;
        --card-backdrop-width-mobile: 14.25%;

        /* Overflow Cards - Mobile */
        --card-overflow-portrait-width-mobile: 12.5%;
        --card-overflow-square-width-mobile: 12.5%;

        /* Overflow Cards in Secondary Container - Mobile */
        --card-secondary-overflow-portrait-width-mobile: 11.1%;
        --card-secondary-overflow-square-width-mobile: 11.1%;
    }
}
@media(min-width: 150em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-portrait-width: 10%;
        --card-square-width: 10%;
        --card-backdrop-width: 14.25%;

        /* Image Search Cards */
        --card-search-portrait-width: 14.25%;
        --card-search-square-width: 14.25%;
        --card-search-backdrop-width: 16.66%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 11.1%;
        --card-overflow-square-width: 10%;
        --card-overflow-backdrop-width: 16.66%;

        /* Overflow Cards in Primary Container not containing a NextUp Section */
        --card-overflow-portrait-nextuphide-width: 16.66%;

        /* Person Cards */
        --card-person-height: 7.35vw;
        --card-person-scalable-width: calc(7.35vw - 1.75em);

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-portrait-width-tv: 12.5%;
        --card-square-width-tv: 11.1%;
        --card-backdrop-width-tv: 14.25%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 12.5%;
        --card-overflow-square-width-tv: 11.1%;
        --card-overflow-backdrop-width-tv: 16.66%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 12.5%;
        --card-secondary-overflow-square-width-tv: 9.09%;
        --card-secondary-overflow-backdrop-width-tv: 16.66%;

        /* Person Cards - TV */
        --card-person-height-tv: 7.31vw;
        --card-person-scalable-width-tv: calc(7.31vw - 1.75em);

        /* ListItem Text Wrap - TV */
        --listitem-line-clamp-tv: 8;

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-portrait-width-mobile: 10%;
        --card-square-width-mobile: 10%;
        --card-backdrop-width-mobile: 12.5%;

        /* Overflow Cards - Mobile */
        --card-overflow-portrait-width-mobile: 11.1%;
        --card-overflow-square-width-mobile: 11.1%;
        --card-overflow-backdrop-width-mobile: 12.5%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 7.075vw;
        --card-person-scalable-width-mobile: calc(7.075vw - 1.75em);
    }
}
@media(min-width: 175em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-portrait-width: 9.09%;
        --card-square-width: 9.09%;
        --card-backdrop-width: 12.5%;

        /* Image Search Cards */
        --card-search-portrait-width: 12.5%;
        --card-search-square-width: 12.5%;
        --card-search-backdrop-width: 14.25%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 10%;
        --card-overflow-square-width: 9.15%;
        --card-overflow-backdrop-width: 14.25%;

        /* Overflow Cards in Primary Container not containing a NextUp Section */
        --card-overflow-portrait-nextuphide-width: 14.25%;

        /* Person Cards */
        --card-person-height: 6.38vw;
        --card-person-scalable-width: calc(6.38vw - 1.75em);

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-portrait-width-tv: 11.1%;
        --card-square-width-tv: 10%;
        --card-backdrop-width-tv: 12.5%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 11.1%;
        --card-overflow-square-width-tv: 10%;
        --card-overflow-backdrop-width-tv: 14.25%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 11.1%;
        --card-secondary-overflow-square-width-tv: 8.33%;
        --card-secondary-overflow-backdrop-width-tv: 14.25%;

        /* Person Cards - TV */
        --card-person-height-tv: 6.785vw;
        --card-person-scalable-width-tv: calc(6.785vw - 1.75em);

        /* Layout Mobile
        --------------------------------------------------------------------------*/

        /* Cards - Mobile */
        --card-backdrop-width-mobile: 11.1%;

        /* Overflow Cards - Mobile */
        --card-overflow-backdrop-width-mobile: 11.1%;

        /* Overflow Cards in Secondary Container - Mobile */
        --card-secondary-overflow-portrait-width-mobile: 10%;
        --card-secondary-overflow-square-width-mobile: 10%;
        --card-secondary-overflow-backdrop-width-mobile: 14.25%;

        /* Person Cards - Mobile */
        --card-person-height-mobile: 6.135vw;
        --card-person-scalable-width-mobile: calc(6.135vw - 1.75em);

        /* ListItem Text Wrap - TV */
        --listitem-line-clamp-tv: 9;
    }

    /* Poster Cards - TV */
    .layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage) .portraitCard {
        left: 3%;
    }
}
@media(min-width: 200em) {
    :root {
        /* Layout Desktop (Default)
        --------------------------------------------------------------------------*/

        /* Cards */
        --card-backdrop-width: 11.11%;

        /* Image Search Cards */
        --card-search-backdrop-width: 12.5%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 9.09%;

        /* Layout TV
        --------------------------------------------------------------------------*/

        /* Cards - TV */
        --card-portrait-width-tv: 10%;
        --card-square-width-tv: 9.09%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 10%;
        --card-overflow-square-width-tv: 9.09%;
        --card-overflow-backdrop-width-tv: 12.5%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 10%;
        --card-secondary-overflow-square-width-tv: 8.33%;
        --card-secondary-overflow-backdrop-width-tv: 12.5%;

        /* Person Cards - TV */
        --card-person-height-tv: 6.335vw;
        --card-person-scalable-width-tv: calc(6.335vw - 1.75em);

        /* ListItem Text Wrap - TV */
        --listitem-line-clamp-tv: 10;
    }
    
    /* Poster Cards */
    .layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage)
    .layout-tv .detailImageContainer > .portraitCard {
        left: 4%;
    }
}

/*
===========================================================================
   Card Width Assignments using CSS Custom Properties
===========================================================================
*/

/* Default Cards */
.itemsContainer > .portraitCard { width: var(--card-portrait-width); }
.itemsContainer > .squareCard { width: var(--card-square-width); }
.itemsContainer > .backdropCard { width: var(--card-backdrop-width); }

/* Default Cards - TV */
.layout-tv .itemsContainer-tv > .portraitCard { width: var(--card-portrait-width-tv); }
.layout-tv .itemsContainer-tv > .squareCard { width: var(--card-square-width-tv); }
.layout-tv .itemsContainer-tv > .backdropCard { width: var(--card-backdrop-width-tv); }

/* Default Cards - Mobile */
.layout-mobile .itemsContainer > .portraitCard { width: var(--card-portrait-width-mobile); }
.layout-mobile .itemsContainer > .squareCard { width: var(--card-square-width-mobile); }
.layout-mobile .itemsContainer > .backdropCard { width: var(--card-backdrop-width-mobile); }

/* Image Search Cards - Desktop */
.layout-desktop .dialogContainer .portraitCard { width: var(--card-search-portrait-width); }
.layout-desktop .dialogContainer .squareCard { width: var(--card-search-square-width); }
.layout-desktop .dialogContainer .backdropCard { width: var(--card-search-backdrop-width);}

/* Default Overflow Cards */
.itemsContainer > .overflowPortraitCard { width: var(--card-overflow-portrait-width); }
.itemsContainer > .overflowSquareCard { width: var(--card-overflow-square-width); }
.itemsContainer > .overflowBackdropCard { width: var(--card-overflow-backdrop-width); }

/* Default Overflow Cards - TV */
.layout-tv .itemsContainer-tv > .overflowPortraitCard { width: var(--card-overflow-portrait-width-tv); }
.layout-tv .itemsContainer-tv > .overflowSquareCard { width: var(--card-overflow-square-width-tv); }
.layout-tv .itemsContainer-tv > .overflowBackdropCard { width: var(--card-overflow-backdrop-width-tv); }

/* Mobile - Overflow Cards */
.layout-mobile .itemsContainer > .overflowPortraitCard { width: var(--card-overflow-portrait-width-mobile); }
.layout-mobile .itemsContainer > .overflowSquareCard { width: var(--card-overflow-square-width-mobile); }
.layout-mobile .itemsContainer > .overflowBackdropCard { width: var(--card-overflow-backdrop-width-mobile); }

/* Overflow Cards in Primary Container not containing a NextUp Section */
.detailPagePrimaryContainer:has(.nextUpSection.hide) .itemsContainer > .overflowPortraitCard { width: var(--card-overflow-portrait-nextuphide-width); }
.detailPagePrimaryContainer:has(.nextUpSection.hide) .itemsContainer > .overflowSquareCard { width: var(--card-overflow-square-nextuphide-width); }
.detailPagePrimaryContainer:has(.nextUpSection.hide) .itemsContainer > .overflowBackdropCard { width: var(--card-overflow-backdrop-nextuphide-width); }

/* Overflow Cards in Secondary Container - TV */
.layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard { width: var(--card-secondary-overflow-portrait-width-tv); }
.layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard { width: var(--card-secondary-overflow-square-width-tv); }
.layout-tv .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard { width: var(--card-secondary-overflow-backdrop-width-tv); }

/* Overflow Cards in Secondary Container - Mobile */
.layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard { width: var(--card-secondary-overflow-portrait-width-mobile); }
.layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowSquareCard { width: var(--card-secondary-overflow-square-width-mobile); }
.layout-mobile .detailPageSecondaryContainer .itemsContainer > .overflowBackdropCard { width: var(--card-secondary-overflow-backdrop-width-mobile); }

/* Person Cards */
.itemsContainer > .overflowPortraitCard.personCard { width: var(--card-person-height); }
.itemsContainer > .overflowPortraitCard.personCard .cardScalable {
    width: var(--card-person-scalable-width) !important;
    height: var(--card-person-height) !important;
}

/* Person Cards - TV */
.layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard { width: var(--card-person-height-tv); }
.layout-tv .itemsContainer-tv > .overflowPortraitCard.personCard .cardScalable {
    width: var(--card-person-scalable-width-tv) !important;
    height: var(--card-person-height-tv) !important;
}

/* Person Cards - Mobile */
.layout-mobile .itemsContainer > .overflowPortraitCard.personCard { width: var(--card-person-height-mobile); }
.layout-mobile .itemsContainer > .overflowPortraitCard.personCard .cardScalable {
    width: var(--card-person-scalable-width-mobile) !important;
    height: var(--card-person-height-mobile) !important;
}

/* ListItem: Text Wrap */
.layout-desktop .listItem-overview {
    line-clamp: var(--listitem-line-clamp);
    -webkit-line-clamp: var(--listitem-line-clamp);
}
.layout-mobile .listItem-overview {
    line-clamp: var(--listitem-line-clamp-mobile);
    -webkit-line-clamp: var(--listitem-line-clamp-mobile);
}
.layout-tv .listItem-overview {
    line-clamp: var(--listitem-line-clamp-tv);
    -webkit-line-clamp: var(--listitem-line-clamp-tv);
}
