/*
────────────────────────────────────────────────────────────────────────────
   Cards
──────────────────────────────────────────────────────────────────────────── */

/* Person Cards */
.overflowPortraitCard.personCard            { font-size: 90% !important }
.overflowPortraitCard.personCard > .cardBox { text-align: center; text-align: -webkit-center; }

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {
    /* NextUp Card */
    .detailPagePrimaryContent .nextUpSection .itemsContainer > .overflowBackdropCard {
        max-width: 40em;
        min-width: 18em;
    }
}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {
    /* Media Poster */
    .detailImageContainer .card {
        float: left;
        position: sticky;
        margin-top: 1em;
        width: 25.5vw;
        max-width: 25.5vw;
        left: 1vw;
    }
    .detailImageContainer .portraitCard { max-height: 78vh; }
    .detailImageContainer .squareCard   { margin-left: 0; }

    /* NextUp Card */
    .detailPagePrimaryContent .nextUpSection .itemsContainer > .overflowBackdropCard {
        max-width: 30em;
        min-width: 18em;
    }
}

/* ─ Layout Mobile ───────────────────────────────────────────────────────── */
.layout-mobile {
    /* NextUp Card */
    .detailPagePrimaryContent .nextUpSection .itemsContainer > .overflowBackdropCard {
        max-width: 38em;
        min-width: 18em;
    }
} 

/*
────────────────────────────────────────────────────────────────────────────
   List Items
──────────────────────────────────────────────────────────────────────────── */

/* Hide Image on small screens */
@media (max-width: 40em) {
    [data-type=Movie] .listItemImage,
    [data-type=Series] .listItemImage { display: flex; }
}
@media (max-width: 30em) {
    [data-type=Movie] .listItemImage,
    [data-type=Series] .listItemImage { display: none; }
}

/* Text of ListItems */
.listItem-overview {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {
    /* List Item (Desktop) */
    .itemsContainer > .listItem-border {
        border: solid 2px hsl(0deg 0% 100% / 20%) !important;
        border-radius: var(--rounding-media) !important;
        padding-right: 0 !important;
        margin-bottom: .5em !important;
        background-color: var(--bgdark60) !important;
    }
    .itemsContainer > .listItem-border:hover {
        border: 2px solid var(--accent40) !important;
        color: inherit !important;
    }
    .itemsContainer > .listItem-border:hover .listItemBodyText:not(.secondary) { color: var(--accent100) !important; }

    /* List Item: Content (Desktop) */
    .itemsContainer > .listItem-border .listItemImage {
        transform: scale(1.3);
        border-right: var(--buttonborder);
    }
    .itemsContainer > .listItem-border .listItemBody { padding-left: 2%; }
    .itemsContainer > .listItem-border .listItemBodyText { font-weight: 600; }
}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {
    
    /* List Item (TV) */
    .libraryPage .listItem-button:not(.listItem-largeImage) {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 0;
        padding-right: 1em;
        margin-bottom: 1em;
        margin-left: 1%;
        height: 6em;
    }

    /* List Item: Content (TV) */
    .libraryPage .listItem-button:not(.listItem-largeImage) .listItemImage { border-right: var(--buttonborder); }
}

/* ─ Layout Mobile ───────────────────────────────────────────────────────── */
.layout-mobile {
    /* List Item: Content */
    .itemsContainer .listItemBodyText {
        justify-content: center;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        max-height: 3em;
    }

    /* List Item: Content Secondary Text */
    .itemsContainer .listItemBodyText.secondary {
        justify-content: center;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        /* max-height: 1.6em; */
    }

    /* List Item: Overview */
    .itemsContainer .listItem-overview   { padding-top: 0; }
    .itemsContainer .listItem-overview p { margin-top: .5em; }
}

/*
────────────────────────────────────────────────────────────────────────────
   Large Image List Items
──────────────────────────────────────────────────────────────────────────── */

/* Large Image List Item */
.listItem.listItem-largeImage {
    margin-bottom: 1em;
    padding: 0;
    transform: none !important;
    background: var(--bgdark40) !important;
    backdrop-filter: var(--blur)
}

/* Large Image List Item: Align Body */
.listItem.listItem-largeImage .listItemBody {
    align-self: auto;
    margin: .5em;
    margin-right: 1.25em;
    padding: 0;
}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {
    /* Large Image List Item (TV) */
    .listItemImage-large-tv {
        max-height: 20em;
        min-height: 14em;
        width: 33% !important;
        height: 33% !important;
    }

    /* Large Image List Item: Overview Text (TV) */
    .listItem-overview {
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    /* Large Image List Item: Positioning on small screens (TV) */
    @media (max-width: 64em) {
        .listItemImage-large { margin-right: .5em !important; }
        .listItemImageButton,
        .listItemIndicators  { font-size: .6em !important; }
        .listItemBody        { padding-left: .5em; }
        h2.listItemBodyText  { font-size: 1.2em !important; }
    }
}

/* ─ Layout Mobile ───────────────────────────────────────────────────────── */
.layout-mobile {
    .listItem.listItem-largeImage { margin-right: 0; }
    .vertical-list .listItem-border {
        border: var(--buttonborder) !important;
        border-radius: var(--rounding-media) !important;
        background: var(--bgdark40) !important;
        height: 5.2em;
        backdrop-filter: var(--blur);
    }

    /* Content */
    .detailPageWrapperContainer .listItem-content {
        background: var(--bgdark40) !important;
        align-content: center;
    }
    @media(max-width: 50em) {
        .detailPageWrapperContainer .listItem-content {
            border-bottom: solid 2px hsl(0deg 0% 100% / 20%) !important;
        }
    }
    .detailPageWrapperContainer .listItem-bottomoverview { margin: .5em; }

    /* Center Text */
    .detailPageWrapperContainer .listItemBody { text-align: center; }
    .vertical-list .listItem-border .listItemBody {
        padding-left: 2em;
        padding-top: .3em;
        height: 4.2em;
    }

    /* Poster Image */
    .vertical-list .listItem-border .listItemImage {
        transform: scale(1.6);
        margin-left: -.2em;
        /* border-right: var(--buttonborder); */
    }
    .listItemImage-large { border-right: var(--buttonborder); }

    /* Buttons */
    .listItem-largeImage .listItemImageButton { border-radius: var(--rounding-system) !important; }
}

/*
────────────────────────────────────────────────────────────────────────────
   Card Animation
──────────────────────────────────────────────────────────────────────────── */

/* Card Shadows */
.cardScalable                                           { box-shadow: var(--cardshadow); }

/* Shadow for cardBox if footer present */
.cardBox:has(> .cardFooter)                             { box-shadow: var(--cardshadow); }

/* Inset Shadow for Cards (smoothening) */
.libraryPage .cardImageContainer                        { box-shadow: var(--insettop), var(--insetbottom); }

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {

    /* Scale Cardtext on Hover */
    .bannerCard:hover > .cardText,
    .itemsContainer > .card:hover .cardText                  { transform: scale(1.1); }
    .itemsContainer > .card:hover:has(.cardFooter) .cardText { transform: scale(1); }

    /* Card Glow */
    .card:hover .cardScalable,
    .card:hover .cardBox:has(> .cardFooter) { box-shadow: var(--cardglow) }
}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {

    /* Zoom Card on focus */
    .card.show-animation:focus .cardBox { transform: scale(1.1); }

    /* Bold Text on focus */
    .card.show-animation:focus .cardText-first,
    .card.show-animation:focus .cardText-secondary,
    .itemsContainer-tv .listItem:focus .listItemBodyText:not(.secondary) { font-weight: 600; }

    /* Card Glow */
    .card:hover .cardScalable,
    .card:hover .cardBox:has(> .cardFooter)      { box-shadow: var(--cardglow) !important; }

    .card:focus .cardScalable,
    .card:focus .cardBox:has(> .cardFooter)      { box-shadow: var(--cardglow-focus) !important; }
    /* No shadows / No Glow */
    .cardBox:has(> .cardFooter) > .cardScalable  { box-shadow: none !important; }
}

/*
────────────────────────────────────────────────────────────────────────────
   No Animations
──────────────────────────────────────────────────────────────────────────── */

/* No shadows / No Glow */
.cardBox:has(> .cardFooter) > .cardScalable,
.dialogContentInner .imageEditorCard .cardBox,
.detailImageContainer .card:hover .cardScalable         { box-shadow: none !important; }

/*
────────────────────────────────────────────────────────────────────────────
   Card Border Roundings
──────────────────────────────────────────────────────────────────────────── */

/* CardImage BottomBorder stays flat if card coontains a footer */
.visualCardBox:has(.cardFooter) .blurhash-canvas,
.visualCardBox:has(.cardFooter) .cardContent,
.visualCardBox:has(.cardFooter) .cardImage,
.visualCardBox:has(.cardFooter) .cardPadder-portrait,
.visualCardBox:has(.cardFooter) .coveredImage,
.visualCardBox:has(.cardFooter) .cardImageContainer,
.visualCardBox:has(.cardFooter) .cardOverlayContainer {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* But not for Cards beeing displayed in the ImageEditor */
/* > TODO: Move to a new or existing block */
#images .visualCardBox .cardContent,
#backdrops .visualCardBox .cardContent {
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
}

/* Footer itself gets a flat top */
.cardFooter:not(.visualCardBox-cardFooter) {
    border-bottom-left-radius: var(--rounding-media) !important;
    border-bottom-right-radius: var(--rounding-media) !important;
    text-align: center;
}

/*
────────────────────────────────────────────────────────────────────────────
   CardBoxes
──────────────────────────────────────────────────────────────────────────── */

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {
    
    /* CardBoxes in General */
    .itemsContainer > .card > .cardBox                                      {margin: 1em 7% !important;}
    .itemsContainer > .card.backdropCard > .cardBox                         {margin: 1.2em 7% !important;}
    .itemsContainer > .card.portraitCard > .cardBox                         {margin: 1.2em 9% !important;}
    .itemsContainer > .card.overflowBackdropCard > .cardBox                 {margin: 1.5em 6% !important;}
    .itemsContainer > .card.overflowPortraitCard > .cardBox                 {margin: 1.2em 8% !important;}

    .itemsContainer > .card.overflowPortraitCard.personCard > .cardBox      {margin: 1.5em 6% !important;}
    
    /* CardBoxes in BannerCards */
    .itemsContainer > .bannerCard > .cardBox                                { margin: 1em !important; }

    /* CardBoxes in Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard > .cardBox           { margin: 1.5em 0 !important; }

    /* CardBoxes in OverflowPortraitCards residing in a SecondaryContainer */
    .detailPageSecondaryContainer .overflowPortraitCard .cardBox            { margin: 2em 1em !important; }
    .detailPageSecondaryContainer .overflowPortraitCard.personCard .cardBox {margin: 1.5em 8% !important;}
}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv  {
    /* CardBoxes in General */
    .itemsContainer > .backdropCard > .cardBox                    { margin: 1.4em 7% 0.8em 7% !important;}
    .itemsContainer > .portraitCard > .cardBox                    { margin: 2.0em 9% 1.6em 9% !important; }
    .itemsContainer > .squareCard > .cardBox                      { margin: 1.4em 8% 0.8em 8% !important; }

    /* CardBoxes in OverflowCards */
    .itemsContainer > .overflowBackdropCard > .cardBox            { margin: 1.8em 7% 1.4em 7% !important; }
    .itemsContainer > .overflowPortraitCard > .cardBox            { margin: 2.0em 8% 1.6em 8% !important; }
    .itemsContainer > .overflowSquareCard > .cardBox              { margin: 1.8em 8% 1.4em 8% !important; }

    /* CardBoxes in PersonCards */
    .itemsContainer > .overflowPortraitCard.personCard > .cardBox { margin: 1.5em 0 !important; }

    /* CardBoxes in BannerCards */
    .itemsContainer > .bannerCard > .cardBox                      { margin: 1vw 1.2vw !important; }

    /* CardBoxes in OverflowCards residing in a PrimaryContainer */
    .detailPagePrimaryContent .itemsContainer > .overflowPortraitCard > .cardBox,
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard > .cardBox { margin: 2.2em 1.2em 1.8em 1.2em !important; }
    .detailPageSecondaryContainer .itemsContainer > .overflowPortraitCard.personCard > .cardBox { margin: 1.8em 0 1.6em 0 !important; }

    /* CardBoxes in Nextup Cards */
    .nextUpSection .itemsContainer > .overflowBackdropCard > .cardBox { margin: 2em 1em 1.5em 2.5em !important; }
}

/* ─ Layout Mobile ───────────────────────────────────────────────────────── */
.layout-mobile {
    
    /* CardBoxes in General */
    .itemsContainer .card > .cardBox {
        margin-top: 1.25em;
        margin-bottom: .75em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .itemsContainer .card.portraitCard > .cardBox {
        /* margin-top: 1.25em !important; */
        margin-bottom: 1em;
        /* margin-left: 1em; */
        /* margin-right: 1em; */
    }

    .itemsContainer .card.backdropCard > .cardBox {
        margin-top: 1em;
        margin-bottom: .5em;
        /* margin-left: 1em; */
        /* margin-right: 1em; */
    }

    .itemsContainer .card.overflowPortraitCard > .cardBox {
        /* margin-top: 1.25em !important; */
        /* margin-bottom: .75em !important; */
        /* margin-left: 1em; */
        /* margin-right: 1em; */
    }
    
    .itemsContainer .card.overflowBackdropCard > .cardBox {
        /* margin-top: 1.25em !important; */
        margin-bottom: .75em !important;
        /* margin-left: 1em; */
        /* margin-right: 1em; */
    }
    
    .itemsContainer .card.personCard > .cardBox {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: .5em;
        margin-top: .75em;
    }
    
}

/*
────────────────────────────────────────────────────────────────────────────
   Cards: Text & Buttons
──────────────────────────────────────────────────────────────────────────── */
/* > needs plugin "home section containers" */

/* Hide Series Title in Recent & NextUp Section */
.ContinueWatching .card[data-type="Episode"] .cardText-first,
.NextUp .card[data-type="Episode"] .cardText-first { 
    display: none;
}

/* Secondary Text in Recent & NextUp Section */
.ContinueWatching .card[data-type="Episode"] .cardText-secondary,
.NextUp .card[data-type="Episode"] .cardText-secondary {
    font-size: 100% !important;
    padding-top: .5em !important;
    color: inherit;
}

/* Recent & NextUp: Hide Movie Year */
.ContinueWatching .card[data-type="Movie"] .cardText-secondary,
.NextUp .card[data-type="Movie"] .cardText-secondary { display: none; }

/* Card Text First: Spacing with and without card footer */
.cardText-first { padding-top: .5em !important; }
.cardFooter > .cardText.cardText-first { padding-top: .25em !important; }

/* Card Text Secondary: Font size */
.cardText.cardText-secondary { font-size: 75% !important; }

/* Links / Action-Text in card footer */
.textActionButton { text-decoration: none !important; }

/* ─ Layout Mobile ───────────────────────────────────────────────────────── */
.layout-mobile {
    /* Card Action-Button*/
    .cardFooter .itemAction {
        margin-bottom: 4.4em !important;
        margin-right: .25em !important;
    }
    .itemAction > .material-icons { color: white; }
}

/*
────────────────────────────────────────────────────────────────────────────
   Indicators & Progressbar
──────────────────────────────────────────────────────────────────────────── */

/* Indicator Alignment */
.cardContent .cardIndicators,
.mediaSourceIndicator { right: 0.5em !important; top: 0.5em !important; }

/* Count & Played Indicators */
.countIndicator,
.mediaSourceIndicator,
.playedIndicator      { background: rgba(0, 0, 0, 1); }
.countIndicator,
.mediaSourceIndicator { font-weight: 600; font-size: 89%; }

/* Missing & Unaired Indicators */
.missingIndicator,
.unairedIndicator {
    color: #fff;
    background: #ae3030eb;
    padding: .3em .6em;
}

/* Progressbar on Cards */
.itemProgressBar {
    height: .4em !important;
    margin: .5em .8em !important;
    backdrop-filter: blur(6px);
}
.itemProgressBarForeground { background-color: var(--accent100) !important }

/* List Items Indicator */
.listItemIndicators {
    position: fixed;
    left: 0.75em;
    top: 0.75em;
}

/* ─ Layout Mobile ───────────────────────────────────────────────────────── */
.layout-mobile {
    .listItemImage-large .listItemIndicators {
        left: 0.5em;
        top: 0.5em;
        font-size: .75em !important
    }
    .listItem-border .listItemIndicators { display: none; }
} 

/*
────────────────────────────────────────────────────────────────────────────
   List Item
──────────────────────────────────────────────────────────────────────────── */

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {

    .libraryPage .listItem-button:not(.listItem-largeImage)                          { width: 98%; }
    .libraryPage .listItem-button:focus:not(.listItem-largeImage)                    { width: 98%; }

    /* Image */
    .libraryPage .listItem-button:not(.listItem-largeImage) .listItemImage           { width: 14%; height: 6em; }

    /* Image Focus */
    .libraryPage .listItem-button:focus:not(.listItem-largeImage) .listItemImage     { width: 15%; }

    /* Rating */
    .libraryPage .listItem-button:not(.listItem-largeImage) .listItemMediaInfo       { width: 20%; justify-content: end; }
    #episodesTab .listItem-button:not(.listItem-largeImage) .listItemMediaInfo       { width: auto; }
    #episodesTab .listItem-button:focus:not(.listItem-largeImage) .listItemMediaInfo { width: auto; }
}
