/*
===========================================================================
   Variables
===========================================================================
*/

:root {

    /* Accents */
    --accent100: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
    --accent80: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.8);
    --accent60: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.6);
    --accent40: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.4);
    --accent20: hsla(var(--accent-h),var(--accent-s),var(--accent-l), 0.2);

    /* Backgrounds */
    --bgwhite10: hsl(0deg 0% 100% / 10%);
    --bgdark20: rgba(0, 0, 0, 0.2);
    --bgdark40: rgba(0, 0, 0, 0.4);
    --bgdark60: rgba(0, 0, 0, 0.6);
    --bgdark80: rgba(0, 0, 0, 0.8);

    /* Border */
    --buttonborder: solid 2px hsl(0deg 0% 100% / 20%);

    /* Card Shadow */
    --cardshadow: 3px 3px 8px 2px rgb(0 0 0 / 40%);
    --itemshadow: 3px 3px 8px 2px rgb(0 0 0 / 40%);

    /* Card Smoothening */
    --insettop: inset -1px 3px 14px 0px rgb(255 255 255 / 10%);
    --insetbottom: inset -3px -3px 14px 0px rgb(0 0 0 / 40%);

    /* Glow */
    --cardglow: 0px 0px 10px 3px var(--accent80);
    --buttonglow: 0px 0px 10px 1px var(--accent100);

    /* Text Shadow */
    --textshadow: 2px 2px 4px black;

    /* Item Background */
    --itembg: rgba(0, 0, 0, 0.6);
}

/*
============================================================================
   Wallpaper
============================================================================
*/

/* Background Image: If Backdrops disabled */
.backgroundContainer {
    background:
        linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)),
        var(--bgImage) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Darken Background with Backdrops enables */
.backgroundContainer.withBackdrop,
.noBackdropTransparency .detailPagePrimaryContainer, 
.noBackdropTransparency .detailPageSecondaryContainer {
    background: rgba(0, 0, 0, var(--bgdarkness)) !important;
}

/* Background Image on Homepage */
.backgroundContainer.withBackdrop:has(~ .mainAnimatedPages > .homePage:not(.hide)) {
    background:
        linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 70%)),
        var(--bgImage) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/*
============================================================================
   Colors
============================================================================
*/

/* Color: Accent 80% */
#loginPage .cardImage,
.actionSheetMenuItem:hover,
.button-link:hover,
.emby-collapsible-button:hover,
.emby-textarea:hover + .textareaLabel,
.emby-checkbox:hover + .checkboxLabel,
.detailButton:focus,
.listTextButton-autohide:hover,
.mdl-radio__button:hover + .mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio__button:hover + .mdl-radio__circles .mdl-radio__outer-circle,
.mdl-radio__button:hover + .mdl-radio__circles + .mdl-radio__label,
.radio-label-block:hover,
.Mui-selected,
.navMenuOption-selected,
.radio-label-block:hover,
.overview-expand:hover {
    color: var(--accent80) !important;
}

/* Color: Accent 100% */
.cardOverlayButton:hover,
.detailButton:hover,
.layout-desktop .emby-button:hover,
.layout-tv .emby-button:hover,
.layout-tv .emby-button:focus,
.emby-checkbox:focus + .checkboxLabel,
.favorite-button:hover,
.favorite-button.favorited,
.inputLabelFocused,
.listItem-border:hover,
.listItem-border:focus,
.listItem-button:focus h2.listItemBodyText,
.listItemIcon.check,
.listTextButton-autohide:focus,
.mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__outer-circle, 
.mdl-radio__button[checked] + .mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio__button[checked] + .mdl-radio__circles .mdl-radio__outer-circle, 
.mdl-slider,
.paper-icon-button-light:not(:disabled):hover,
.paper-icon-button-light:focus,
.playedIndicator,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.selectLabelFocused,
.subtitleSyncSliderContainer .sliderBubbleText,
.syncPlayIconCircle,
.textareaLabelFocused,
.upNextDialog-countdownText {
    color: var(--accent100) !important;
}

/* Color: White */
.layout-mobile .overview-expand:focus {
    color: white !important;
}

/* Font Weight */
.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused,
.emby-checkbox:focus + .checkboxLabel {
    font-weight: 500;
}

/* Active 
--------------------------------------------------------------------------*/

/* Active: Accent 100% */
.header-right .headerButton:active,
.paper-icon-button-light:active {
    color: var(--accent100) !important;
}

/* Active: White */
.emby-tab-button-active {
    color: white !important;
}

/*
============================================================================
   Backgrounds
============================================================================
*/

/* Background: Black 85%  */
.dialog {
    background: rgba(0, 0, 0, .95) !important;
}

/* Background: --headeropacity */
.formDialogHeader,
.formDialogFooter,
.mainDrawer,
.selectionCommandsPanel,
.skinHeader-withBackground,
.subtitleSyncContainer,
.subtitleSyncSliderContainer .sliderBubble,
.videoOsdBottom {
    background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Background: --itemopacity */
.cardFooter:not(.visualCardBox-cardFooter),
.layout-desktop .detailRibbon,
.layout-mobile .detailRibbon {
    background: rgba(0, 0, 0, var(--itemopacity)) !important;
}

/* Card defaults */
.defaultCardBackground1 {
    background: hsl(var(--accent-h), var(--accent-s), 17%);
}
.defaultCardBackground2 {
    background: hsl(var(--accent-h), var(--accent-s), 16%);
}
.defaultCardBackground3 {
    background: hsl(var(--accent-h), var(--accent-s), 15%);
}
.defaultCardBackground4 {
    background: hsl(var(--accent-h), var(--accent-s), 14%);
}
.defaultCardBackground5 {
    background: hsl(var(--accent-h), var(--accent-s), 13%);
}

/*
============================================================================
   Background Colors
============================================================================
*/

/* Background Color: Light 10% */
#loginPage .cardImage,
#searchPage .sectionTitle,
#controlsPreferencesPage .sectionTitle,
.homeScreenSettingsContainer .sectionTitle,
.settingsContainer .sectionTitle,
.verticalSection > .sectionTitle-cards,
.verticalSection > .sectionTitleContainer-cards {
    background-color: var(--bgwhite10);
}

/* Background Color: Dark 20% */
.button-submit:hover,
.detail-button,
.emby-button.block:hover,
.favorite-button,
.itemsContainer > .listItem-focusscale,
.play-button,
.raised:hover {
    background-color: var(--bgdark20) !important;
}

/* Background Color: Dark 40% */
#loginPage .padded-left.padded-right.padded-bottom-page,
.button-submit,
.cardOverlayButton.cardOverlayFab-primary:hover,
.checkboxOutline,
.detailButton:hover,
.emby-button.block,
.emby-button:focus,
.emby-input,
.emby-textarea,
.emby-select,
.itemProgressBar,
.itemsViewSettingsContainer,
.listItem-largeImage:hover,
.paperList,
.pageTabContent > .focuscontainer-x,
.searchSuggestionsList > div:hover,
.searchSuggestionsList > div:has(.emby-button:focus),
.upNextDialog-button:hover {
    background-color: var(--bgdark40) !important;
}

/* Background Color: Dark 60% */
.button-submit:hover,
.button-submit:focus,
.detail-button:hover,
.checkboxOutline:not(:disabled):hover,
.emby-button.block:hover,
.emby-button.block:focus,
.emby-input:not(:disabled):hover,
.emby-select-withcolor:not(:disabled):hover,
.emby-textarea:not(:disabled):hover,
.favorite-button:hover,
.listItem-focusscale:hover,
.listItem-largeImage:focus,
.listItemImageButton:hover,
.mainDetailButtons .detailButton:focus,
.play-button:hover,
.upNextDialog-button:focus {
    background-color: var(--bgdark60) !important;
}

/* Background Color: Dark 80% */
.checkboxOutline:focus,
.emby-input:focus,
.emby-select option,
.emby-textarea:focus,
.listItem-focusscale:focus {
    background-color: var(--bgdark80) !important;
}

/* Background Color: Black */
.toast {
    background-color: #000 !important;
}

/* Background Color: Accent 40% */
.emby-select option:hover {
    background-color: var(--accent40) !important;
}
/* Background Color: Accent 80% */
.alphaPickerButton:focus,
.emby-checkbox:checked + span + .checkboxOutline,
.emby-select option:focus {
    background-color: var(--accent80) !important;
}

/* Background Color: Accent 100% */
.countIndicator,
.filterIndicator,
.iconOsdProgressInner,
.mediaSourceIndicator,
.mdl-radio__focus-circle,
.mdl-slider-background-lower,
.sliderMarker.watched {
    background-color: var(--accent100) !important;
}

/* Background Color: Transparent */
.layout-tv .itemsContainer .card .cardBox,
.layout-desktop .itemsContainer .card .cardBox,
.actionSheetMenuItem:hover,
.actionSheetMenuItem:focus,
.button-link:focus,
.cardOverlayButton,
.cardOverlayButton:hover,
.cardPadder,
.clearLink,
.clearLink > .emby-button:hover,
.collapseContent,
.collapseContent .listItem:hover,
.emby-collapsible-button:focus,
.emby-button,
.emby-button.skip-button,
.emby-tab-button:focus,
.headerButton:hover,
.listItem,
.listItemBodyText,
.listItemIcon,
.listTextButton-autohide,
.material-icons,
.navMenuOption:hover,
.navMenuOption:focus,
.overview-expand:focus,
.paper-icon-button-light:not(:disabled):hover,
.paper-icon-button-light:not(.alphaPickerButton):active,
.sectionTitleTextButton:focus,
.sliderBubble,
.userPreferencesPage .listItem-border:focus {
    background-color: #0000 !important;
}

/*
============================================================================
   Borders
============================================================================
*/

/* Borders: Grey
--------------------------------------------------------------------------*/
.checkboxOutline,
.detailButton,
.emby-button,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.layout-desktop .emby-select-withcolor:focus,
.favorite-button,
.imagePlaceHolder,
.itemSelectionPanel,
.listItem-focusscale,
.listItem-largeImage,
.selectionCommandsPanel {
    border: var(--buttonborder) !important;
}

/* Borders: Transparent
--------------------------------------------------------------------------*/
.actionSheetMenuItem,
.emby-collapsible-button,
.listItem-border,
.listTextButton-autohide {
    border: solid 2px #0000 !important;
}

.navMenuOption {
    border: solid 1px #0000 !important;
}

/* Borders: None
--------------------------------------------------------------------------*/
.button-link,
.clearLink,
.cardOverlayButton,
.emby-tab-button,
.layout-mobile .listItemButton,
.indicator,
.overview-expand,
.sectionTitleTextButton,
.skip-button {
    border: none !important;
}

/* Outline: None */
:focus-visible {
    outline-style: none;
}

/*
============================================================================
   Border Colors
============================================================================
*/

/* Border Color: Accent 40% */
.listItem-largeImage:hover,
.detail-button:hover,
.emby-button.block:hover,
.emby-checkbox:hover + span + .checkboxOutline,
.emby-checkbox:checked + span + .checkboxOutline,
.emby-input:not(:disabled):hover,
.emby-select-withcolor:not(:disabled):hover,
.emby-textarea:not(:disabled):hover,
.favorite-button:hover,
.imagePlaceHolder:hover,
/* .listItem-focusscale:hover, */
.mainDetailButtons .detailButton:hover,
.play-button:hover {
    border-color: var(--accent40) !important;
}

/* Border Color: Accent 60% */
.emby-button.block:focus,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.emby-checkbox:focus + span + .checkboxOutline,
.detail-button:focus,
.favorite-button:focus,
.itemsContainer > .listItem:focus,
.mainDetailButtons .detailButton:focus,
.itemsContainer > .listItem-largeImage:focus {
    border-color: var(--accent60) !important;
}

/* Border Color: Transparent*/
.actionSheetMenuItem:focus,
.navMenuOption:focus,
.userPreferencesPage .listItem-border:focus,
.upNextDialog-button:focus {
    border-color: #0000 !important;
}

/*
============================================================================
   Glow & Shadows
============================================================================
*/

/* Card Glow*/
.actionsheet-not-fullscreen,
.layout-desktop .dialogContainer .formDialog,
.layout-mobile .dialogContainer .formDialog .centeredDialog,
.toast,
.upNextContainer {
    box-shadow: var(--cardglow) !important;
}

/* Button Glow*/
.detailButton:focus,
.favorite-button:focus,
.itemsContainer > .listItem-focusscale:focus,
.itemsContainer > .listItem-largeImage:focus,
.upNextDialog-button:focus {
    box-shadow: var(--buttonglow) !important;
}

/* Box Shadows */
.detailImageContainer .card {
    box-shadow: var(--itemshadow) !important;
} 

/* No Shadows / no Glow */
.cardPadder,
.mainDrawer,
.card:hover .cardBox.withMultiSelect,
.card:hover .cardBox.withMultiSelect .cardScalable {
    box-shadow: none !important;
}

/*
============================================================================
   Roundings
============================================================================
*/

/* Rounding: System */
.actionSheetMenuItem,
.checkboxOutline,
.dialog,
.emby-button,
.emby-input,
.emby-select,
.emby-textarea,
.formDialogHeader,
.formDialogFooter,
.indicator,
.itemsViewSettingsContainer,
.listItem,
.listItemIcon,
.listTextButton-autohide,
.pageTabContent>.focuscontainer-x,
.paperList,
.sectionTitle,
.sectionTitleContainer-cards,
.subtitleSyncContainer,
.subtitleSyncSliderContainer .sliderBubble,
.subtitleappearance-preview,
.toast,
.searchSuggestionsList > div:hover,
.searchSuggestionsList > div:has(.emby-button:focus) {
    border-radius: var(--rounding-system) !important;
}

/* Rounding: Media */
.blurhash-canvas,
.cardBox,
.cardContent,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,
.cardOverlayContainer,
.cardPadder,
.cardScalable,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.detailButton,
.detailImageContainer .card,
.favorite-button,
.imagePlaceHolder,
.itemDetailImage,
.itemProgressBar,
.itemProgressBarForeground,
.itemSelectionPanel,
.libraryPage .listItem-focusscale,
.libraryPage .listItem-largeImage,
.nowPlayingPageImage,
.paper-icon-button-light,
.upNextContainer,
.upNextDialog-poster-img,
#loginPage .padded-left.padded-right.padded-bottom-page {
    border-radius: var(--rounding-media) !important;
}

/* No Roundings */
.backdrop-overlay,
.dialog.dialog-fullscreen,
.layout-desktop .homePage .sectionTitleContainer-cards,
.layout-desktop .homePage .sectionTitle-cards,
.layout-desktop #tvRecommendedPage .sectionTitleContainer-cards,
.layout-desktop #tvRecommendedPage .sectionTitle-cards,
.navMenuOption {
    border-radius: 0 !important;
}
