.layout-tv .detailRibbon {
    margin-left: 29vw;
    padding-left: 0;
    padding: 1em 1vw 0 1vw;
    background: rgba(0, 0, 0, var(--headeropacity));
    border: var(--buttonborder);
    border-radius: var(--rounding-media);
}
.layout-tv .detailPagePrimaryContent {
    margin-left: 29vw;
    padding: 1em 1vw 0 1vw;
    background: rgba(0, 0, 0, var(--headeropacity));
    border: var(--buttonborder);
    border-radius: var(--rounding-media);
}

.layout-tv .detailPagePrimaryContent:has(.listItem-largeImage) {
    background: none;
    border-color: transparent;
}