/*
────────────────────────────────────────────────────────────────────────────
   Settings Pages
────────────────────────────────────────────────────────────────────────────
*/

/* Settings Pages: Center content and Text */
#myPreferencesMenuPage,
#userProfilePage,
#quickConnectPreferencesPage {
    justify-content: center;
    display: flex;
    text-align: center;
}

/* Settings Pages: Narrow contect margins */
#homeScreenPreferencesPage .verticalSection-extrabottompadding,
#languagePreferencesPage .verticalSection-extrabottompadding { margin-bottom: 0em }

#languagePreferencesPage .selectContainer,
#displayPreferencesPage .inputContainer                      { margin-bottom: 1em }

#displayPreferencesPage .checkboxContainer,
#displayPreferencesPage .selectContainer,
#homeScreenPreferencesPage .selectContainer,
#homeScreenPreferencesPage .checkboxContainer,
#homeScreenPreferencesPage .checkboxListContainer,
#languagePreferencesPage .checkboxContainer                  { margin-bottom: 1.25em }

#displayPreferencesPage .btnSave,
#homeScreenPreferencesPage .btnSave,
#languagePreferencesPage .btnSave                            { margin-top: 2em }

/*  No text wrap */
.layout-tv .userPreferencesPage .listItemBodyText,
.layout-desktop .userPreferencesPage .listItemBodyText   { white-space: nowrap }

/* Settings Page: Box size */
.layout-desktop #myPreferencesMenuPage .readOnlyContent,
.layout-tv #myPreferencesMenuPage .readOnlyContent       { display: flex; max-width: 95% }

.layout-desktop #myPreferencesMenuPage > .padded-left,
.layout-tv #myPreferencesMenuPage > .padded-left         { padding-top: 0 }

.layout-desktop #myPreferencesMenuPage .verticalSection  { margin: 1em 2em }
.layout-tv #myPreferencesMenuPage .verticalSection       { margin: 2em }

/* User Profile: Form Alignment */
.updatePasswordForm br                                   { display: none }
.updatePasswordForm .inputContainer                      { margin-bottom: 1em }
.updatePasswordForm .emby-button.block                   { margin-top: 2em }

/* User Profile: Username bold */
h2.username                                              {
    margin-top: 0px;
    font-weight: 600;
    color: #fff;
}

/* Display: Center content */
.layout-desktop #displayPreferencesPage,
.layout-tv #displayPreferencesPage                        { display: flex; justify-content: center }

/* Quick Connect: Box size */
.layout-desktop #quickConnectPreferencesPage form,
.layout-tv #quickConnectPreferencesPage form              { padding: 1em 4em 2em 4em }

/* Quick Connect: Code input size */
.layout-desktop #txtQuickConnectCode,
.layout-tv #txtQuickConnectCode                           {
    padding: 1em 0;
    text-align: center;
    font-size: 1.2em;
}

/* Quick Connect: Label for input */
.layout-desktop .inputLabel[for="txtQuickConnectCode"],
.layout-tv .inputLabel[for="txtQuickConnectCode"]         { font-size: 1.2em; padding: .5em }

/* Subtitles: Preview-Box color */
.subtitleappearance-preview { background: linear-gradient(140deg,var(--accent100),#111) !important }




/* Section Titles */
.settingsContainer .sectionTitle,
.homeScreenSettingsContainer .sectionTitle,
#controlsPreferencesPage .sectionTitle {
    padding-top: .4em;
    padding-bottom: .4em;
    padding-left: .6em !important;
    margin-left: -1.4em;
    margin-right: -1.4em;
    border-radius: var(--rounding-system);
}



/* Layout Desktop - Settings Pages
──────────────────────────────────────────────────────────────────────────── */

/* Move content up */
.layout-desktop .userPreferencesPage                    { padding-top: 5em !important }

.layout-desktop #myPreferencesMenuPage .readOnlyContent { padding: 1em }

.layout-desktop #userProfilePage .padded-left           { padding: 2em 4em; height: 28em }

.layout-desktop #displayPreferencesPage form,
.layout-desktop #homeScreenPreferencesPage form,
.layout-desktop #languagePreferencesPage form,
.layout-desktop #controlsPreferencesPage form           { padding: 1em 4em }



/* Save Button */
.layout-desktop .userPreferencesPage .btnSave            {
    margin-top: 2em;
    margin-left: -1.75em;
    width: 107%;
    margin-bottom: 1.5em;
}

/* Section Titles: Main Menu */
.layout-desktop #myPreferencesMenuPage .sectionTitle{
    padding-left: 0 !important;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: var(--buttonborder);
    border-radius: 0 !important;
}




/* Layout TV - Settings Pages
──────────────────────────────────────────────────────────────────────────── */

.layout-tv #displayPreferencesPage form,
.layout-tv #homeScreenPreferencesPage form,
.layout-tv #languagePreferencesPage form,
.layout-tv #controlsPreferencesPage form           { padding: 1em 4em }

/* Settings */
.layout-tv #myPreferencesMenuPage > .padded-left   { padding-top: 0 }
.layout-tv #myPreferencesMenuPage .readOnlyContent { padding: 0 1em }
.layout-tv #myPreferencesMenuPage .verticalSection { margin: 2em }
.layout-tv #myPreferencesMenuPage .sectionTitle    { text-align: center }

/* User Profile */
.layout-tv #userProfilePage .padded-left           {
    padding: 3em 4em;
    height: 26em;
}


/* Section Titles */
.layout-tv .settingsContainer .sectionTitle,
.layout-tv .homeScreenSettingsContainer .sectionTitle,
.layout-tv #controlsPreferencesPage .sectionTitle {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .5em;
    margin-left: -1em;
    margin-right: -1em;
}

.layout-tv #myPreferencesMenuPage .sectionTitle    {
    padding-left: 0 !important;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: var(--buttonborder);
    border-radius: 0 !important;
}

/* Layout Mobile - Settings Pages
──────────────────────────────────────────────────────────────────────────── */

/* Background */
.layout-mobile #myPreferencesMenuPage,
.layout-mobile #userProfilePage,
.layout-mobile #quickConnectPreferencesPage,
.layout-mobile #controlsPreferencesPage                          { background: rgba(0, 0, 0, var(--headeropacity)) }
.layout-mobile .userPreferencesPage > .padded-left               { padding-top: 0 }

.layout-mobile .userPreferencesPage > .padded-left > .readOnlyContent,
.layout-mobile .userPreferencesPage > .padded-left > form        { width: 90% }

.layout-mobile .userPreferencesPage .settingsContainer,
.layout-mobile .userPreferencesPage .homeScreenSettingsContainer {
    background: rgba(0, 0, 0, var(--headeropacity));
    padding-top: 1em;
    margin-top: -1em;
}

/* Main Settings Page */
.layout-mobile #myPreferencesMenuPage > .padded-left             { width: 100% }
.layout-mobile #myPreferencesMenuPage .sectionTitle              {
    padding-left: 0em !important;
    font-weight: 600;
}

/* User Profile */
.layout-mobile #userProfilePage                                  { padding: 5em 5% !important }
.layout-mobile #userProfilePage > .padded-left                   { padding: 0; width: 90% }

.layout-mobile #userProfilePage .readOnlyContent > div:not(.imagePlaceHolder) {
    margin-left: 2em !important;
    margin-right: 0 !important;
}

/* Quick Connect */
.layout-mobile #quickConnectPreferencesPage                      { padding-top: 5em !important }
.layout-mobile #quickConnectPreferencesPage > .padded-left       {
    justify-content: center;
    display: flex;
}

/* Section Titles */
.layout-mobile .settingsContainer .sectionTitle,
.layout-mobile .homeScreenSettingsContainer .sectionTitle,
.layout-mobile #controlsPreferencesPage .sectionTitle {
    margin-left: -.5em;
    margin-right: -.5em;
    padding-left: .5em;
}

/* List Items */
.layout-mobile .userPreferencesPage .listItem-border             {
    border: var(--buttonborder) !important;
    margin-bottom: .6em !important;
}
.layout-mobile .userPreferencesPage .listItem                    { padding-right: 1.5em !important }
.layout-mobile .userPreferencesPage .listItemIcon                {
    width: 2% !important;
    text-align: left;
    margin-right: 0;
    flex: auto;
    padding-right: .5em;
}
.layout-mobile .userPreferencesPage .listItemBody                {
    flex: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    text-align: left;
}

/*
────────────────────────────────────────────────────────────────────────────
   Search Page
────────────────────────────────────────────────────────────────────────────
*/

#searchPage .searchFieldsInner { padding-bottom: 1em }

/* Section Titles */
#searchPage .sectionTitle      {
    padding: .3em 0;
    margin: .5em 0;
    text-align: center;
    font-weight: 600;
}

.layout-mobile #episodesTab .itemsContainer { margin-bottom: 1em !important }
.layout-mobile #studiosTab .itemsContainer  { margin-top: 1em !important }

/*
────────────────────────────────────────────────────────────────────────────
   Login Page
────────────────────────────────────────────────────────────────────────────
*/

/* Login: Form Dimensions & Colors */
#loginPage .padded-bottom-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 24em;
    padding-bottom: 2em !important;
    background: rgba(0, 0, 0, var(--headeropacity));
    border-radius: var(--rounding-media);
    border: var(--buttonborder);
}

/* Login: Hide some elements */
#loginPage .btnForgotPassword,
#loginPage .loginDisclaimerContainer { display: none }

/* Login Form: Title marging (please sign in) */
#loginPage .visualLoginForm          { padding-top: 1em }
#loginPage .manualLoginForm          { padding-top: 2em }

/* Login Form: User cards */
#loginPage .squareCard               { width: 33% !important; margin: 1em !important }
#loginPage .cardBox                  { box-shadow: none !important }
#loginPage .cardScalable             { box-shadow: var(--cardshadow) !important }
#loginPage .card:hover .cardScalable { box-shadow: var(--cardglow) !important }

/* Manual Login Form */
#loginPage .readOnlyContent,
#loginPage form                      { max-width: 22em }

/*
────────────────────────────────────────────────────────────────────────────
   Select Server Page
────────────────────────────────────────────────────────────────────────────
*/

/* Select Server: Form Dimensions & Colors */
#selectServerPage .padded-bottom-page {
    margin: 0 5%;
    background: rgba(0, 0, 0, var(--headeropacity));
    border-radius: var(--rounding-media);
    border: var(--buttonborder);
    padding-top: 1em;
    padding-bottom: 2em !important;
}
#selectServerPage .btnAddServer:hover { border-color: var(--accent60) !important }

/* Select Server: Server cards */
#selectServerPage .cardBox            { margin: 1em !important }
#selectServerPage .cardFooter         { padding: 0.8em .3em }
#selectServerPage .cardBox:has(.cardFooter) .cardScalable div {
    border-bottom-left-radius:  0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Connect to Server form*/
.standalonePage .addServerForm {
    background: rgba(0, 0, 0, var(--headeropacity));
    border-radius: var(--rounding-media);
    border: var(--buttonborder);
    padding: 1em 4em 2em 4em;
}
.addServerForm h1 { text-align: center }
