/*
────────────────────────────────────────────────────────────────────────────
   Minimal Card Size
──────────────────────────────────────────────────────────────────────────── */

/* go back to these...? */
.layout-desktop {

    /* Default Cards */
    .itemsContainer > .portraitCard { width: 33.33%; }
    .itemsContainer > .squareCard   { width: 33.33%; }
    .itemsContainer > .backdropCard { width: 50% }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard { width: 33.33%; }
    .itemsContainer > .overflowSquareCard   { width: 33.33%; }
    .itemsContainer > .overflowBackdropCard { width: 50%; }

    /* Overflow Cards in PrimaryContainer without a NextUp Section */
    .detailPagePrimaryContainer:has(.nextUpSection.hide) {
        .itemsContainer > .overflowPortraitCard { width: 33.33%; }
        .itemsContainer > .overflowSquareCard   { width: 33.33%; }
        .itemsContainer > .overflowBackdropCard { width: 33.33%; }
    }

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard { width: 20%; }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 20vw; width: calc(20vw - 33%); }

    /* Image Search Cards */
    .dialogContainer .portraitCard { width: 25%; }
    .dialogContainer .squareCard   { width: 25%; }
    .dialogContainer .backdropCard { width: 33.33% }

    .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
}

.layout-tv {

    /* Default Cards */
    .itemsContainer > .portraitCard { width: 33.33%; }
    .itemsContainer > .squareCard   { width: 33.33%; }
    .itemsContainer > .backdropCard { width: 50%; }

    /* Overflow Cards */
    .itemsContainer > .overflowPortraitCard { width: 33.33%; }
    .itemsContainer > .overflowSquareCard   { width: 33.33%; }
    .itemsContainer > .overflowBackdropCard { width: 50%; }

    /* Overflow Cards in PrimaryContainer without a NextUp Section */
    .detailPagePrimaryContainer:has(.nextUpSection.hide) {
        .itemsContainer > .overflowPortraitCard { width: 33.33%; }
        .itemsContainer > .overflowSquareCard   { width: 33.33%; }
        .itemsContainer > .overflowBackdropCard { width: 33.33%; }
    } 

    /* Overflow Cards in SecondaryContainer */
    .detailPageSecondaryContainer {
        .itemsContainer > .overflowPortraitCard { width: 33.33%; }
        .itemsContainer > .overflowSquareCard   { width: 25%; }
        .itemsContainer > .overflowBackdropCard { width: 50%; }
    } 

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard { width: 33.33%; }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 33vw; width: calc(33vw - 33%); }

    /* Image Search Cards */
    .dialogContainer .portraitCard { width: 33.33%; }
    .dialogContainer .squareCard   { width: 33.33%; }
    .dialogContainer .backdropCard { width: 50%;}

    .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
}

.layout-mobile {

    /* Default Cards */
    .itemsContainer > .portraitCard { width: 33.33%; }
    .itemsContainer > .squareCard   { width: 33.33%; }
    .itemsContainer > .backdropCard { width: 50%; }

    /* Default Overflow Cards */
    .itemsContainer > .overflowPortraitCard { width: 33.33%; }
    .itemsContainer > .overflowSquareCard   { width: 33.33%; }
    .itemsContainer > .overflowBackdropCard { width: 50% }

    /* Overflow Cards in PrimaryContainer without a NextUp Section */
    .detailPagePrimaryContainer:has(.nextUpSection.hide) {
        .itemsContainer > .overflowPortraitCard { width: 50%; }
        .itemsContainer > .overflowSquareCard   { width: 33.33%; }
        .itemsContainer > .overflowBackdropCard { width: 50%; }
    } 

    /* Person Cards */
    .itemsContainer > .overflowPortraitCard.personCard { width: 20%; }
    .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 20vw;  height: calc(20vw - 33%); }

    /* Image Search Cards */
    .dialogContainer .portraitCard { width: 33.33%; }
    .dialogContainer .squareCard   { width: 33.33%; }
    .dialogContainer .backdropCard { width: 50%; }

    .listItem-overview { line-clamp: 3; -webkit-line-clamp: 3; }
}

/*
────────────────────────────────────────────────────────────────────────────
   Dynamic Card Size
──────────────────────────────────────────────────────────────────────────── */

@media(min-width: 30em) {
    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 25%; }
        .itemsContainer > .squareCard   { width: 33.33%; }
        .itemsContainer > .backdropCard { width: 33.33%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 25%; }
        .itemsContainer > .overflowSquareCard   { width: 33.33%; }
        .itemsContainer > .overflowBackdropCard { width: 33.33% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 33.33%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 25%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 25vw;  height: calc(25vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 33.33%; }
        .dialogContainer .squareCard   { width: 33.33%; }
        .dialogContainer .backdropCard { width: 50%; }

        .listItem-overview { line-clamp: 3; -webkit-line-clamp: 3; }
    }
}
@media(min-width: 43.75em) {
    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 25%; }
        .itemsContainer > .squareCard   { width: 25%; }
        .itemsContainer > .backdropCard { width: 33.33% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 25%; }
        .itemsContainer > .overflowSquareCard   { width: 25%; }
        .itemsContainer > .overflowBackdropCard { width: 33.33%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 33.33%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 16.66%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 16.66vw; width: calc(16.66vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 25%; }
        .dialogContainer .squareCard   { width: 25%; }
        .dialogContainer .backdropCard { width: 33.33% }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 33.33%; }
        .itemsContainer > .squareCard   { width: 25%; }
        .itemsContainer > .backdropCard { width: 50%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 33.33%; }
        .itemsContainer > .overflowSquareCard   { width: 25%; }
        .itemsContainer > .overflowBackdropCard { width: 50%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 33.33%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 25%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 25%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 25vw; width: calc(25vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 33.33%; }
        .dialogContainer .squareCard   { width: 33.33%; }
        .dialogContainer .backdropCard { width: 50%;}

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 25%; }
        .itemsContainer > .squareCard   { width: 25%; }
        .itemsContainer > .backdropCard { width: 33.33%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 25%; }
        .itemsContainer > .overflowSquareCard   { width: 25%; }
        .itemsContainer > .overflowBackdropCard { width: 33.33% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 33.33%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 16.66%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 16.66vw;  height: calc(16.66vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 33.33%; }
        .dialogContainer .squareCard   { width: 33.33%; }
        .dialogContainer .backdropCard { width: 50%; }

        .listItem-overview { line-clamp: 3; -webkit-line-clamp: 3; }
    }
}
@media(min-width: 50em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 20%; }
        .itemsContainer > .squareCard   { width: 20%; }
        .itemsContainer > .backdropCard { width: 33.33% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 20%; }
        .itemsContainer > .overflowSquareCard   { width: 20%; }
        .itemsContainer > .overflowBackdropCard { width: 33.33%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 33.33%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 14.28%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 14.28vw; width: calc(14.28vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 25%; }
        .dialogContainer .squareCard   { width: 25%; }
        .dialogContainer .backdropCard { width: 33.33%; }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 25%; }
        .itemsContainer > .squareCard   { width: 20%; }
        .itemsContainer > .backdropCard { width: 33.33%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 25%; }
        .itemsContainer > .overflowSquareCard   { width: 20%; }
        .itemsContainer > .overflowBackdropCard { width: 33.33%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 25%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 33.33%; }
            .itemsContainer > .overflowSquareCard   { width: 25%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 20%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 20vw; width: calc(20vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 25%; }
        .dialogContainer .squareCard   { width: 25%; }
        .dialogContainer .backdropCard { width: 33.33%;}

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 20%; }
        .itemsContainer > .squareCard   { width: 20%; }
        .itemsContainer > .backdropCard { width: 25%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 20%; }
        .itemsContainer > .overflowSquareCard   { width: 20%; }
        .itemsContainer > .overflowBackdropCard { width: 25% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 25%; }
            .itemsContainer > .overflowSquareCard   { width: 25%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 14.28%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 14.28vw;  height: calc(14.28vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 20%; }
        .dialogContainer .squareCard   { width: 20%; }
        .dialogContainer .backdropCard { width: 25%; }

        .listItem-overview { line-clamp: 3; -webkit-line-clamp: 3; }
    }
}
@media(min-width: 60em)  {

    .layout-desktop {
        /* Default Cards */
        .itemsContainer > .backdropCard { width: 25% }
    }

    .layout-mobile {
        .listItem-overview { line-clamp: 4; -webkit-line-clamp: 4; }
    }
}
@media(min-width: 75em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 16.66%; }
        .itemsContainer > .squareCard   { width: 16.66%; }
        .itemsContainer > .backdropCard { width: 25% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 16.66%; }
        .itemsContainer > .overflowSquareCard   { width: 16.66%; }
        .itemsContainer > .overflowBackdropCard { width: 25%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 25%; }
            .itemsContainer > .overflowSquareCard   { width: 25%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 12.5%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 12.5vw; width: calc(12.5vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 20%; }
        .dialogContainer .squareCard   { width: 20%; }
        .dialogContainer .backdropCard { width: 25% }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 20%; }
        .itemsContainer > .squareCard   { width: 16.66%; }
        .itemsContainer > .backdropCard { width: 25%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 20%; }
        .itemsContainer > .overflowSquareCard   { width: 16.66%; }
        .itemsContainer > .overflowBackdropCard { width: 25%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 25%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 25%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 16.66%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 16.66vw; width: calc(16.66vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 20%; }
        .dialogContainer .squareCard   { width: 16.66%; }
        .dialogContainer .backdropCard { width: 25%; }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 16.66%; }
        .itemsContainer > .squareCard   { width: 16.66%; }
        .itemsContainer > .backdropCard { width: 20%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 16.66%; }
        .itemsContainer > .overflowSquareCard   { width: 16.66%; }
        .itemsContainer > .overflowBackdropCard { width: 20% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 20%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 12.5%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 12.5vw;  height: calc(12.5vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 16.66%; }
        .dialogContainer .squareCard   { width: 16.66%; }
        .dialogContainer .backdropCard { width: 20%; }

        .listItem-overview { line-clamp: 3; -webkit-line-clamp: 3; }
    }
}
@media(min-width: 87.5em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 16.66%; }
        .itemsContainer > .squareCard   { width: 14.28%; }
        .itemsContainer > .backdropCard { width: 25% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 16.66%; }
        .itemsContainer > .overflowSquareCard   { width: 14.28%; }
        .itemsContainer > .overflowBackdropCard { width: 25%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 25%; }
            .itemsContainer > .overflowSquareCard   { width: 25%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 11.11%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 11.11vw; width: calc(11.11vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 20%; }
        .dialogContainer .squareCard   { width: 20%; }
        .dialogContainer .backdropCard { width: 20%; }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 20%; }
        .itemsContainer > .squareCard   { width: 16.66%; }
        .itemsContainer > .backdropCard { width: 25%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 16.66%; }
        .itemsContainer > .overflowSquareCard   { width: 16.66%; }
        .itemsContainer > .overflowBackdropCard { width: 25%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 25%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 20%; }
            .itemsContainer > .overflowSquareCard   { width: 16.66%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 14.28%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 14.28vw; width: calc(14.28vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 20%; }
        .dialogContainer .squareCard   { width: 16.66%; }
        .dialogContainer .backdropCard { width: 25%; }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 16.66%; }
        .itemsContainer > .squareCard   { width: 16.66%; }
        .itemsContainer > .backdropCard { width: 20%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 14.28%; }
        .itemsContainer > .overflowSquareCard   { width: 14.28%; }
        .itemsContainer > .overflowBackdropCard { width: 20% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 20%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 11.11%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 11.11vw;  height: calc(11.11vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 16.66%; }
        .dialogContainer .squareCard   { width: 16.66%; }
        .dialogContainer .backdropCard { width: 20%; }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }
}
@media(min-width: 100em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 14.28%; }
        .itemsContainer > .squareCard   { width: 12.5%; }
        .itemsContainer > .backdropCard { width: 20% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 14.28%; }
        .itemsContainer > .overflowSquareCard   { width: 12.5%; }
        .itemsContainer > .overflowBackdropCard { width: 25%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 20%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 10%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 10vw; width: calc(10vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 16.66%; }
        .dialogContainer .squareCard   { width: 16.66%; }
        .dialogContainer .backdropCard { width: 20%; }

        .listItem-overview { line-clamp: 6; -webkit-line-clamp: 6; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 16.66%; }
        .itemsContainer > .squareCard   { width: 14.28%; }
        .itemsContainer > .backdropCard { width: 20%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 16.66%; }
        .itemsContainer > .overflowSquareCard   { width: 14.28%; }
        .itemsContainer > .overflowBackdropCard { width: 25%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 25%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 33.33%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 16.66%; }
            .itemsContainer > .overflowSquareCard   { width: 14.28%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 12.5%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 12.5vw; width: calc(12.5vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 16.66%; }
        .dialogContainer .squareCard   { width: 14.28%; }
        .dialogContainer .backdropCard { width: 20%; }

        .listItem-overview { line-clamp: 5; -webkit-line-clamp: 5; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 14.28%; }
        .itemsContainer > .squareCard   { width: 14.28%; }
        .itemsContainer > .backdropCard { width: 16.66%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 14.28%; }
        .itemsContainer > .overflowSquareCard   { width: 14.28%; }
        .itemsContainer > .overflowBackdropCard { width: 16.66% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 16.66%; }
            .itemsContainer > .overflowSquareCard   { width: 16.66%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 10%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 10vw;  height: calc(10vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 14.28%; }
        .dialogContainer .squareCard   { width: 14.28%; }
        .dialogContainer .backdropCard { width: 16.66%; }

        .listItem-overview { line-clamp: 6; -webkit-line-clamp:6; }
    }
}
@media(min-width: 120em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 12.5%; }
        .itemsContainer > .squareCard   { width: 12.5%; }
        .itemsContainer > .backdropCard { width: 16.66% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 14.28%; }
        .itemsContainer > .overflowSquareCard   { width: 12.5%; }
        .itemsContainer > .overflowBackdropCard { width: 20%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 16.66%; }
            .itemsContainer > .overflowSquareCard   { width: 16.66%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 9.09%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 9.09vw; width: calc(9.09vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 14.28%; }
        .dialogContainer .squareCard   { width: 14.28%; }
        .dialogContainer .backdropCard { width: 20% }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 14.28%; }
        .itemsContainer > .squareCard   { width: 12.5%; }
        .itemsContainer > .backdropCard { width: 20%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 14.28%; }
        .itemsContainer > .overflowSquareCard   { width: 12.5%; }
        .itemsContainer > .overflowBackdropCard { width: 20%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 20%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 14.28%; }
            .itemsContainer > .overflowSquareCard   { width: 12.5%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 11.11%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 11.11vw; width: calc(11.11vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 14.28%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 20%; }

        .listItem-overview { line-clamp: 6; -webkit-line-clamp: 6; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 12.5%; }
        .itemsContainer > .squareCard   { width: 12.5%; }
        .itemsContainer > .backdropCard { width: 16.66%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 14.28%; }
        .itemsContainer > .overflowSquareCard   { width: 14.28%; }
        .itemsContainer > .overflowBackdropCard { width: 14.28% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 14.28%; }
            .itemsContainer > .overflowSquareCard   { width: 14.28%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 9.09%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 9.09vw;  height: calc(9.09vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 14.28%; }
        .dialogContainer .squareCard   { width: 14.28%; }
        .dialogContainer .backdropCard { width: 14.28%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp:7; }
    }
}
@media(min-width: 135em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 11.11%; }
        .itemsContainer > .squareCard   { width: 11.11%; }
        .itemsContainer > .backdropCard { width: 16.66% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 12.5%; }
        .itemsContainer > .overflowSquareCard   { width: 11.11%; }
        .itemsContainer > .overflowBackdropCard { width: 20%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 16.66%; }
            .itemsContainer > .overflowSquareCard   { width: 16.66%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 8.33%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 8.33vw; width: calc(8.33vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 14.28%; }
        .dialogContainer .squareCard   { width: 14.28%; }
        .dialogContainer .backdropCard { width: 16.66% }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 14.28%; }
        .itemsContainer > .squareCard   { width: 12.5%; }
        .itemsContainer > .backdropCard { width: 16.66%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 14.28%; }
        .itemsContainer > .overflowSquareCard   { width: 11.11%; }
        .itemsContainer > .overflowBackdropCard { width: 20%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 20%; }
            .itemsContainer > .overflowSquareCard   { width: 20%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 14.28%; }
            .itemsContainer > .overflowSquareCard   { width: 12.5%; }
            .itemsContainer > .overflowBackdropCard { width: 25%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 11.11%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 11.11vw; width: calc(11.11vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 14.28%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 20%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 11.11%; }
        .itemsContainer > .squareCard   { width: 11.11%; }
        .itemsContainer > .backdropCard { width: 14.28%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 12.5%; }
        .itemsContainer > .overflowSquareCard   { width: 12.5%; }
        .itemsContainer > .overflowBackdropCard { width: 14.28% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 14.28%; }
            .itemsContainer > .overflowSquareCard   { width: 14.28%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 8.33%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 8.33vw;  height: calc(8.33vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 14.28%; }
        .dialogContainer .squareCard   { width: 14.28%; }
        .dialogContainer .backdropCard { width: 14.28%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp:7; }
    }
}
@media(min-width: 150em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 10%; }
        .itemsContainer > .squareCard   { width: 10%; }
        .itemsContainer > .backdropCard { width: 14.28% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 12.5%; }
        .itemsContainer > .overflowSquareCard   { width: 11.11%; }
        .itemsContainer > .overflowBackdropCard { width: 20%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 16.66%; }
            .itemsContainer > .overflowSquareCard   { width: 16.66%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 7.69%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 7.69vw; width: calc(7.69vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 16.66% }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 12.5%; }
        .itemsContainer > .squareCard   { width: 11.11%; }
        .itemsContainer > .backdropCard { width: 14.28%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 12.5%; }
        .itemsContainer > .overflowSquareCard   { width: 10%; }
        .itemsContainer > .overflowBackdropCard { width: 16.66%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 16.66%; }
            .itemsContainer > .overflowSquareCard   { width: 16.66%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 12.5%; }
            .itemsContainer > .overflowSquareCard   { width: 9.09%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 10%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 10vw; width: calc(10vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 11.11%; }
        .dialogContainer .backdropCard { width: 16.66%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 10%; }
        .itemsContainer > .squareCard   { width: 10%; }
        .itemsContainer > .backdropCard { width: 12.5%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 11.11%; }
        .itemsContainer > .overflowSquareCard   { width: 11.11%; }
        .itemsContainer > .overflowBackdropCard { width: 12.5% }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 12.5%; }
            .itemsContainer > .overflowSquareCard   { width: 12.5%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 7.69%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 7.69vw;  height: calc(7.69vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 14.28%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp:7; }
    }
}
@media(min-width: 175em) {

    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 9.09%; }
        .itemsContainer > .squareCard   { width: 9.09%; }
        .itemsContainer > .backdropCard { width: 12.5% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 12.5%; }
        .itemsContainer > .overflowSquareCard   { width: 11.11%; }
        .itemsContainer > .overflowBackdropCard { width: 20%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 14.28%; }
            .itemsContainer > .overflowSquareCard   { width: 14.28%; }
            .itemsContainer > .overflowBackdropCard { width: 16.66%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 7.14%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 7.14vw; width: calc(7.14vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 14.28%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 11.11%; }
        .itemsContainer > .squareCard   { width: 10%; }
        .itemsContainer > .backdropCard { width: 12.5%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 11.11%; }
        .itemsContainer > .overflowSquareCard   { width: 10%; }
        .itemsContainer > .overflowBackdropCard { width: 14.28%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 14.28%; }
            .itemsContainer > .overflowSquareCard   { width: 14.28%; }
            .itemsContainer > .overflowBackdropCard { width: 16.66%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 11.11%; }
            .itemsContainer > .overflowSquareCard   { width: 8.33%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 9.09%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 9.09vw; width: calc(9.09vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 11.11%; }
        .dialogContainer .backdropCard { width: 16.66%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 10%; }
        .itemsContainer > .squareCard   { width: 10%; }
        .itemsContainer > .backdropCard { width: 11.11%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 11.11%; }
        .itemsContainer > .overflowSquareCard   { width: 11.11%; }
        .itemsContainer > .overflowBackdropCard { width: 11.11%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 11.11%; }
            .itemsContainer > .overflowSquareCard   { width: 11.11%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 7.14%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 7.14vw;  height: calc(7.14vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 14.28%; }

        .listItem-overview { line-clamp: 9; -webkit-line-clamp:9; }
    }
}
@media(min-width: 200em) {


    .layout-desktop {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 8.33%; }
        .itemsContainer > .squareCard   { width: 8.33%; }
        .itemsContainer > .backdropCard { width: 11.11% }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 11.11%; }
        .itemsContainer > .overflowSquareCard   { width: 10%; }
        .itemsContainer > .overflowBackdropCard { width: 16.66%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 12.5%; }
            .itemsContainer > .overflowSquareCard   { width: 12.5%; }
            .itemsContainer > .overflowBackdropCard { width: 16.66%; }
        }

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 6.66%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 6.66; width: calc(6.66 - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 12.5%; }

        .listItem-overview { line-clamp: 7; -webkit-line-clamp: 7; }
    }

    .layout-tv {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 10%; }
        .itemsContainer > .squareCard   { width: 9.09%; }
        .itemsContainer > .backdropCard { width: 12.5%; }

        /* Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 11.11%; }
        .itemsContainer > .overflowSquareCard   { width: 10%; }
        .itemsContainer > .overflowBackdropCard { width: 12.5%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 14.28%; }
            .itemsContainer > .overflowSquareCard   { width: 14.28%; }
            .itemsContainer > .overflowBackdropCard { width: 16.66%; }
        } 

        /* Overflow Cards in SecondaryContainer */
        .detailPageSecondaryContainer {
            .itemsContainer > .overflowPortraitCard { width: 10%; }
            .itemsContainer > .overflowSquareCard   { width: 8.33%; }
            .itemsContainer > .overflowBackdropCard { width: 16.66%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 8.33%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { height: 8.33vw; width: calc(8.33vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 11.11%; }
        .dialogContainer .backdropCard { width: 16.66%; }

        .listItem-overview { line-clamp: 10; -webkit-line-clamp: 10; }
    }

    .layout-mobile {

        /* Default Cards */
        .itemsContainer > .portraitCard { width: 10%; }
        .itemsContainer > .squareCard   { width: 10%; }
        .itemsContainer > .backdropCard { width: 11.11%; }

        /* Default Overflow Cards */
        .itemsContainer > .overflowPortraitCard { width: 11.11%; }
        .itemsContainer > .overflowSquareCard   { width: 11.11%; }
        .itemsContainer > .overflowBackdropCard { width: 11.11%; }

        /* Overflow Cards in PrimaryContainer without a NextUp Section */
        .detailPagePrimaryContainer:has(.nextUpSection.hide) {
            .itemsContainer > .overflowPortraitCard { width: 11.11%; }
            .itemsContainer > .overflowSquareCard   { width: 11.11%; }
            .itemsContainer > .overflowBackdropCard { width: 20%; }
        } 

        /* Person Cards */
        .itemsContainer > .overflowPortraitCard.personCard { width: 7.14%; }
        .itemsContainer > .overflowPortraitCard.personCard .cardScalable { width: 7.14vw;  height: calc(7.14vw - 33%); }

        /* Image Search Cards */
        .dialogContainer .portraitCard { width: 12.5%; }
        .dialogContainer .squareCard   { width: 12.5%; }
        .dialogContainer .backdropCard { width: 14.28%; }

        .listItem-overview { line-clamp: 9; -webkit-line-clamp:9; }
    }

    :root {
        /* Layout Desktop (Default)
        ──────────────────────────────────────────────────────────────────────────── */

        /* Cards */
        --card-backdrop-width: 11.11%;

        /* Image Search Cards */
        --card-search-backdrop-width: 12.5%;

        /* Overflow Cards */
        --card-overflow-portrait-width: 9.09%;

        /* Person Cards */
        --card-person-width: 6.25%;
        --card-person-scalable-height: 6.25vw;
        --card-person-scalable-width: calc(6.25vw - 33%);
            
        /* Layout TV
        ──────────────────────────────────────────────────────────────────────────── */

        /* Cards - TV */
        --card-portrait-width-tv: 10%;
        --card-square-width-tv: 9.09%;

        /* Overflow Cards - TV */
        --card-overflow-portrait-width-tv: 10%;
        --card-overflow-square-width-tv: 9.09%;
        --card-overflow-backdrop-width-tv: 12.5%;

        /* Overflow Cards in Secondary Container - TV */
        --card-secondary-overflow-portrait-width-tv: 10%;
        --card-secondary-overflow-square-width-tv: 8.33%;
        --card-secondary-overflow-backdrop-width-tv: 16.66%;

        /* ListItem Text Wrap - TV */
        --listitem-line-clamp-tv: 10;
    }
}
