
/*
===========================================================================
   Sections: Media Pages
===========================================================================
*/

.layout-tv .detailSection:has(.trackSelections.hide ~ .nextUpSection.hide)
#listChildrenCollapsible {
    margin-top: 3em;
}

.layout-tv .detailSection:has(.listItem-largeImage)
#listChildrenCollapsible {
    margin-top: 0em !important;
}



/* Sections: Space between Sections (TV) */
.layout-tv .detailVerticalSection {
    margin-bottom: 0em !important;
}

/*
.layout-tv #listChildrenCollapsible {
    margin-left: -29vw;
    margin-bottom: -1.5em !important;
}*/

/* Stretch Seasons Scroller */
.layout-tv .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) #listChildrenCollapsible,
.layout-desktop .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) #listChildrenCollapsible {
    margin-left: -29vw;
    margin-bottom: -1.5em !important;
}


/* Cast > More */
.clearLink,
.clearLink > .emby-button {
    margin: 0;
}

/*
===========================================================================
   Sections: Titles
===========================================================================
*/

/* Section Titles: Bold 
.detailPagePrimaryContainer .sectionTitle,
.detailPageSecondaryContainer .sectionTitle {
    font-weight: 600;
}*/

/* Section Titles: Layout TV
--------------------------------------------------------------------------*/

/* Container */
.layout-tv .sectionTitleContainer-cards,
.layout-tv div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 0 !important;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Titles */
.layout-tv .homePage .sectionTitleContainer-cards,
.layout-tv .homePage .sectionTitle {
    text-align: center;
    padding-left: 0 !important;
}


.emby-button.sectionTitleTextButton.show-focus:focus {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: var(--accent100);
}


/* Section Titles: Layout Desktop
--------------------------------------------------------------------------*/

/* Container */
.layout-desktop .sectionTitleContainer-cards,
.layout-desktop div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.layout-desktop .homePage .sectionTitleContainer-cards,
.layout-desktop .homePage div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Titles */
.layout-desktop .detailPagePrimaryContainer .sectionTitle {
    padding-left: 1.5% !important;
}
.layout-desktop .detailPageSecondaryContainer .sectionTitle {
    border-radius: 0;
}


.layout-desktop .libraryPage:not(.homePage) .sectionTitle-cards {
    padding-left: 3vw;
}




/* Text & Icon */
.sectionTitleTextButton > .sectionTitle,
.sectionTitleTextButton > .material-icons {
    padding: 0;
    margin: 0;
}


.layout-desktop h2.sectionTitle {
    font-weight: 600;
} 

/* Scroll Buttons */
.layout-desktop .verticalSection > .emby-scrollbuttons {
    padding-top: 5px;
    padding-bottom: 0em;
}

/* Section Titles: Layout Mobile
--------------------------------------------------------------------------*/

/* Container */
.layout-mobile .sectionTitleContainer-cards,
.layout-mobile :not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    text-align: center;
    padding: 4px 0 4px 0;
}
@media(max-width: 48.125em) {
    .layout-mobile .homePage .sectionTitleContainer-cards, 
    .layout-mobile .homePage :not(.sectionTitleContainer-cards) > .sectionTitle-cards {
        border-radius: 0 !important;
    }
}

/* Titles */
.layout-mobile .sectionTitleTextButton .sectionTitle-cards {
    text-align: center;
    padding: 0;
}

/* Text & Icon */
.layout-mobile .sectionTitle > .material-icons,
.layout-mobile .sectionTitleTextButton > .material-icons {
    padding: 0;
    margin: 0;
}

/*
===========================================================================
   Media Scroller
===========================================================================
*/

/* Default Alignment */
.emby-scroller {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.emby-scroller::-webkit-scrollbar {
    display: none;
}

/* Media Scroller: Layout TV
--------------------------------------------------------------------------*/

.layout-tv #listChildrenCollapsible:has(.listItem-largeImage) {
    margin-top: -3vh;
}

/* Emby Scroller */
.layout-tv .emby-scroller {
    padding: 0 .2vw;
    margin: 0 .5vw;
}

.layout-tv .detailPageWrapperContainer .moreFromSeasonSection .emby-scroller:has(.overflowPortraitCard) {
    padding-top: 1.25em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 2em;
}

.layout-tv .recommendations .emby-scroller {
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
}

/* Items Container */
.layout-tv .itemsContainer {
    padding: 0;
}
.layout-tv #items .itemsContainer {
    margin: 0;
}
.layout-tv .detailPagePrimaryContainer .itemsContainer:has(.listItem-largeImage) {
    padding-right: 0em;
    padding-left: 0em;
    margin-top: -1em;
}
.layout-tv .detailPagePrimaryContainer .itemsContainer.vertical-wrap {
    padding: 0 1em;
}

.layout-tv #listChildrenCollapsible .itemsContainer.vertical-wrap {
    padding: 1em;
}



/* Layout Desktop
--------------------------------------------------------------------------*/

/* Emby Scroller */
.layout-desktop .emby-scroller {
    padding: 0;
    margin: .5vw 2vw;
}
.layout-desktop .detailPageWrapperContainer .moreFromSeasonSection .emby-scroller:has(.overflowPortraitCard) {
    padding-top: 1.25em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 2em;
}

/* Items Container */
.layout-desktop .itemsContainer {
    padding: 0;
}
.layout-desktop #tvRecommendedPage .itemsContainer {
    padding-left: 3vw;
    padding-right: 3vw;
    padding: .5vw 2vw;
}
.layout-desktop .pageTabContent .itemsContainer:has(.listItem-border) {
    padding: .5em 8% !important;
}
.layout-desktop #items .itemsContainer {
    margin: 0;
}
.layout-desktop .detailPagePrimaryContainer .itemsContainer {
    padding: 0;
    margin: 0 1vw;
}

/* Layout Mobile
--------------------------------------------------------------------------*/

.layout-mobile .detailPagePrimaryContent,
.layout-mobile .detailPageSecondaryContainer .detailPageContent {
    padding-left: 3% !important;
    padding-right: 3% !important;
}

.layout-mobile .detailPagePrimaryContent .trackSelections,
.layout-mobile .detailPagePrimaryContent .detailSectionContent,
.layout-mobile .detailPagePrimaryContent .itemDetailsGroup {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}

/* Emby Scroller */
.layout-mobile .emby-scroller {
    padding: 0;
    margin: 0 1vw;
    /* padding-left: 0; */
    /* padding-right: 0; */
    /* margin-right: 1vw; */
    /* margin-left: 1vw; */
}

/* Items Container */
.layout-mobile .itemsContainer {
    padding: 0;
}
.layout-mobile #tvRecommendedPage .itemsContainer {
    margin: 0 2vw;
}
.layout-mobile .pageTabContent .itemsContainer:has(.listItem-border) {
    padding: .5em 3% !important;
}

/*
.layout-mobile .detailPagePrimaryContainer .itemsContainer {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    padding-top: .75em;
    padding-bottom: .75em;
} */

/* Specific Elements
.layout-mobile #castContent,
.layout-mobile #guestCastContent {
    padding-left: 0em;
} */

