.layout-tv .detailRibbon {
    margin-left: 28vw;
    padding-left: 0;
    padding: 1em 1vw 0 1vw;
    background: rgba(0, 0, 0, var(--headeropacity));
    border: var(--buttonborder);
    border-radius: var(--rounding-media);
}
.layout-tv .detailPagePrimaryContent {
    background: rgba(0, 0, 0, var(--headeropacity));
    border: var(--buttonborder);
    border-top-color: transparent;
    border-bottom-right-radius: var(--rounding-media);
    border-bottom-left-radius: var(--rounding-media);
}

.layout-tv .detailPageSecondaryContainer .detailPageContent {
    background: rgba(0, 0, 0, var(--headeropacity));
    border: var(--buttonborder);
    border-radius: var(--rounding-media);
}

/* Media Page */
.layout-tv .detailPagePrimaryContainer:has(.trackSelections) .detailPagePrimaryContent {
    padding-top: 1em;
    margin-top: 1em;
    border-top: var(--buttonborder);
    border-top-right-radius: var(--rounding-media);
    border-top-left-radius: var(--rounding-media);
}

.layout-tv .libraryPage:not(.hide):has(.trackSelections) .detailRibbon {
    padding-bottom: 1em;
}


/* TV Show */
.layout-tv .detailPagePrimaryContainer:has(.trackSelections.hide) .detailRibbon {
    border-bottom: var(--buttonborder);
    border-radius: var(--rounding-media);
    padding-bottom: 1em !important;
}
.layout-tv .detailPagePrimaryContainer:has(.trackSelections.hide) .detailPagePrimaryContent {
    background: transparent;
    border-color:  transparent;
}
.layout-tv .detailPagePrimaryContainer:has(.trackSelections.hide) .detailSectionContent {
    background: rgba(0, 0, 0, var(--headeropacity));
    border: var(--buttonborder);
    border-bottom: none;
    border-top-right-radius: var(--rounding-media);
    border-top-left-radius: var(--rounding-media);
}
.layout-tv .detailPagePrimaryContainer:has(.trackSelections.hide) .itemDetailsGroup {
    border: var(--buttonborder);
    border-top: none;
    border-bottom-right-radius: var(--rounding-media);
    border-bottom-left-radius: var(--rounding-media);
    background: rgba(0, 0, 0, var(--headeropacity));
}
.layout-tv .detailPagePrimaryContainer:has(.trackSelections.hide) .nextUpSection {
    border: var(--buttonborder);
    border-radius: var(--rounding-media);
    background: rgba(0, 0, 0, var(--headeropacity));
}


/* */ 
.layout-tv .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) #listChildrenCollapsible {
    border: var(--buttonborder);
    border-radius: var(--rounding-media);
    background: rgba(0, 0, 0, var(--headeropacity));
}

/* Episode List */
.layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage) .detailPagePrimaryContent {
    background: none;
    border-color: transparent;
}

.layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage) .itemGenres,
.layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage) .itemDetailsGroup,
.layout-tv .detailPagePrimaryContainer:has(.listItem-largeImage) .detailSectionContent {
    display: none;
}



