/*
────────────────────────────────────────────────────────────────────────────
   HomePage & Slides
──────────────────────────────────────────────────────────────────────────── */

:root {
    --slideshow-height: 68vh;
    --slideshow-content-top: 65vh;
    --slideshow-dots-reserve: max(5vh, 3rem);
    --slideshow-bottom-fade: linear-gradient(
        to top,
        #fff0 2%,
        rgb(0 0 0 / 0.5) 4%,
        #000 4%
    );

    --slideshow-video-side-fade: linear-gradient(
        to right,
        transparent 10%,
        black 30%
    );
}


/* ─ Layout Desktop ───────────────────────────────────────────────────────────── */
.layout-desktop {
    @media (max-width: 767px) and (orientation: portrait) {
        :root.sspure-marquee, :root.sspure-plate {
            --slideshow-height: 58vh;
            --slideshow-content-top: 54vh;
        }
        #slides-container.layout-marquee .slide-content,
        #slides-container.layout-marquee .dots-containert {
            transform: translateY(-25%);
        }
    }



    .slide-content .button-container button {
        padding: 1.5em !important;
        background-color: var(--bgdark20) !important;
    }
    .slide-content .button-container button:hover {
        background-color: var(--bgdark20) !important;
    }

    .homeSectionsContainer {
        margin-top: calc(var(--slideshow-content-top) - var(--slideshow-page-offset, 0px) - 5%);
    }

    @media (max-width: 767px) and (orientation: portrait) {
        .homeSectionsContainer {
            margin-top: calc(var(--slideshow-content-top) - var(--slideshow-page-offset, 0px) - 10%);
        }
    }
}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {

    /* Disable Slides in TV layout because they don't work well with a remote */
    #slides-container               { display: none !important; }
    .homeSectionsContainer          { margin-top: 0em !important; }

    /* User Button focus animation when profile image is set */
    .headerUserButtonRound          { border-radius: 100em !important; }
    .headerUserButtonRound:focus    { box-shadow: var(--buttonglow); }
}



/* this will die anyway... */
/* Layout Mobile ─────────────────────────────────────────────────────────── */
.layout-mobile {

    .homePage                   {
        padding-left: 0;
        padding-right: 0;
    }

    #slides-container           {
        height: 100%;
        position: absolute;
        top: 0;
    }

    #slides-container {
        .ss-settings-toggle,
        .pause-button,
        .volume-toggle          { top: 4em; }

        .ss-settings-toggle     { right: 2em; }
        .pause-button           { right: 5em; }
        .volume-toggle          { right: 8em; }
    }

    .slide                      { height: 80%; }

    .info-container             { top: 40vh; }
    .dots-container             { top: 59vh; }
    .button-container           { text-align: center; }

    @media (max-width: 767px)   {

        #slides-container {
            .ss-settings-toggle,
            .pause-button,
            .volume-toggle          { top: 4.5em; }
        }

        .slide                     { height: 70%; }
        .slide .backdrop-container { height: 85%; }

        .homeSectionsContainer {
            margin-top: calc(var(--slideshow-content-top) - var(--slideshow-page-offset, 0px) + -6%);
        }

        #slides-container.layout-marquee .slide-content { transform: translateY(1%); }

        #slides-container .button-container button { padding: 1.4em !important; }
    }
}

