/* Background-Boxes for some page content only for TV-Layout
──────────────────────────────────────────────────────────────────────────── */

:root {
    --boxborder: solid 1px hsla(0, 0%, 80%, .2);
}

/* No card shadows in sections with background */
.itemDetailPage .verticalSection .card .cardBox,
.itemDetailPage .verticalSection .card .cardScalable { box-shadow: none; }

/* Card Container */
.detailImageContainer .card {
    border: solid 1px hsla(0, 0%, 20%, .1);
}

.layout-desktop {

    /* Background & Blur for vertical media Sections */
    #searchPage .verticalSection,
    .itemDetailPage .verticalSection {
        background: rgba(0, 0, 0, var(--bgdarkness));
        border: var(--buttonborder);
        border-radius: var(--rounding-media);
        backdrop-filter: var(--blur);
    }

    /* Content alignment */
    .itemDetailPage .detailVerticalSection      { margin-bottom: 1em; }
    .detailPagePrimaryContent                   { padding: 0 1.5vw 0 32.45vw; }
    .detailPagePrimaryContainer .itemsContainer { padding: 0; margin: 0; }
    .detailPageSecondaryContainer               { padding: 0 1.5vw !important; }
    .detailSectionContent                       { padding-right: 1vw; }

    /* Section Titles */
    .itemDetailPage .sectionTitle,
    .itemDetailPage div:not(.sectionTitleContainer-cards)>.sectionTitle-cards {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    /* NextUp Section */
    .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) {
        #listChildrenCollapsible {
            margin-left: -31vw;
            margin-right: 0;
            margin-bottom: 1em !important;
        }
        .verticalSection { margin-bottom: 1em !important; }
    }

    /* Episode List */
    .itemDetailPage:has(.listItem-largeImage) {
        .detailPagePrimaryContainer .verticalSection {
            background: none;
            border: none;
            backdrop-filter: none;
        }
    }

    /* Home Page Slides */
    .slide {
        background: rgba(0, 0, 0, 1);
        border: var(--buttonborder);
        border-radius: var(--rounding-media);
        backdrop-filter: var(--blur);
    }

    /* Suggestion list */
    #searchPage .verticalSection { margin: .5em 2vw; }
}

.layout-tv {

    /* Background
    ──────────────────────────────────────────────────────────────────────────── */

    /* Background & Border */
    .detailRibbon,
    .detailPagePrimaryContent .detailSection,
    .itemDetailPage .verticalSection,
    .itemDetailPage:has(.listItem-largeImage) .detailSectionContent,
    #searchPage .verticalSection {
        background: rgba(0, 0, 0, var(--bgdarkness));
        border: var(--buttonborder);
        border-radius: var(--rounding-media);
        backdrop-filter: var(--blur);
    }

    /* Card Container */
    .detailImageContainer .card { margin-top: 0; }

    /* Detail Ribbon */
    [dir=ltr] .detailRibbon {
        padding: 1em 1.5em;
        margin-bottom: 1em;
    }

    /* Sections */
    .itemDetailPage .verticalSection { margin-bottom: 1em !important; }
    #listChildrenCollapsible:has(.verticalSection) {
        background: none;
        border: none;
        backdrop-filter: none;
    }

    /* Items Container */
    .itemDetailPage .verticalSection .itemsContainer {
        padding: 0;
        margin: 0 .5vw;
    }

    /* Section Titles */
    .detailPagePrimaryContent .sectionTitle,
    .detailPageSecondaryContainer .sectionTitle { border-radius: 0 !important; }

    /* Content */
    .detailPagePrimaryContainer   { margin-bottom: 1em; }
    .detailPagePrimaryContent     { padding: 0; }
    .detailPageSecondaryContainer { margin-top: 1em; }
    #listChildrenCollapsible      { margin-top: 1em !important; }

    /* Page: Media Details */
    .itemDetailPage:has(.trackSelections:not(.hide)) {
        .detailSection { padding: 1em 1.5em; }
        .detailPagePrimaryContainer { padding-right: 1vw}
    }

    /* Page: TV Show Overview */
    .itemDetailPage:has(.trackSelections.hide) {

        .detailSectionContent,
        .itemDetailsGroup {
            background: rgba(0, 0, 0, var(--bgdarkness));
            backdrop-filter: var(--blur);
            border: var(--buttonborder);
        }

        .detailPagePrimaryContent { padding-left: 0 !important; }
        .detailPagePrimaryContent .detailSection {
            background: none;
            border: none;
            backdrop-filter: none;
        }
        .detailSection > div:not(.verticalSection) {
            padding: .5em 1.5em .5em 1.5em;
            margin-top: 0;
        }
        .detailSectionContent {
            border-bottom: none;
            border-top-right-radius: var(--rounding-media);
            border-top-left-radius: var(--rounding-media);
            margin: 0;
            padding: 0 1.5em .5em 1.5em;
        }
        .itemDetailsGroup {
            border-top: none;
            border-bottom-right-radius: var(--rounding-media);
            border-bottom-left-radius: var(--rounding-media);
            margin-bottom: 1em;
            padding: .5em 1em 1em 1.5em;
        }
        .nextUpSection { margin-top: 0 !important; }

        .itemGenres:not(:has(div))  { display: none; }
        .overview.detail-clamp-text { margin: 0; }
    }

    /* Page: Episode List */
    .itemDetailPage:has(.listItem-largeImage) {
        .detailPagePrimaryContainer .verticalSection {
            background: none;
            border: none;
            backdrop-filter: none;
        }
        .detailSectionContent {
            margin-bottom: 1em !important;
            margin-top: 1em !important;
            border-bottom: var(--buttonborder) !important;
        }
        .verticalSection .itemsContainer { margin: 0 !important; }
        .itemDetailsGroup                { display:none; }
        #childrenContent                 { padding-left: 0 !important; }
    }

    /* Suggestion list */
    #searchPage .verticalSection { margin: .5em 2vw; }
}

.layout-mobile {

    /* Box for sub-elements */
    .trackSelections,
    .itemDetailsGroup,
    .detailSectionContent,
    .itemDetailPage .verticalSection,
    #searchPage .verticalSection {
        background: rgba(0, 0, 0, var(--bgdarkness));
        border: var(--boxborder);
        border-radius: var(--rounding-media);
    }

    /* Section Titles */
    .sectionTitle-cards {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        padding-left: 0;
    }

    .detailPagePrimaryContainer   { margin-bottom: 1em; }
    .detailPageSecondaryContainer { padding-top: 0em; }
    .detailPagePrimaryContent     { padding: 0 1vw 0 32.45vw; }

    .itemDetailPage .detailVerticalSection { margin-bottom: 1em; }

    .detailSectionContent {
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: .5em;
        padding: .5em 1em !important;
    }
    .itemDetailsGroup {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-bottom: 1em;
        margin-top: 0;
        padding: .5em 1em !important;
    }

    #listChildrenCollapsible:has(.verticalSection) {
        background: none;
        border: none;
    }
    #listChildrenCollapsible .verticalSection { margin-bottom: 1em; }

    .itemDetailPage .verticalSection .emby-scroller { margin: 0 1vw; }

    .listItem-largeImage { border: var(--boxborder) !important; }
    .overview p { margin: .5em 0 1em 0; }

    /* Page: Media Details */
    .itemDetailPage:has(.trackSelections:not(.hide)) {

        .detailSectionContent { padding: .5em 1em .5em 1em !important; }

        .itemDetailsGroup {
            padding: 1em !important;
            border-top: none;
            margin-bottom: 0;
        }

        .trackSelections {
            padding: 1em;
            margin-bottom: 1em;
            max-width: 100%;
        }
    }

    /* Page: Episode List */
    .itemDetailPage:has(.listItem-largeImage) {

        /* Box for sub-elements */
        .trackSelections,
        .itemDetailsGroup,
        .detailSectionContent {
            background: rgba(0, 0, 0, var(--bgdarkness));
            border: var(--boxborder);
        }

        /* No Box */
        .detailPagePrimaryContainer .verticalSection {
            background: none;
            border: none;
        }

        .detailPagePrimaryContainer { margin-bottom: 0; }

        @media(max-width: 50em) {
            .detailPageWrapperContainer .listItem-content { border-bottom: var(--boxborder) !important; }
        }

        .trackSelections,
        .detailSectionContent {
            border-bottom: none;
            border-top-right-radius: var(--rounding-media);
            border-top-left-radius: var(--rounding-media);
            margin-top: .5em;
        }

        .itemDetailsGroup {
            border-top: none;
            border-bottom-right-radius: var(--rounding-media);
            border-bottom-left-radius: var(--rounding-media);
            margin-bottom: 1em;
            padding: .5em 1em !important;
        }
    }

    /* Suggestion list */
    #searchPage .verticalSection { margin: .5em 2vw; }
}