/*
────────────────────────────────────────────────────────────────────────────
   Sections: Titles
──────────────────────────────────────────────────────────────────────────── */

/* Text & Icon */
.sectionTitleTextButton > .sectionTitle,
.sectionTitleTextButton > .material-icons {padding: 0;margin: 0;}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {
    /* Container */
    .sectionTitleContainer-cards,
    div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    /* Title */
    .sectionTitle { padding-left: 0 }

    /* NextUp Title */
    .nextUpSection .sectionTitleContainer-cards,
    .nextUpSection .sectionTitle {
        text-align: left !important;
        padding-left: .75em !important;
    }
}

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop {
    .libraryPage .sectionTitle                  {padding-left: 0;align-content: center;}
    .detailPagePrimaryContainer .sectionTitle   { padding-left: 2.5%; padding-right: 2.5% }
    .detailPageSecondaryContainer .sectionTitle { border-radius: 0 }
    h2.sectionTitle                             { font-weight: 500 }
    .settingsContainer .sectionTitle            { padding-left: .75em }

    .sectionTitleContainer-cards {text-align: center;align-content: center;padding: 10px}

    .detailPagePrimaryContent:has(.nextUpSection.hide) 
    .detailVerticalSection .sectionTitle-cards   { margin-left: -31.45vw; padding-left: 31.45vw }

    .detailPagePrimaryContainer #listChildrenCollapsible .sectionTitle-cards {
        padding-left: 0;
        margin-left: -.5vw;
    }

    /* Section Title NextUp */
    .detailPagePrimaryContainer .nextUpSection .sectionTitle {
        margin-left: -31.45vw;
        padding-left: 31.45vw;
        text-align: left;
    }

    div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
        padding: 10px 0;
        text-align: center;
    }

    /* Scroll Buttons in Section Titles */
    .verticalSection > .emby-scrollbuttons { padding: 0.4em }
}

/* Layout Mobile ─────────────────────────────────────────────────────────── */
.layout-mobile {
    .sectionTitle { font-size: 1.4em }

    /* Container */
    .sectionTitleContainer-cards,
    :not(.sectionTitleContainer-cards) > .sectionTitle-cards {
        text-align: center;
        padding: .35em 0 .35em 0;
    }

    /* Titles */
    .sectionTitleTextButton .sectionTitle-cards {
        text-align: center;
        padding: 0;
        font-size: 1.4em;
    }
    @media(max-width: 48.125em) {
        .homePage .sectionTitleContainer-cards,
        .homePage .sectionTitle-cards,
        #tvRecommendedPage .sectionTitleContainer-cards,
        #tvRecommendedPage .sectionTitle-cards,
        #moviesPage .sectionTitleContainer-cards,
        #moviesPage .sectionTitle-cards,
        #musicRecommendedPage .sectionTitleContainer-cards,
        #musicRecommendedPage .sectionTitle-cards { border-radius: 0 !important }
    }

    /* Text & Icon */
    .sectionTitle > .material-icons,
    .sectionTitleTextButton > .material-icons { padding: 0; margin: 0 }
}

/*
────────────────────────────────────────────────────────────────────────────
   Media Scroller
──────────────────────────────────────────────────────────────────────────── */

.emby-scroller {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.emby-scroller::-webkit-scrollbar { display: none }

/* ─ Layout Desktop ──────────────────────────────────────────────────────── */
.layout-desktop { 
    /* Emby Scroller */
    .emby-scroller                                       {padding: 0;margin: 0 .5vw;}
    .homePage .emby-scroller                             {padding: 0;margin: 0 1vw;}

    #tvRecommendedPage .verticalSection > .emby-scroller,
    #moviesPage .verticalSection > .emby-scroller,
    #albumsPage .verticalSection > .emby-scroller        { margin: .5vw 1vw }

    /* More Space to stretch Seasons Scroller */
    .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) #listChildrenCollapsible {
        margin-left: -30.5vw;
        margin-right: -1vw;
        margin-bottom: -1.5em !important;
    }

    /* Items Container */
    .itemsContainer                                      { padding: 0 }

    #suggestionsTab .itemsContainer,
    #genresTab .itemsContainer,
    #favoritesTab .itemsContainer,
    #tvRecommendedPage .verticalSection > .itemsContainer,
    #moviesPage .verticalSection > .itemsContainer,
    #albumsPage .verticalSection > .itemsContainer       { margin: 1em 1.5vw }
    #items .itemsContainer                               { margin: 0 }


    #resumableSection #resumableItems                    { margin-bottom: 0 }

    /* Items Container next to Alphapicker */
    .padded-right-withalphapicker .itemsContainer        { padding-left: 1%; padding-right: 3% }

    /* Items Container in PrimaryContainer */
    .detailPagePrimaryContainer .itemsContainer          { padding: 0; margin: 1vw .5vw }

    .detailPagePrimaryContainer .itemsContainer:has(.listItem-largeImage) { margin: 1vw 0vw }

    /* Special Items Container */
    .libraryPage .itemsContainer.padded-right-withalphapicker,
    .libraryPage .padded-right-withalphapicker > .itemsContainer,
    .libraryPage:has(.itemsViewSettingsContainer) .itemsContainer {
        padding-left: 1vw;
        padding-right: 2.5em;
        padding-top: 3.5em;
    }

    .libraryPage.noSecondaryNavPage > .padded-right {
        padding-left: 1vw;
        padding-right: 0em;
    }

    #episodesTab .itemsContainer,
    #musicRecommendedPage .itemsContainer {padding: 3.5em 2vw;}
    
    #episodesTab .itemsContainer:has(.listItem),
    #musicRecommendedPage .itemsContainer:has(.listItem) { padding: 4em 8vw; }
}

/* ─ Layout TV ───────────────────────────────────────────────────────────── */
.layout-tv {
    /* Emby Scroller */
    .emby-scroller                                        { margin: 0 .5vw; padding: 0; }
    #favoritesTab .verticalSection > .emby-scroller,
    #tvRecommendedPage .verticalSection > .emby-scroller,
    #moviesPage .verticalSection > .emby-scroller,
    #albumsPage .verticalSection > .emby-scroller         { margin: 0 1vw }

    /* Season Nextup Scroller */
    .detailPagePrimaryContent .detailSection:has(.nextUpSection:not(.hide)) #listChildrenCollapsible {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: -2em;
        margin-bottom: -.5em !important;
        margin-left: -27vw;
    }

    #itemDetailPage #listChildrenCollapsible:has(.overflowSquareCard) { margin-bottom: 0 !important; }

    /* Items Container */
    #episodesTab .itemsContainer                          { padding: 0 2em }

    #favoritesTab .verticalSection > .itemsContainer,
    #tvRecommendedPage .verticalSection > .itemsContainer,
    #moviesPage .verticalSection > .itemsContainer,
    #albumsPage .verticalSection > .itemsContainer        { margin: 0 1vw .5em 1vw; padding: 0}

    #seriesTab .itemsContainer,
    #moviesTab .itemsContainer,
    #albumsTab .itemsContainer                            { margin: 0 }
    #studiosTab .itemsContainer                           { padding: 0 2vw }

    /* Items Container with largeImage List */
    .detailPagePrimaryContainer .itemsContainer:has(.listItemImage-large-tv) {
        padding-right: 0em;
        padding-left: 0em;
    }
    #listChildrenCollapsible:has(.listItemImage-large-tv) { margin-bottom: 0 !important;}


    /* Music */
    .libraryPage:has(.listItem[data-action="playallfromhere"]) #listChildrenCollapsible .itemsContainer-tv {
        padding: 0;
        margin: 0;
    }
    #musicRecommendedPage .itemsContainer-tv { padding: 0; }
    #itemDetailPage #listChildrenCollapsible:has(.overflowSquareCard) .itemsContainer-tv { margin: 0 !important; }
}

/* Layout Mobile ─────────────────────────────────────────────────────────── */
.layout-mobile {
    /* Emby Scroller */
    .emby-scroller                     {padding: 0;margin: 0;}

    /* Items Container */
    .itemsContainer                    { padding: 0; }

    /* Center Content */
    .verticalSection .itemsContainer.vertical-wrap {
        justify-content: center;
        padding-right: 0em;
    }

    
    #tvRecommendedPage .itemsContainer {margin: 0 1vw;}

    #tvRecommendedPage .itemsContainer.vertical-wrap {margin: 0;}
    
    #favoritesTab .itemsContainer,
    #moviesPage .itemsContainer,
    #albumsPage .itemsContainer        {margin: 0 2vw;}

    #seriesTab .itemsContainer,
    #moviesTab .itemsContainer,
    #albumsTab .itemsContainer         { 
        margin: 0; 
        padding-top: 3em;
    }

    #episodesTab .itemsContainer         { 
        margin: 0; 
        padding-top: 3.5em;
    }

    /* Items Container with listItems */
    .pageTabContent .itemsContainer:has(.listItem-border) { 
        padding-right: 3% !important;
        padding-left: 3% !important;
    }
    
    .pageTabContent .padded-right-withalphapicker:has(.listItem-border) { padding: 0.5em 8% .5em 4% !important }
}
